<div class="feedback-actions"/>

<!-- this acts as a dock underlay -->
<div id="post-info-sneaky" class="passive">
  <div id="post-info-container-sneaky">
    <a href="#" rel="invoke-interaction-pane" class="invoker">
      <img src="{{imageUrl "up-tick-inset.png"}}" class="info-tick"/>
    </a>
  </div>
</div>

<!-- this closes an open interaction pane -->
<div id="close-reactions-pane">
  <div id="close-reactions-pane-container">
    <a href="#" rel="hide-interaction-pane" class="invoker"></a>
  </div>
</div>

