<div id="post-feedback"> </div>

<div id="post-info" style="display:none;">
  <div id="post-info-container">
    <img src="{{imageUrl "down-tick-inset.png"}}" class="info-tick"/>

    <div id="post-reactions"> </div>
    <div id="new-post-comment"> </div>
  </div>
</div>

