<div id="post-feedback"> </div>

<div id="post-info" style="display:fixed;">
  <div id="post-info-container">
    <div id="post-reactions"> </div>
    <div id="new-post-comment"> </div>
  </div>
</div>

