<a href="{{next_post}}" class="nav-arrow left" id="forward" rel="backbone">
  <div class="nav-arrow-inner">
    <img src="{{imageUrl "arrow-left.png"}}" />
  </div>
</a>

<a href="{{previous_post}}" class="nav-arrow right" id="back" rel="backbone">
  <div class="nav-arrow-inner">
    <img src="{{imageUrl "arrow-right.png"}}" />
  </div>
</a>
