<a href="#" class="nav-arrow left" id="forward">
  <div class="nav-arrow-inner">
    <img src="{{imageUrl "arrow-left.png"}}" />
  </div>
</a>

<a href="#" class="nav-arrow right" id="back">
  <div class="nav-arrow-inner">
    <img src="{{imageUrl "arrow-right.png"}}" />
  </div>
</a>
