<div id="new-post-comment-container">
  <form class="form-inline">
    <textarea class="new-comment-text" id="new-comment-text" placeholder="{{t "stream.comment"}}"></textarea>
    <button type="submit" class="btn btn-small">
      {{t "stream.comment"}}
    </button>
  </form>
</div>
