<div id="new-post-comment-container">
  <form class="form-inline">
    <textarea class="new-comment-text" id="new-comment-text" placeholder="{{t "stream.comment"}}" style="height: 18px; padding: 4px;"></textarea>
    <button type="submit" class="btn btn-small" style="font-size: 11px; line-height: 16px; padding: 5px 9px;">
      {{t "stream.comment"}}
    </button>
  </form>
</div>
