{{# if likes}}
  <div id="post-likes">
    <div class="well media">
      <div class="img">
        <i class="icon-heart icon-red"></i>
      </div>
      <div class="bd">
        {{#each likes}}
          {{#linkToPerson author}}
            {{{personImage this "small" "micro"}}}
          {{/linkToPerson}}
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}

{{# if reshares}}
  <div id="post-reshares">
    <div class="well media">
      <div class="img">
        <i class="icon-retweet icon-blue"></i>
      </div>
      <div class="bd">
        {{#each reshares}}
          {{#linkToPerson author}}
            {{{personImage this "small" "micro"}}}
          {{/linkToPerson}}
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}

<div id="post-comments"> </div>

