body > header, body #articles {
  font-size: .95em;
}

//body {
  //> header, > nav, > footer {
    //> div { padding: 0 15px; }
  //}
//}
//#page > div {
  //margin-right: 0;
  //#main { float: none; }
  //> aside { margin: 0; float: none; }
//}
//page > div > aside { float: none; }
//#main > * { padding-left: 15px; padding-right: 15px; }
