/* This file contains the CSS code corresponding to the header and the drawer (including the menu) of the mobile version */

header {
  position: fixed;
  height: 45px;
  top: 0px;
  z-index: 10;
  background: image-url('header-bg-long.jpg') rgb(40,35,35);
  @include box-shadow(0, 1px, 2px, #333);
  border-bottom: 1px solid #222;
}

#main_nav {
  width: 100%;

  #header_title {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 7px;
  }

  #nav_badges {
    float: right;
    margin: 7px 0px;
    display: inline-block;

    .badge {
      display: inline;
      margin: 0px 4px;
      padding: 10px 6px;
      font-weight: bold;
      font-size: smaller;
      background-color: transparent;

      img {
        height: 30px;
        width: 30px;
      }
    }

    .badge_count {
      @include border-radius(2px);
      z-index: 3;
      position: absolute;
      top: 3px;
      padding: 1px 3px;
      background-color: $red;
      margin-left: -8px;
    }

    #conversation_icon {
      height: 18px;
    }
  }
}

#drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 100%;
  background-color: #444;

          box-shadow: -2px 0px 2px 1px #333;
       -o-box-shadow: -2px 0px 2px 1px #333;
      -ms-box-shadow: -2px 0px 2px 1px #333;
     -moz-box-shadow: -2px 0px 2px 1px #333;
  -webkit-box-shadow: -2px 0px 2px 1px #333;

  header {
    position: static;
    left: 100%;
    right: -80%;

    #global_search {
      position: relative;

      form {
        position: absolute;
        left: 5px;
        right: 22%;

        input {
          @include box-shadow(0, 1px, 1px, #444);
          @include border-radius(15px);
          width: 100%;
          margin-top: 7px;
          background-color: #444;
          border: 1px solid #222;
          font-size: 13px;
          padding: 4px;
          color: black;

          &.active {
            background-color: $highlight-white;
            background-color: rgba(160,160,160,0.6);
          }

          &:focus {
            outline: none;
            background-color: white;
          }

          &::-webkit-input-placeholder { text-shadow: none; }
          &:-moz-placeholder { text-shadow: none; }
        }
      }
    }
  }

  nav {
    position: absolute;
    top: 45px;
    bottom: 0px;
    overflow: auto;
    width: 100%;

    li {
      font-size: 25px;
      line-height: 25px;
      font-weight: bold;
      color: $light-grey;
      border-bottom: solid rgb(53, 53, 53) 2px;
    }

    li:hover {
      background-color: $link-grey;
    }

    .no_border {
      padding: 0px;
      border-bottom: 0px;

      &:hover {
        background-color: transparent;
      }

      > ul > li > a {
        font-size: 14px;
        padding: 8px 42px;
      }
    }

    .hide {
      display: none;
    }

    .avatar {
      height: 35px;
      width: 35px;
      margin: -5px 5px;
      float: right;
    }
  }

  a {
    display: block;
    color: $light-grey;
    text-decoration: none;
    padding: 12px 25px;
  }

  ul {
    list-style: none;
    margin: 0px;
  }
}

/* This class is added when the user open the drawer */
#app.draw > * {
          transform: translateX(-80%);
       -o-transform: translateX(-80%);
      -ms-transform: translateX(-80%);
     -moz-transform: translateX(-80%);
  -webkit-transform: translateX(-80%);
}
