#settings_nav {
  border-bottom: 1px solid $border-grey;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  ul {
    padding: 0px;
    margin: 0px;
  }

  li {
    display: inline;
    font-size: 1.7rem;
    padding: 0px 0.3rem;

    &:first-child { padding-left: 0px; }
    &:last-child { padding-right: 0px; }
  }
}

.services_page {
  h3 {
    margin: 1rem 0px;
  }

  .services_explanation {
    border-top: 1px solid $border-grey;
    margin-top: 1rem;
    padding: 1rem;
  }
}

.applications-page {
  .applications-explenation {
    margin-bottom: 15px;
  }

  .application-img {
    margin: 9px 0;
    float: left;
    width: 60px;
    max-height: 60px;
    text-align: center;

    [class^="entypo-"] {
      font-size: 60px;
      height: 60px;
      margin: 0;
      padding: 0;
      width: 100%;
      &::before {
        position: relative;
        top: -15px;
      }
    }
  }

  .application-authorizations {
    width: calc(100% - 60px);
    padding: 0 0 15px 15px;
    display: inline-block;
    float: right;
  }
}
