-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%br
%br
%br
%br
%br
%h3{:style => 'text-align: center;'}
  = t('.find_your_friends_on_diaspora')
  %br
  %br
  %br
  = link_to image_tag('services/facebook_sign_in.png', :id => 'getting_started_logo', :width => 154, :height => 22), '/auth/facebook'

.submit_block
  = link_to "#{t('.skip')} →", getting_started_path(:step => @step+1), :class => 'button'
