<div class="span-24 last" id="notifications_overlay">
  <div class="stream notifications">
      {{# group_days}}
      
        <div class="day_group span-24 last">
            <div class="span-3">
              <div class="date">
                <div class="day">20</div>
                <div class="month">June</div>
              </div>
            </div>
            <div class="span-8 notifications_for_day"><div class="stream_element">
                <div class="right"></div>
                <span class="from">
                  <a href="/people/1" class="actor">Alice Smith</a>
                  <a href="#" class="object"></a>
                </span>
                <br>
                <time>2011-06-20T20:20:55Z</time>
              </div></div>
          </div></div>
      </div>
      {{/ group_days}}
  </div>
</div>