<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = '{{ site.disqus_short_name }}';
  var disqus_identifier = '{{ site.url }}{{ page.url }}';
  var disqus_url = '{{ site.url }}{{ page.url }}';
  //var disqus_developer = 1;
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
