
/%div.big_text#info_top
/welcome home, daniel.
/%p.description
/this is your diaspora dashboard, a place where you can catch a
/= link_to "glimpse", "#"
/of what all your friends are doing.

.span-15.append-2.last

  %div.small_text
    what's crackalackin', daniel?
  %div#publish
    - form_for 'StatusMessage' do |f|
      = f.text_field :thought

  %div.big_text
    recent activity
    %div.filters
      = link_to "displaying all", "#"


  %ul#stream
    - for post in @posts
      = render "status_messages/pane", :post => post

.span-7.last

  %div.info_pane
    %img{:src => "/images/mocks/bp.jpeg", :width => '100%', :class => "profile_image"}
    %div.big_text
      daniel grippi

  %div.info_pane
    %div.big_text
      requests

    %div.big_text
      %div.big_number= link_to "30", "#"
      new requests

