-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:data=>{:guid=>message.id}, :id => ('first_unread' if @first_unread_message_id == message.id)}
  .media
    .img
      = person_image_link(message.author, :size => :thumb_small)
    .bd
      = person_link(message.author, :class => 'author from')
      = timeago(message.created_at)

      %div{ :class => direction_for(message.text) }
        = message.message.markdownified
