%html
  %head
  %body
    %form{:action => '/account', :id => 'login', :method => 'get'}
      %label{:for => 'diaspora_handle'}
        Diaspora Handle
      %input{:type=>'text', :id => 'diaspora_handle', :name => 'diaspora_handle'}
      %input{:type => 'submit', :value => "Log in with Diaspora" }


        
