root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[{Gemfile,Rakefile,Guardfile,Procfile}]
trim_trailing_whitespace = true

[*.{js,hbs,rb,rake,ru,erb,haml,scss,sh,md}]
trim_trailing_whitespace = true

[*.yml]
trim_trailing_whitespace = false
