.bundle
.DS_Store
.idea
.rvmrc
*.swap
*.swo
*.swp
*~
bin/*
config/app_config.yml
config/fb_config.yml
config/initializers/secret_token.rb
db/*.sqlite3
log/*
nbproject
gpg/diaspora-development/*.gpg
gpg/diaspora-production/*.gpg
gpg/*/random_seed
public/uploads/*
public/source.tar
tmp/**/*
