language: ruby

rvm:
  - 2.2
  - 2.1

env:
  - DB=postgresql BUILD_TYPE=other
  - DB=mysql BUILD_TYPE=other
  - DB=postgresql BUILD_TYPE=cucumber
  - DB=mysql BUILD_TYPE=cucumber

sudo: false
cache:
  bundler: true
  directories:
    - app/assets/images

branches:
  only:
    - 'master'
    - 'stable'
    - 'develop'

before_install: gem install bundler
bundler_args: "--deployment --without development production --with mysql postgresql --jobs 3 --retry 3"

script: "./script/ci/build.sh"

notifications:
  irc:
    channels:
      - "irc.freenode.org:6667#diaspora-dev"
    template:
      - "%{repository_slug}#%{commit} (%{branch} - %{commit_message}): %{message} %{build_url}"
