language: ruby

rvm:
  - 2.4.2
  - 2.3.5

env:
  - DB=postgresql BUILD_TYPE=cucumber
  - DB=mysql BUILD_TYPE=cucumber
  - DB=postgresql BUILD_TYPE=other
  - DB=mysql BUILD_TYPE=other

sudo: false
cache:
  bundler: true
  directories:
    - app/assets/images
    - tmp/cache/assets

branches:
  only:
    - 'master'
    - 'next-minor'
    - 'develop'

before_install:
  - gem install bundler
  - mkdir travis-phantomjs
  - wget http://cifiles.diasporafoundation.org/phantomjs-2.1.1-linux-x86_64.tar.bz2 -O $PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2
  - tar -xvf $PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2 -C $PWD/travis-phantomjs
  - export PATH=$PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64/bin:$PATH

bundler_args: "--deployment --without development --with mysql postgresql --jobs 3 --retry 3"

script: "./script/ci/build.sh"

notifications:
  irc:
    channels:
      - secure: YvYkeTAw+5oOl/RaXVwu7JkKGNWPoFosNQRmLvJkBFbWzZ1s5LZD1u3+Qj819bT3lGzJu9pxmJg765IRYrGWmBi4mcAV3dpO6qowVdFTcorf0JsnLw3Kvkga9rrDunsRNr21KTAQqHOO5mKUzw9DtMzd52BiWuZwIj3xcl72gQI=
    template:
      - "%{repository_slug}#%{commit} (%{branch} - %{commit_subject}): %{message} %{build_url}"
