language: ruby

rvm:
  - 2.4.2
  - 2.3.5

env:
  - DB=postgresql BUILD_TYPE=cucumber
  - DB=mysql BUILD_TYPE=cucumber
  - DB=postgresql BUILD_TYPE=other
  - DB=mysql BUILD_TYPE=other

sudo: false
cache:
  bundler: true
  directories:
    - app/assets/images
    - tmp/cache/assets

addons:
  apt:
    packages:
      - libidn11-dev
      - ghostscript
  chrome: stable

services:
  - postgresql
  - mysql

branches:
  only:
    - 'master'
    - 'next-minor'
    - 'develop'

before_install:
  - script/ci/prepare.sh

script: "bin/rake --trace ci:travis:${BUILD_TYPE}"

notifications:
  irc:
    channels:
      - secure: YvYkeTAw+5oOl/RaXVwu7JkKGNWPoFosNQRmLvJkBFbWzZ1s5LZD1u3+Qj819bT3lGzJu9pxmJg765IRYrGWmBi4mcAV3dpO6qowVdFTcorf0JsnLw3Kvkga9rrDunsRNr21KTAQqHOO5mKUzw9DtMzd52BiWuZwIj3xcl72gQI=
    template:
      - "%{repository_slug}#%{commit} (%{branch} - %{commit_subject}): %{message} %{build_url}"
