branches:
  only:
    - 'master'
    - 'develop'

language: ruby
rvm:
  - 2.1
  - 2.0

env:
  - DB=postgres BUILD_TYPE=other
  - DB=mysql BUILD_TYPE=other
  - DB=postgres BUILD_TYPE=cucumber
  - DB=mysql BUILD_TYPE=cucumber


bundler_args: "--without development production heroku"
script: "./script/ci/build.sh"

notifications:
  irc:
    channels:
      - "irc.freenode.org:6667#diaspora-dev"
