branches:
  only:
    - 'master'
    - 'develop'

language: ruby
rvm:
  - 2.0.0
  - 1.9.3

env:
  - DB=postgres BUILD_TYPE=other
  - DB=mysql BUILD_TYPE=other
  - DB=postgres BUILD_TYPE=cucumber
  - DB=mysql BUILD_TYPE=cucumber


bundler_args: "--without development production heroku"
script: "./script/ci/build.sh"

addons:
  firefox: "26.0"

notifications:
  irc:
    channels:
      - "irc.freenode.org:6667#diaspora-dev"
