branches:
  only:
    - 'master'

rvm:
  - ree
  - 1.9.2
  - 1.9.3

env:
  - DB=postgres BUILD_TYPE=other
  - DB=mysql BUILD_TYPE=other

bundler_args: "--without development production"
before_script: "./config/ci/before-travis.sh"
script: "bundle exec rake travis"


notifications:
  irc:
    channels:
      - 'irc.freenode.org:6667#diaspora-dev'
