language: ruby

rvm:
  - 2.1
  - 2.0

env:
  - DB=postgres BUILD_TYPE=other
  - DB=mysql BUILD_TYPE=other
  - DB=postgres BUILD_TYPE=cucumber
  - DB=mysql BUILD_TYPE=cucumber

sudo: false
cache:
  bundler: true
  directories:
    - app/assets/images

branches:
  only:
    - 'master'
    - 'develop'

before_install: gem install bundler
bundler_args: "--without development production heroku --jobs 3 --retry 3"

script: "./script/ci/build.sh"

notifications:
  irc:
    channels:
      - "irc.freenode.org:6667#diaspora-dev"
