branches:
  only:
    - 'master'
    
language: ruby
rvm:
  - ree
  - 1.9.2

env:
  - DB=postgres BUILD_TYPE=other
  - DB=mysql BUILD_TYPE=other
  - DB=postgres BUILD_TYPE=cucumber
  - DB=mysql BUILD_TYPE=cucumber

before_install: 
  - "./script/ci/before_install.sh"

bundler_args: "--without development production heroku"
before_script: "./script/ci/before.sh"
script: "bundle exec rake travis"


notifications:
  irc:
    channels:
      - 'irc.freenode.org:6667#diaspora-dev'
