<div class='row'>
    <div class='span8 offset2 new-post-section'>

        <div class="new_picture"/>

        <form class="new-post">
            <fieldset>
              <legend>
                New Post
              </legend>
              <label>
                text
                <textarea class="text span8"/>
              </label>
              <textarea id="text_with_markup" style="display:none;"/>

              <div class="aspect_selector"></div>
              <div class="service_selector"></div>

              <input type="submit" class="btn-primary" value="Share" />
            </fieldset>
        </form>
    </div>
</div>
