<div class="img">
  {{#linkToPerson author}}
    {{{avatar this "small"}}}
  {{/linkToPerson}}
</div>

<div class="bd">
  {{#linkToPerson author}}
    {{name}}
  {{/linkToPerson}}

  {{#if root}}
    <i class="icon-retweet"></i>
    {{#linkToPerson root.author}}
      {{name}}
    {{/linkToPerson}}
  {{/if}}

  <div class="post-time">
    <i class="icon-time"></i>
    <time datetime="{{created_at}}" />
  </div>
</div>
