<div class="img">
  {{#linkToPerson author}}
    {{{avatar this "small"}}}
  {{/linkToPerson}}
</div>

<div class="bd">
  {{#linkToPerson author}}
    {{name}}
  {{/linkToPerson}}

  <div class="comment-content">
    {{{text}}}
  </div>
</div>
