<div id="user-controls">
  <a href="#" class="label profile" title="{{current_user.name}}">
    <i class="icon-user icon-white"></i>
  </a>
  <a href="#" class="label like" title="Like">
    <i class="icon-heart icon-white"></i>
  </a>
  <a href="#" class="label follow" title="Follow Post">
    <i class="icon-plus icon-white"></i>
  </a>
  <a href="#" class="label reshare" title="Reshare">
    <i class="icon-retweet icon-white"></i>
  </a>
  <a href="#" class="label comment" title="Comment">
    <i class="icon-comment icon-white"></i>
  </a>
</div>
