.span-24
  = render :partial => 'admins/admin_bar.haml'
%br
%br

.span-24.last
  %h1
    = t('.correlations_count')
  %table#metrics
    %tr
      %th Metric
      %th Result
    - @correlations_hash.keys.each do |k|
      %tr
        %td= k.to_s.gsub('_', ' ').split(' ').each{|word| word.capitalize!}.join(' ') 
        %td= @correlations_hash[k]
