- content_for :head do
  = stylesheet_link_tag :admin

.container
  .row
    .col-md-3
      = render partial: "admins/admin_bar"

    .col-md-9
      %h2
        = t(".pod_network")

      #pod-alerts
        / filled by backbonejs

      #pod-list
        / filled by backbonejs
