.span-24.last
  %h3
    = for tg in @popular_tags
      = link_to tg.first.first.name, tags_path(tg.first.first.name)

%br
%br

.span-12
  %h3
    New public posts
  .stream
    = render 'shared/stream', :posts => @new_posts

.span-12.last
  %h3
    Most Liked
  .stream
    = render 'shared/stream', :posts => @most_liked_posts
