- flash.each do |name, msg|
  .expose#flash-container
    .flash-message{class: "message alert alert-#{flash_class name}", role: "alert"}
      = msg

= render partial: "admins/user_search", locals: {nb_users: @users.count}
