-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.comment{:data=>{:guid => comment.id}, :class => ("hidden" if(defined? hidden))}
  = person_image_link(comment.person)
  .content
    %strong
      = person_link(comment.person)

    = markdownify(comment.text, :youtube_maps => comment.youtube_titles)

    .info
      %span.time
        = comment.created_at ? timeago(comment.created_at) : timeago(Time.now)
