-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.comment.posted{:data=>{:guid => comment.id}, :class => ("hidden" if(defined? hidden))}
  = person_image_link(comment.author)
  .content
    .from
      = person_link(comment.author)
      %time.timeago{:datetime => comment.created_at}
        = comment.created_at ? timeago(comment.created_at) : timeago(Time.now)

    %p
      = markdownify(comment.text, :youtube_maps => comment.youtube_titles)
