-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%ul.comments{:id => post.id, :class => ("hidden" if defined?(hidden) && hidden)}
  - for comment in post.comments
    = render 'comments/comment', :comment => comment, :person => comment.person
  %li.comment.show
    = render 'comments/new_comment', :post => post

