-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.comment{:data=>{:guid=>comment.id}, :class => ("hidden" if(defined? hidden))}
  .right
    %span.time
      = comment.created_at ? time_ago_in_words(comment.created_at) : time_ago_in_words(Time.now)
    -#.controls
      -#= link_to image_tag('deletelabel.png'), comment, :confirm => t('are_you_sure'), :method => :delete, :class => "delete comment_delete", :title => t('delete')


  = person_image_link(comment.author)
  .content
    .from
      = person_link(comment.author)
    %p{ :class => direction_for(comment.text) }
      = markdownify(comment.text, :youtube_maps => comment[:youtube_titles])

