%div.comments
  %ul.comment_set{:id => post.id}
    - for comment in post.comments
      = render 'comments/comment', :post => comment
    %li.comment.show
      = render 'comments/new_comment', :post => post
	 	
