-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%ul.comments{:id => post_id, :class => ("hidden" if comment_hashes.size == 0)}
  - for comment_hash in comment_hashes
    = render 'comments/comment', comment_hash
  %li.comment.show
    = render 'comments/new_comment', :post_id => post_id

