.well
  = t('.invited_by')
  .media
    .pull-right
      = render partial: "aspect_memberships/aspect_membership_dropdown", locals: {person: inviter}
    .media-left
      = person_image_link(inviter, size: :thumb_small, class: "media-object")
    .media-body
      = person_link(inviter)
