.well
  %strong
    = t(".invited_by")
  .media
    .pull-right
      = render partial: "aspect_memberships/aspect_membership_dropdown"
    .media-left
      = person_image_link(@person, size: :thumb_small, class: "media-object")
    .media-body
      = person_link(@person)
