-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  =javascript_include_tag 'contact-list'
.aspects
  - if !contact || !contact.persisted?
    %h4
      = link_to t('people.show.not_connected'),
        {:controller => "contacts",
        :action => "new",
        :person_id => person.id},
        :class => 'share_with button',
        :rel => 'facebox'
  - elsif contact.pending
    %h4
      = t('people.person.pending_request')

  - else
    .badges{:class => ("hidden" if !contact.persisted?)}
      = aspect_badges(aspects_with_person)
      %p
      = link_to t('.edit_membership'),
              {:controller => "contacts",
              :action => "edit",
              :id => contact.id,
              :person_id => person.id},
              :class => 'button',
              :rel => 'facebox'
