.people_stream
  - people.each do |person|
    .stream_element{:id => person.id}
      .media
        .img
          = person_image_tag(person)
        .bg
          %span.from
            = person_link(person, :class => "hovercardable")

  = will_paginate people, :inner_window => 3
