-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:id => person.id}

  .right{:style=>"display:inline;"}
    = render :partial => 'people/relationship_action',
             :locals => { :person => person, :contact => contact, :request => request}
    
  = person_image_link(person)

  .content
    %span.from
      =person_link(person)

    .info
      = person.diaspora_handle

