-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream_element{:id => person.id}
  .right
    = render :partial => 'people/relationship_action',
             :locals => { :person => person, :contact => contact,
                          :request => request, :current_user => current_user }

  = person_image_link(person)

  .content
    %span.from
      =person_link(person)

    .info
      = person.profile.format_tags(person.profile.tag_string)

