-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  %h1
    DIASPORA*

.aspect_list#aspects_list{:data=>{:person_id=>person.id}}
  %ul
    - for aspect in aspects_with_person
      = render :partial => 'aspects/aspect_list_item', 
               :locals => {:aspect => aspect, :person => person,
                           :contact => contact}

    - for aspect in aspects_without_person
      = render :partial => 'aspects/aspect_list_item', 
               :locals => {:aspect => aspect, :person => person,
                           :contact => contact}
