%ul#friend_stream.nav

  %h3 friends
  - for friend in @friends
    %li= person_image_link(friend)

  = link_to "all", people_path
  
  %hr
  %h3 following

  - for author in @subscribed_persons
    %li= link_to author.username, author_path(author)

= link_to "add a new person", new_request_path

