%ul#friend_stream.nav

  %h3 friends
  - for friend in @friends
    = person_image_link(friend)

  %li= link_to "view all", people_path
  
  %hr
  %h3 following

  - for author in @subscribed_persons
    %li= link_to author.username, author_path(author)

= link_to "add a new person", requests_path