{{#each photos}}
  <div class="photo-fill" style="background-image: url({{sizes.large}})">
    <div class="darken">
      <div class="darken-content">
        {{{../text}}}
      </div>
    </div>
  </div>
{{/each}}
