@import "mixins";

$main-color: #FF00FF;
$main-color-light-dark: darken($main-color, 10%);
$main-color-dark: darken($main-color, 36%);
$link-color: darken($main-color, 8%);

body {
  header {
    @include header-gradient($main-color-dark);
    border-color: $main-color-dark;

    #nav_badges > #notification_dropdown {
      a {
        color: $link-color;
      }

      .view_all {
        background-color: $main-color-light-dark;
      }
    }

    #global_search > form > input {
      background-color: lighten($main-color-dark, 10%);
      border-color: $main-color-dark;

      &:hover {
        background-color: lighten($main-color-dark, 12%);
      }

      &:focus {
        background-color: white;
      }
    }

    ul#user_menu.active {
      box-shadow: 0 1px 3px $main-color-dark;
      background-color: $main-color-dark;

      li {
        border-color: darken($main-color-dark, 5%);

        &.user-menu-item a:hover {
          background-color: lighten($main-color-dark, 15%);
        }
      }
    }
  }

  a,
  a.tag,
  .btn-link,
  #main_stream .stream_element > .media a.author-name,
  #hovercard h4 a,
  .stream_element .from a.self {
    color: $link-color;

    &:hover, &:focus {
      color: darken($link-color, 10%);
    }
  }

  #publisher_textarea_wrapper > #button_container > .help-block > a {
    color: lighten($link-color, 30%);
  }

  .btn.creation {
    @include button-gradient(lighten($main-color-dark, 5%));

    &:hover {
      background-color: lighten($main-color-dark, 12%);
    }
  }

  #main_stream .stream_element {
    &.post_preview {
      background-color: lighten($main-color, 45%);
      border-color: lighten($main-color, 40%);
    }
  }

  #leftNavBar .hoverable:hover { background-color: lighten($main-color, 45%) }

  .poll_form .progress .bar { background-color: darken($main-color, 15%) }

  #profile_container .profile_header #profile_horizontal_bar ul#profile_nav > li.active {
    border-bottom-color: $main-color-light-dark;
  }

  .badge { background-color: $main-color-light-dark }
}
