configuration:
  pod_count: 2
  pod1:
    uri: "http://pod1.diaspora.local" # it's optional
    revisions: ["origin/develop"] # it's mandatory
  pod2:
    uri: "http://pod2.diaspora.local"
    revisions: ["origin/develop", "origin/stable"]
