:css
  body{
    width:600px;
    font-family:'Arial','Helvetica',sans-serif;
    font-size:14px;
    color:#333;
    }
  #container{
    margin-bottom:25px
    min-height:400px;
    padding-left:15px;
  }
  header{
    margin-bottom: 25px;
  }
  p{
    padding:5px;
  }
  p.small{
    font-size:smaller;
    color:#999;
    font-style:italic;
  }
  a{
    color:#107FC9;
    font-weight:bold;
  }
  a:hover{
    color: #22AAE0;
  }
  a:active{
    color: #005D9C;
  }
  .large_text{
    font-size:21px;
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
  }
