- if @notification.comment.public?
  = @notification.comment.message.markdownified_for_mail
- else
  %p
    = t("notifier.mentioned_in_comment.limited_post")

%p
  = link_to t("notifier.mentioned_in_comment.reply"),
      post_url(@notification.comment.post, anchor: @notification.comment.guid)
