%p
  = post_message(@notification.post, :process_newlines => true, :length => 600)
%p
  = link_to t('notifier.comment_on_post.reply', :name => @notification.post.author.name), post_url(@notification.post)
