.subject
  .badge.badge-default.message-count.pull-right
    = conversation.messages.size
  - if unread_count > 0
    .badge.badge-important.unread-message-count.pull-right
      = unread_count

  %div{ :class => direction_for(conversation.subject) }
    = conversation.subject[0..30]
