.subject
  .message_count
    = conversation.messages.size
  - if unread_count > 0
    .unread_message_count
      = unread_count

  %div{ :class => direction_for(conversation.subject) }
    = conversation.subject[0..30]
