.stream-element.message{data: {guid: message.id}, id: ("first_unread" if @first_unread_message_id == message.id)}
  .media
    .media-left
      = person_image_link(message.author, size: :thumb_small, class: "media-object")
    .media-body
      = person_link(message.author, class: "author from")
      = timeago(message.created_at)

      %div{class: direction_for(message.text)}
        .message-content
          = message.message.markdownified
