:javascript
  $(document).ready(function () {
    var data = $.parseJSON( "#{escape_javascript(@contacts_json)}" );
    new app.views.ConversationsForm({
      contacts: data,
      prefillName: "#{h params[:name]}",
      prefillValue: "#{@contact_ids}"
    });
  });

= render 'conversations/new'
