-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- ["header",
  "feedback",
  "static_text",
  "stream_element",
  "comment_stream",
  "comment",
  "status_message",
  "activity_streams_photo",
  "reshare",
  "likes_info",
  "stream_faces"].each do |template_name|

  %script{:id => "#{template_name.gsub("_","-")}-template", :type => 'text/template'}
    != File.read("#{Rails.root}/app/views/templates/#{template_name}.jst")
