<span class="post_scope">
  <%= public ? "Public" : "Limited" %>
</span>
–

<a href="#" class="like_action" rel='nofollow'>
  <%= user_like ? "Unlike" : "Like" %>
</a>
·

<% if(public && author.id != current_user.id && (post_type == "Reshare" ? root : true)) { %>
  <a href="#" class="reshare_action" rel='nofollow'>
    Reshare
  </a>
  ·
<% } %>

<a href="#" class="focus_comment_textarea" rel="nofollow">
  Comment
</a>

