packages:
  yum:
    automake: []
    libffi-devel: []
    ImageMagick: []
    git: []
    patch: []
    bison: []
    libtool: []
  rubygems:
    rake: "10.0.3"
option_settings:
  - option_name: BUNDLE_WITHOUT
    value: test:development:heroku
  - option_name: DB
    value: mysql
  - option_name: ENVIRONMENT_CERTIFICATE_AUTHORITIES
    value: /etc/pki/tls/certs/ca-bundle.crt
files:
  "/var/app/support/secret_token.rb":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      Rails.application.config.secret_token = ENV['RAILS_SECRET_TOKEN']
    encoding: plain
  "/var/app/support/database.yml":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      production:
        adapter: mysql2
        encoding: utf8
        database: <%= ENV['RDS_DB_NAME'] %>
        username: <%= ENV['RDS_USERNAME'] %>
        password: <%= ENV['RDS_PASSWORD'] %>
        host: <%= ENV['RDS_HOSTNAME'] %>
        port: <%= ENV['RDS_PORT'] %>
        charset: utf8
        collation: utf8_bin
    encoding: plain
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_copy_config_files.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      . /opt/elasticbeanstalk/support/envvars

      cd $EB_CONFIG_APP_ONDECK

      mv $EB_CONFIG_APP_SUPPORT/secret_token.rb config/initializers/secret_token.rb
      mv $EB_CONFIG_APP_SUPPORT/database.yml config/database.yml
      mv config/diaspora.yml.example config/diaspora.yml

      true
    encoding: plain
