%ul#friend_stream.nav

  %h4 friends!
  - for friend in @friends
    %li= link_to friend.real_name, person_path(friend)
  
  %hr
  %h4 on other networks!

  - for author in @subscribed_persons
    %li= link_to author.username, author_path(author)

  %li= link_to "add a new person", new_request_path


