{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %}>
  <header>{% include header.html %}</header>
  <nav>{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url | smart_quotes  }}
      {% unless page.sidebar == false %}
        <aside role=sidebar>{% include sidebar.html %}</aside>
      {% endunless %}
    </div>
  </div>
  <footer>{% include footer.html %}</footer>
</body>
</html>
