{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == 'none' %} class="no-sidebar" {% endif %}>
  <header>{% include header.html %}</header>
  <nav>{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content }}
      {% unless page.sidebar == 'none' %}
        <aside role=sidebar>{% include sidebar.html %}</aside>
      {% endunless %}
    </div>
  </div>
  <footer>{% include footer.html %}</footer>
</body>
</html>
