-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%h1 Statistics

%ul
  - for statistic in @statistics
    %li= link_to statistic.created_at, statistic

= will_paginate @statistics

