-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%h3 Viewing statistic

%h2
  = "Users in sample: #{@statistic.users_in_sample}"
= image_tag(@google_chart_url)

%br
= link_to 'all statistics', statistics_path

