@mixin mobile-box {
  margin: 10px;
  padding: 0 15px;
  border: 1px #999 solid;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($left, $top, $blur, $color:#000){
  -webkit-box-shadow: $left $top $blur $color; 
  -moz-box-shadow: $left $top $blur $color; 
  box-shadow: $left $top $blur $color; 
}

@mixin linear-gradient($from, $to, $start:0%, $end:100%){
  background: mix($from,$to);

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})";
  
  background: -webkit-gradient(linear, 0% $start, 0% $end, from($from), to($to));
  background: -moz-linear-gradient(top, $from $start, $to $end);
}
