body
  :font
    :size 1em

a
  :text
    :decoration none

header
  :background
    :color #333
  :color #fff

ul
  :margin 0
  :padding 0

  li
    :padding 0.5em 0
    :border
      :bottom 1px solid #eee


#publisher
  :background
    :color #eee

  form
    :display inline

  textarea
    :height 3em
    :width 70%

  img
    :display inline
    :height 3em
    :width 3em

#stream
  .content
    :display inline

  img
    :height 3em
    :width 3em
    :display inline

  .comments
    :display none
