/* variables */


/* mixins */
@mixin center($orient:vertical) {
  display: -webkit-box;
  -webkit-box-orient: $orient;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: $orient;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: $orient;
  box-pack: center;
  box-align: center;
}

@mixin box-shadow($left, $top, $blur, $color) {
  -webkit-box-shadow: $left $top $blur $color;
  -moz-box-shadow: $left $top $blur $color;
  box-shadow: $left $top $blur $color;
}

@mixin background-cover() {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* styles */

.multi-photo {
  .img-bounding-box {
    @include center(horizontal);

    margin: 20px;
    height: 500px;
    width: 400px;
  }

  img {
    @include box-shadow(0, 3px, 15px, #999);

    max-width: 100%;
    max-height: 100%;
  }
}

.note {
  width: 550px;

  p {
    font-size: 20px;
    line-height: 28px;
  }
}

.status {
  h1 {
    font-weight: bold;
    font-size: 40px;
  }

  &.photo-backdrop {
    h1 {
      font-size: 100px;
    }
  }
}

.darken {
  @include center();

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.backdrop,
.photo-backdrop {
  @include center();
  @include background-cover();

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.photo-backdrop {
  h1 {
    color: #fff;
    z-index: 2;
  }
}

.rich-media {
  text-align: center;

  background-color: #333;

  h3 {
    color: #999;
  }

  iframe {
    @include box-shadow(0, 3px, 15px, #000);

    width: 857px;
    height: 480px;
  }
}

.nav-arrow {
  -o-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;

  position: fixed;
  z-index: 3;
  opacity: 0.2;

  top: 45%;

  &.left { left: 0; }
  &.right { right: 0; }

  &:hover {
    opacity: 0.6;
  }
}

#post-author-header {
  top: 20px;
  left: 20px;
  position: fixed;
  z-index: 10;
  font-size: 18px;
  font-weight: bold;

  img {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
  }
}
