body
  :padding 2em

#huge_text
  :margin
    :top 10%
  :display inline block
  :font
    :size 40px
    :weight bold
  :line-height 120px
  :letter
    :spacing -2px
  :color #eaeaea
  :text-shadow 0 1px 1px #999

  span
    :display inline
    :color #666

input
  :font
    :size 30px
  :text
    :align center
  :width 300px
  :margin
    :bottom 0
    :top 0

.container
  :top 30%
  :text
    :align center

