// Main Link Colors
$link-color: lighten(#165b94, 3);
$link-color-hover: adjust-hue($link-color, -200);
$link-color-visited: darken(adjust_hue($link_color, 70), 10);
$link-color-active: darken($link-color-hover, 15);

// Main Section Colors
$body-color: #333333;
$light-text: #999999;
$page-bg: #252525;
$article-border: #eeeeee;
$main-bg: #f5f5f5;

$header-bg: #333;
$header-border: lighten($header-bg, 15);
$title-color: #f2f2f2;
$subtitle-color: #aaa;

$type-border: #ddd;
$type-color-light: #555;
$type-color: #222;

$nav-bg: #ccc;
$nav-color: darken($nav-bg, 38);
$nav-color-hover: darken($nav-color, 25);
$nav-border: darken($nav-bg, 10);
$nav-border-top: lighten($nav-bg, 15);
$nav-border-bottom: darken($nav-bg, 25);
$nav-border-left: darken($nav-bg, 11);
$nav-border-right: lighten($nav-bg, 7);

$sidebar-bg: #eee;
$sidebar-color: change-color(mix($type-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2);
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10);
$sidebar-border: darken($sidebar-bg, 7);
$sidebar-link-color: $link-color;
$sidebar-link-color-hover: $link-color-hover;
$sidebar-link-color-subdued: lighten($sidebar-color, 20);
$sidebar-link-color-subdued-hover: $link-color-hover;//darken($sidebar-link-color-subdued, 20);
$twitter-status-link: lighten($sidebar-link-color-subdued, 15);

$footer-color: #999999;
$footer-bg: #ccc;
$footer-color: darken($footer-bg, 38);
$footer-color-hover: darken($footer-color, 10);
$footer-placeholder: desaturate(darken($footer-bg, 10), 15);
$footer-border-top: lighten($footer-bg, 15);
$footer-link-color: darken($footer-bg, 38);
$footer-link-color-hover: darken($footer-color, 25);
$page-border-bottom: darken($footer-bg, 5);

// Form Colors
$fieldset-bg: #ececec;
$fieldset-border: #c3c3c3;

$textinput-color: #333333;
$textinput-bg: #f4f4f4;
$textinput-bg-focus: #fefeee;

$textinput-border-top: #aaaaaa;
$textinput-border-bottom: #c6c6c6;
$textinput-border-left: #c3c3c3;
$textinput-border-right: #c3c3c3;
$textinput-border-focus: #989898;

#articles a, #articles + aside a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
a { @include transition(color, .5s); }
