---
layout: default
---
<div id="content">
  <div class="post">
    <h1 class="post-title">{{ page.month | date_to_month }} {{ page.year }}</h1>
    <p class="lead">Posts from {{ page.month | date_to_month }}, {{ page.year }}</p>
    <ul>
      {% for d in (1..31) reversed %}
      {% if page.collated_posts[page.year][page.month][d] %}
      {% for p in page.collated_posts[page.year][page.month][d] reversed %}
      <li><a href='{{ p.url }}'>{{ p.title }}</a></li>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

