---
blog_title: My Blog
---

!!! 1.1 Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")
  %head
    %title= page.title
    - if page.respond_to? :description
      %meta{:name=>"description", :content=>page.description}/
    - if page.respond_to? :keywords
      %meta{:name=>"keywords", :content=>page.keywords}/
    %link(href="/stylesheets/screen.css" rel="stylesheet" media="screen projection" type="text/css")
    %link(href="/blog/atom.xml" rel="alternate" title="Brandon Mathis - Design Enthusiast" type="application/atom+xml")
  %body
    #header
      .page_width
        %a.title(href="/")=page.blog_title
        %ul#header_nav.nav
          %li.alpha
            %a(href="/archives") Archives
          %li.omega
            %a(href="/atom.xml") Subscribe
    #page
      .page_width
        = content
    #footer
      .page_width Footer