---
permalink: /blog/:year/:month/:day/:title
---
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.no_sidebar %} class="no-sidebar" {% endif %}>
  <header><div>{% include header.html %}</div></header>
  <nav><div>{% include navigation.html %}</div></nav>
  <div>
    <div>
      <div id="articles">{{ content }}</div>
      {% unless page.no_sidebar %}
        <aside>{% include sidebar.html %}</aside>
      {% endunless %}
    </div>
  </div>
  <footer><div>{% include footer.html %}</div></footer>
  <!--[if (lt IE 9) & (!IEMobile)]>
  <script src="javascripts/libs/ie/DOMAssistantCompressed-2.8.js"></script>
  <script src="javascripts/libs/ie/selectivizr-1.0.1.js"></script>
  <script src="javascripts/libs/ie/respond.min.js"></script>
  <![endif]-->
</body>
</html>
