html {
  background: $page-bg image-url('line-tile.png') top left;
}
body {
  > div {
    background: $sidebar-bg image-url('noise.png') top left;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg image-url('noise.png') top left;
      border-right: 1px solid $sidebar-border;
    }
  }
}
