html {
  background: $page-bg inline-image('line-tile.png') top left;
}
body {
  border: 0 0 1px 0 solid darken($page-bg, 5);
  > div {
    background-color: $sidebar-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background-color: $main-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}

@media only screen and (min-width: 1400px) {
  body { border: 0 1px 0 solid darken($page-bg, 5); }
}
