html {
  background: $page-bg inline-image('line-tile.png') top left;
}
body {
  > div {
    background-color: $sidebar-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background-color: $main-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}
