// Link Colors
$link_color: lighten(#165b94, 0.3);

// Main Section Colors
$body_color: #333333;
$light_text: #999999;
$body_bg: #323232;

$header_bg: #323232;
$header_border: #181818;
$title_color: #dddddd;

$nav_color: #555555;
$nav_color_hover: black;
$nav_bg: #e8e8e8;
$nav_border_top: white;
$nav_border_bottom: #aaaaaa;
$nav_border_left: #cccccc;
$nav_border_right: white;

$sidebar_bg: #f2f2f2;
$sidebar_border: #d5d5d5;

// Blog
$article_border: #eeeeee;
$main_bg: #fff;

$footer_color: #999999;
$footer_bg: #444444;

// Form Colors
$fieldset_bg: #ececec;
$fieldset_border: #c3c3c3;

$textinput_color: #333333;
$textinput_bg: #f4f4f4;
$textinput_bg_focus: #fefeee;

$textinput_border_top: #aaaaaa;
$textinput_border_bottom: #c6c6c6;
$textinput_border_left: #c3c3c3;
$textinput_border_right: #c3c3c3;
$textinput_border_focus: #989898;

$twitter_topic: #888888;
