#articles + aside { display: none; }
body > nav {
  .site-serch {
    width: 10em;
    .search { width: 100%; background-color: #f6f6f6; }
  }
}

body > nav, body > footer, body > div > div {
  padding-left: .5em;
  padding-right: .5em;
}
body > * { font-size: .8em; }
body > header {
  font-size: .5em;
  padding: .4em .5em;
}
header, #{headings()} { text-align: center; }
.site-search {
  margin: .15em 0 0; padding: 0;
  .search {
    padding: .3em .8em 0;
    line-height: 1.5em;
    font-size: .85em;
  }
}
