a {
  color: #1981f7;
  text-decoration: none;
  border-bottom: dotted 1px #999999; }

h1,
h2,
h3,
h4 {
  text-shadow: 1px 1px 1px #eaeaea; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

#header {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em; }
  #header #diaspora_text {
    border: none; }
  #header #session_action {
    float: right; }
  #header ul.nav {
    padding: 0;
    margin: 0;
    display: block; }
    #header ul.nav li {
      display: inline;
      margin-right: 1em; }

ul#stream {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul#stream li {
    list-style: none; }
  ul#stream > li {
    padding: 2em 0;
    border-bottom: 1px solid #666666; }
    ul#stream > li > ul {
      padding: 0;
      margin: 0; }
