body {
  font-family: "helvetica", "arial", "sans-serif"; }

a {
  color: #cc1e14;
  text-decoration: none;
  border-bottom: dotted 1px #999999; }

h1,
h2,
h3,
h4 {
  text-shadow: 1px 1px 1px #eaeaea; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

#header {
  height: 30px;
  color: white;
  font-size: 110%;
  background-color: #1a1a21;
  border-bottom: 1px solid white;
  padding-top: 5px; }
  #header #huge_star {
    position: absolute;
    font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
    font-size: 60px;
    top: -15px; }
  #header #diaspora_text {
    border: none; }
  #header #session_action {
    float: right;
    font-size: 110%;
    margin-top: 1px; }
    #header #session_action a {
      color: #cccccc;
      border: none; }
      #header #session_action a:hover {
        color: white; }

ul.nav {
  padding: 0;
  margin: 0;
  font-size: 130%;
  position: absolute;
  margin-top: -62px; }
  ul.nav li {
    display: inline;
    margin-right: 1em;
    padding: 5px 10px;
    background: #f2f8fc;
    border: 1px solid white;
    border-bottom: none; }
  ul.nav li:first-child {
    background: white; }
  ul.nav li:last-child {
    margin: 0; }
  ul.nav a {
    border-bottom: none;
    color: #b1cfe3; }
    ul.nav a:hover {
      color: #cccccc; }

#header_below {
  background-color: #e6eff7;
  text-align: right; }

#left_pane {
  background-color: #e6eff7;
  border-radius: 5px; }

ul#stream {
  margin: 0;
  padding: 0;
  text-shadow: 0 1px white;
  color: #666666; }
  ul#stream > li {
    list-style: none;
    padding: 2em;
    -webkit-box-shadow: 0 4px 5px -5px #999999;
    min-height: 40px; }
    ul#stream > li img.avatar {
      background: white;
      padding: 2px;
      border: 1px solid #eaeaea;
      border-radius: 3px; }

sp.message {
  font-size: 120%;
  color: #999999;
  text-shadow: none; }
  sp.message sp.from {
    color: black; }
  sp.message sp.time {
    color: #cccccc;
    font-size: 80%; }

div.big_text {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px; }
  div.big_text p.description {
    font-weight: normal;
    color: #999999; }
  div.big_text .big_number {
    font-size: 300%;
    line-height: 100%; }
    div.big_text .big_number a {
      border: none; }

#publish input {
  font-size: 30px;
  padding: 7px;
  border-radius: 5px;
  width: 90%; }

#profile_image {
  margin-top: 0;
  width: 100px;
  border: 2px solid #eaeaea; }

.yellow {
  background: #fffdb8;
  border: 1px solid #e3e08d; }
