@font-face {
  font-family: "BrandonGrotesqueLightRegular";
  src: url("brandongrotesque_light/Brandon_light-webfont.eot");
  src: local("â˜º"), url("brandongrotesque_light/Brandon_light-webfont.woff") format("woff"), url("brandongrotesque_light/Brandon_light-webfont.ttf") format("truetype"), url("brandongrotesque_light/Brandon_light-webfont.svg#webfont") format("svg");
  font {
    weight: normal;
    style: normal; } }

body {
  padding: 2em;
  margin: 0; }

a {
  color: #018790;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    color: #018790; }

#flash_notice,
#flash_error,
#flash_alert {
  z-index: 60;
  position: absolute;
  padding: 5px 8px;
  margin: 0;
  width: 400px;
  top: 0px;
  margin-left: 230px;
  color: #666666; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

header {
  position: relative;
  margin: -2em;
    margin-bottom: 1em;
  color: #555555;
  background-color: #2b2726;
  border-bottom: 3px solid #333333;
  padding: 6px 0;
    padding-top: 0; }
  header #diaspora_text {
    font-family: "BrandonGrotesqueLightRegular";
    font-size: 24px;
    position: absolute;
    border: none;
    color: white;
    text-shadow: 0 2px 0 black; }
    header #diaspora_text a {
      color: #666666; }
    header #diaspora_text span.sub_text {
      color: black;
      text-shadow: none; }
  header #session_action {
    float: right;
    margin-top: 9px;
    text-shadow: 0 1px 0 black;
    padding-right: 10px; }
    header #session_action a {
      color: #777777;
      border: none; }
      header #session_action a.new_requests {
        color: #df0101; }

#show_filters {
  z-index: 100;
  position: absolute;
  right: 0;
  text-align: right; }

#show_filters > a {
  border: 1px solid #666666;
  padding: 5px; }

#main {
  width: 100%; }

ul#stream, ul#friend_stream {
  margin: 0;
  padding: 0;
  color: #666666; }
  ul#stream > li, ul#friend_stream > li {
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 5px; }

ul#friend_stream > li {
  padding: 0.2em 0; }
ul#friend_stream img {
  width: 25px;
  max-width: 25px;
  position: relative;
  float: none;
  display: inline; }

li.message {
  position: relative;
  line-height: 140%;
  font-family: "Lucida Grande", sans-serif;
  color: #999999; }
  li.message span.from {
    color: black;
    font-weight: normal;
    margin-right: 0.2em;
    font-size: 110%; }
  li.message div.time {
    color: #bababa;
    font-size: 70%; }

h1 {
  position: relative;
  font-size: 21px;
  font-weight: bold;
  line-height: 36px; }
  h1 p.description, h1 span.description {
    font-weight: 200;
    color: #999999;
    padding: 0.1em; }

h3 {
  position: relative;
  font-size: 18px;
  font-weight: bold; }

form {
  font-size: 120%;
  margin: 1em;
  margin-left: 0em; }

#user_name {
  display: inline;
  margin-bottom: 1em;
  font-size: 70px;
  line-height: 100px; }
  #user_name a {
    color: black; }
  #user_name span {
    line-height: 140px;
    font-size: 30%;
    color: #dddddd;
    float: right; }

#latest_message {
  font-weight: normal; }

#stream div.comments {
  display: none; }

#stream ul.comment_set {
  padding: 0;
    padding-left: 1em; }

ul.comment_set {
  margin: 0;
    margin-top: 1em;
  padding: 0;
  list-style: none;
  width: 90%; }
  ul.comment_set li.comment {
    margin-bottom: 0.5em;
    background-color: #f2f8fc;
    background-color: rgba(10, 81, 109, 0.1);
    padding: 0.6em;
    border-bottom: 1px solid #cccccc; }
    ul.comment_set li.comment .from {
      color: #666666;
      font-weight: normal; }
      ul.comment_set li.comment .from a {
        color: #333333;
        font-weight: bold; }
    ul.comment_set li.comment form {
      margin-top: -5px;
      padding-bottom: 8px; }

#stream img.person_picture, #profile img.person_picture,
.comments img.person_picture {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: inline block;
  height: 30px;
  display: absolute;
  float: left;
  margin-right: 10px; }

.pagination a {
  padding: 3px; }

.destroy_link, .request_button {
  position: absolute;
  right: 0;
  bottom: 15px; }
  .destroy_link a, .request_button a {
    color: #999999;
    font-weight: normal; }

.destroy_link {
  display: none;
  font-size: smaller; }

.request_buttons {
  position: absolute;
  right: 0;
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0; }
  .request_buttons > li {
    display: inline; }
    .request_buttons > li:first-child {
      margin-right: 1em; }

#show_photo {
  text-align: center;
  min-height: 200px; }
  #show_photo img {
    max-width: 100%; }

#debug_info {
  margin-top: 20px; }

input[type='text'], textarea {
  font-family: "lucida grande", "sans-serif";
  font-size: 14px;
  padding: 0.3em;
  display: block;
  width: 100%;
  box-shadow: 0 2px 0px white;
  -webkit-box-shadow: 0 2px 0px white;
  -moz-box-shadow: 0 2px 0px white;
  border-top: 1px solid #999999;
  height: auto;
  border-radius: 3px;
  -moz-border-radius: 3px; }

input[type='submit'] {
  display: block;
  float: right; }

form p {
  position: relative;
  padding: 0;
  margin: 0; }

label {
  color: #999999;
  position: absolute;
  top: 3px;
  left: 0.48em; }

#publisher {
  background-color: rgba(10, 81, 109, 0.05);
  border-bottom: 2px #999999 solid;
  color: #999999;
  padding: 20px 1em;
    padding-top: 10px; }

#new_blog,
#new_bookmark {
  display: none; }

ul#publisher_content_pickers {
  display: inline;
  margin: 0 -10px;
  padding: 0;
  margin-left: 10px; }

ul#publisher_content_pickers li {
  display: inline;
  padding: 5px 10px;
  margin-right: 5px; }

#publisher .selected {
  border-bottom: 3px solid #999999;
  background-color: rgba(10, 81, 109, 0.1); }

#image_picker .small_photo {
  height: 100px;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em; }
  #image_picker .small_photo img {
    border-radius: 3px; }
  #image_picker .small_photo input[type='checkbox'] {
    position: absolute; }
#image_picker .selected {
  -webkit-box-shadow: 0 3px 6px black;
  -moz-box-shadow: 0 3px 6px black;
  border: 1px solid white; }

/* cycle it! */
.album {
  position: relative;
  height: 200px;
  width: 300px;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 2em; }
  .album .name {
    position: absolute;
    z-index: 600;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
    bottom: 20px;
    font-size: 18px;
    text-shadow: 0 2px 0 black; }
    .album .name .time {
      font-size: 12px; }
      .album .name .time a {
        font-weight: normal; }
  .album div.image_cycle img {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }

.field_with_submit input[type='text'] {
  width: 82%;
  display: inline; }

h1.big_text {
  position: relative;
  line-height: auto;
  border-top: 2px solid #666666;
  border-bottom: 1px solid #666666;
  text-align: center; }

.right {
  float: right;
  margin-top: 6px; }

.back {
  position: absolute;
  font-size: 12px; }

#content_bottom {
  position: relative;
  line-height: 36px;
  margin-top: 25px;
  margin-bottom: 25px;
  min-height: 36px;
  border-top: 1px solid #999999;
  border-bottom: 2px solid #eeeeee; }

.show_post_comments ul.comment_set {
  width: 100%; }

.sub_header {
  text-align: center;
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 20px;
  color: #999999; }
