body {
  padding: 2em; }

#huge_text {
  display: inline block;
  font-size: 40px;
  font-weight: bold;
  line-height: 120px;
  letter-spacing: -2px;
  color: #eaeaea;
  text-shadow: 0 1px 1px #999999; }
  #huge_text span {
    display: inline;
    color: #666666; }

input {
  font-size: 30px;
  width: 200px;
  margin-bottom: 0;
  margin-top: 0; }

form p {
  position: relative;
  padding: 0; }

label {
  color: #999999;
  position: absolute;
  top: 3px;
  left: 0.48em;
  font-size: 14px;
  font-weight: normal; }

input[type='text'],
input[type='password'] {
  font-family: "lucida grande", "sans-serif";
  font-size: 14px;
  padding: 0.3em;
  display: block;
  width: 395px;
  box-shadow: 0 2px 0px white;
  -webkit-box-shadow: 0 2px 0px white;
  -moz-box-shadow: 0 2px 0px white;
  border-top: 1px solid #999999;
  height: auto;
  border-radius: 3px;
  -moz-border-radius: 3px; }

#user {
  display: inline;
  width: 500px; }
  #user .username {
    width: 200px;
    display: inline; }
    #user .username input {
      display: inline;
      width: 200px; }
  #user .user_network {
    width: 200px;
    display: inline;
    font-size: 18px; }
