.button, .button_set {
  font-family: "Lucida Grande", sans-serif;
  font-style: normal;
  display: inline;
  padding: 4px;
  font-size: 12px;
  line-height: 100%;
  text-shadow: 0 1px 0 white;
  min-height: 10px;
  background: -webkit-gradient(linear, 0% 29%, 0% 85%, from(#fcfcfc), to(#f6f6f6));
  background: -moz-linear-gradient(top, #fcfcfc, #f6f6f6);
  border: 1px solid #eeeeee;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 1px #eeeeee;
  -webkit-box-shadow: 0 1px 1px #eeeeee;
  -moz-box-shadow: 0 1px 1px #eeeeee;
  font-weight: normal;
  color: #666666; }
  .button:hover, .button_set:hover {
    color: #666666;
    background: -webkit-gradient(linear, 0% 29%, 0% 85%, from(#fafafa), to(#f0f0f0));
    background: -moz-linear-gradient(top, #fafafa, #f0f0f0); }
  .button:active, .button_set:active {
    color: #666666;
    background: -webkit-gradient(linear, 0% 29%, 0% 85%, from(#f0f0f0), to(#fafafa));
    background: -moz-linear-gradient(top, #f0f0f0, #fafafa);
    border-top: 1px solid #cccccc; }

input.button {
  padding: 5px;
    padding-bottom: 6px; }

ul.button_set {
  padding-left: 0;
  padding-right: 0; }
  ul.button_set > li {
    padding: 5px;
    display: inline;
    height: 100%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid white;
    margin-left: -3px;
    margin-right: -3px; }
    ul.button_set > li:first-child {
      margin-left: 0;
      border-left: none; }
    ul.button_set > li:last-child {
      margin-right: 0;
      border-right: none; }

.button .selected, .button_set .selected {
  background: -webkit-gradient(linear, 0% 29%, 0% 85%, from(#f0f0f0), to(#fafafa));
  background: -moz-linear-gradient(top, #f0f0f0, #fafafa);
  border-top: 1px solid #aaaaaa; }

.right {
  position: absolute;
  right: 0; }

.contextual_pane {
  z-index: 20;
  position: absolute;
  display: none;
  background-color: white;
  border: 4px solid black;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 10px black;
  padding: 2em; }
