#footer
  +linear-gradient(color-stops(darken($body-bg, 5), $body-bg))
  font-size: $base-font-size-small
  color: $footer-color
  border-top: 10px solid $footer-bg
  padding: 15px 0
  position: relative
  z-index: 2
  a
    color: #dddddd
    &:hover
      color: white
