#header
  background-color: $header_bg
  border-bottom: 1px solid #{$header_border}
  padding: 25px 0
  h1
    display: inline-block
    margin: 0
    a.title
      font-weight: normal
      color: #{$title_color}
      text-decoration: none