#nav
  +clearfix
  position: relative
  z-index: 1
  background-color: #{!nav_bg}
  +linear-gradient(color_stops(#fcfcfc, #f4f4f4 .3, #ddd))
  border:
    top: 1px solid #{!nav_border_top}
    bottom: 1px solid #{!nav_border_bottom}
  ul
    position: relative
    +horizontal-list
    margin: 0 auto
    padding: 6px 0
    li
      padding: 0 15px
      border-left: 1px solid #{!nav_border_left}
      border-right: 1px solid #{!nav_border_right}
      &.alpha
        border-left: none
        padding-left: 0
      &.omega
        border-right: 0
      &.subscribe
        position: absolute
        left: #{!page_width - !sidebar_width - !sidebar_margin/2}
        border: none
        a
          display: inline-block
          padding-left: 28px
          background: url("/images/rss.png") left top no-repeat
      a
        display: inline-block
        color: #{!nav_color}
        line-height: 150%
        text-decoration: none
        &:hover
          color: #{!nav_color_hover}