#collapser
  +sans-font
  display: block
  cursor: pointer
  background: #f8f8f8
  color: #888
  padding: 5px 10px
  font-size: 10px
  line-height: 150%
  cursor: pointer
  position: absolute
  top: 0
  right: 0