#twitter, #delicious
  +border-radius
  background: #f8f8f8
  border: 1px solid #eee
  padding: 5px 0
  ul
    list-style-type: none
    margin: 0
  li
    margin: 0 15px
    padding: 10px 0 0
    border-bottom: #ddd 1px dashed
    &:last-child
      border-bottom: 0

#delicious
  p
    font-style: italic
  li
    color: #666
    font-style: normal
    padding-bottom: 8px