#twitter
  font-size: 80%
  +border-radius
  background: #f3f3f3
  padding: 5px 0
  p
    margin: 0 15px
    padding: 12px 0
    border-bottom: #ddd 1px dotted
    line-height: 1.625em
    &:last-child
      border-bottom: 0