#twitter
  font-size: 80%
  +border-radius
  background: #f8f8f8
  border: 1px solid #eee
  padding: 5px 0
  ul
    list-style-type: none
    margin: 0
  li
    margin: 0 15px
    padding: 10px 0 0
    border-bottom: #ddd 1px dashed
    line-height: 1.625em
    &:last-child
      border-bottom: 0
    p
      padding-bottom: 10px
    .meta
      color= !light_text
      font-size: 80%
      display: block
      padding: 8px 0 0
      a
        color: inherit
        text-decoration: none
        &:hover
          text-decoration: underline