.media.stream-element{data:  {
                        guid: note.id,
                        type: (NotificationService::NOTIFICATIONS_JSON_TYPES.key(note.type) || "")
                      },
                      class: (note.unread ? "unread" : "read")}
  .unread-toggle.pull-right
    %i.entypo-eye{title: (note.unread ? t("notifications.index.mark_read") : t("notifications.index.mark_unread"))}
  - if note.type == "Notifications::StartedSharing" && (!defined?(no_aspect_dropdown) || !no_aspect_dropdown)
    - if note.target.present?
      - gon_load_contact(note.contact)
      .pull-right
        .aspect-membership-dropdown.placeholder{data: {person_id: note.target.id}}

  .media-object.pull-left
    = person_image_link note.actors.first, :size => :thumb_small, :class => 'hovercardable'
  .media-body
    = notification_message_for(note)
    %div
      = timeago(note.updated_at)
