-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
.notification
  = person_image_tag(person)
  = link_to "#{person.name.titleize}", person_path(person.id)
  = object_link(note)
