$base03:    #002b36 !default; //darkest blue
$base02:    #073642 !default; //dark blue
$base01:    #586e75 !default; //darkest gray
$base00:    #657b83 !default; //dark gray
$base0:     #839496 !default; //medium gray
$base1:     #93a1a1 !default; //medium light gray
$base2:     #eee8d5 !default; //cream
$base3:     #fdf6e3 !default; //white
$yellow:    #b58900 !default;
$orange:    #cb4b16 !default;
$red:       #dc322f !default;
$magenta:   #d33682 !default;
$violet:    #6c71c4 !default;
$blue:      #268bd2 !default;
$cyan:      #2aa198 !default;
$green:     #859900 !default;

$pre-bg: $base03 !default;
