$base03:    #002b36; //darkest blue
$base02:    #073642; //dark blue
$base01:    #586e75; //darkest gray
$base00:    #657b83; //dark gray
$base0:     #839496; //medium gray
$base1:     #93a1a1; //medium light gray
$base2:     #eee8d5; //cream
$base3:     #fdf6e3; //white
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$pre-bg: $base03 !default;
