@font-face {
	font-family:Roboto;
	src: local("Roboto-Regular.ttf")
}

@font-face {
	font-family:Roboto-BoldCondensed;
	src: local("Roboto-BoldCondensed.ttf")
}

html {
	background: url("bgpattern.png") #ebebeb;
	text-align: center;
}

body {
	width: 100%;
	height: 100%;
	position: fixed;
	bottom:0px;
	margin: 0px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	color: #666;
	background: url("peeping-tom.png") no-repeat bottom;
}

#big-number {
  font-family: Roboto-BoldCondensed, Helvetica, Arial, sans-serif;
  font-size: 250px;
  text-shadow: 0 2px 0 #fff, 0 -1px 0 #999;
  color: #ddd;
}

a {
  text-decoration : none;
  color : rgb(42,156,235);
}

a:hover {
  text-decoration : underline;
}

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
}
