%h1
  welcome,
  = current_user.profile.first_name

= render "shared/publisher", :group_ids => :all

%ul#stream
  - for post in @posts
    = render type_partial(post), :post => post
#pagination
  = will_paginate @posts

