%h1 
  Stream for
  %u all groups

= render "shared/publisher", :group_ids => :all

%ul#stream
  - for post in @posts
    = render type_partial(post), :post => post unless post.class == Album
#pagination
  = will_paginate @posts

