%h1
  welcome home,
  = current_user.profile.first_name

- @group.nil? ? group_id = nil : group_id = @group.id

= render "shared/publisher", :group_id => group_id

%ul#stream
  - for post in @posts
    = render type_partial(post), :post => post
#pagination
  = will_paginate @posts

