<form accept-charset="UTF-8" action="/photos" class="new_photo" data-remote="true" enctype="multipart/form-data" method="post">
    <input name="authenticity_token" type="hidden"/>
    <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓"/>
    </div>
    <div class="photos"></div>
    <input name="photo[user_file]" type="file"/>
    <input name="commit" type="submit" class="btn" value="Create Photo"/>
</form>
