<!-- header to be extracted -->

<div class="header">
  <div id="header-container"> </div>
</div>

<div id="post-content"> </div>

{{#if nsfw}}
  <div id="nsfw-post-content">
    <div id="nsfw-shield" class="post">
      <h2>
        This post is Not Safe For Work.
      </h2>
    </div>
  </div>
{{/if}}

<div id="post-nav"> </div>
<div id="post-interactions"> </div>

