<div id="user-controls">
  <a href="#" class="label">
    <i class="icon-user icon-white"></i>
  </a>
  <a href="#" class="label">
    <i class="icon-heart icon-white"></i>
  </a>
  <a href="#" class="label">
    <i class="icon-plus icon-white"></i>
  </a>
  <a href="#" class="label">
    <i class="icon-retweet icon-white"></i>
  </a>
  <a href="#" class="label">
    <i class="icon-comment icon-white"></i>
  </a>
</div>
