<div class='row'>
    <div class='span12'>
        <form class="new-post well">
            <label>
                text
                <textarea class="text span8"/>
                <textarea id="text_with_markup" style="display:none;"/>
            </label>
            <div class="service_selector"></div>
            <div class="aspect_selector"></div>
            <br/>

            <input type="submit" class="btn-primary" value="Share" />
        </form>

        <div class="new_picture"/>
    </div>
</div>
