<div class='row'>
    <div class='span12'>
        <form class="new-post well">
            <label>text<textarea class="text"/></label>
            <div class="aspect_selector"/>
            <br/>

            <input type="submit" class="btn-primary" value="Share"></input>
        </form>
    </div>
</div>
