{{#each photos}}
  <div class="status photo-backdrop" style="background-image: url({{sizes.large}})">
    <div class="darken">
      <h1>
        {{../text}}
      </h1>
    </div>
  </div>
{{/each}}
