%h2
  = t("devise.shared.links.sign_up_closed")

!= t("registrations.closed.closed_pod",
  wiki: link_to(t("registrations.closed.another_pod"), "https://diasporafoundation.org/getting_started/sign_up"))

!= t("registrations.closed.find_pods",
  fediverse_observer: link_to("Fediverse Observer", "https://diaspora.fediverse.observer/"))

!= t("registrations.closed.other_questions",
  wiki: link_to("Wiki", "https://wiki.diasporafoundation.org/Choosing_a_pod"))
