#registration
  .container
    .row
      .col-md-10.offset1
        .col-md-7.hidden-phone
          %h1.ball
        .col-md-5.v-center
          .content.text-center
            %h2#pod-name
              = AppConfig.settings.pod_name

            = render partial: "form", locals: {mobile: false}
