#registration
  .container-fluid
    .row-fluid
      .span10.offset1
        .span7.hidden-phone
          %h1.ball
        .span5.v-center
          .content.text-center
            %h2#pod-name
              = AppConfig.settings.pod_name

            = render partial: 'form'
