-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#aspect_nav
  %ul
    %li{:class => ("selected" if @aspect == :all)}
      = link_to "Home", root_url
    - for aspect in @aspects
      %li{:class => ("selected" if current_aspect?(aspect))}
        = link_for_aspect aspect
    %li
      = link_to '+', '#add_aspect_pane', :class => "add_aspect_button", :title => t('.add_a_new_aspect')

  .fancybox_content
    #add_aspect_pane
      = render "aspects/new_aspect"

