#author_info
  = person_image_link(person)
  .from
    %h2
      = person.real_name
      - if defined?(post)
        .aspect
          ➔
          %ul
            - if post.public?
              the world
            - else
              - for aspect in current_user.aspects_with_post( post.id )
                %li= link_to aspect.name, aspect

    = link_to "view profile", person_path(person)
