-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-5.append-1
  = render 'contacts/aspect_listings'

  %hr

  %ul.left_nav
    - if AppConfig.settings.community_spotlight.enable?
      %li{:class => ("active" if @spotlight)}
        = link_to t('contacts.spotlight.community_spotlight'), community_spotlight_path, :class => "element_selector"
