- if AppConfig.settings.paypal_hosted_button_id.present?
  PayPal:
  %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
    %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
    %input{:name => "encrypted", :type => "hidden", :value => AppConfig.settings.paypal_hosted_button_id}
    %input{:name => "currency_code", :type => "hidden", :value => "EUR"}
    %input{:name => "submit", :type => "submit", :value => t('aspects.index.donate')}
- if AppConfig.bitcoin_donation_address
  %p
    Bitcoin:
    %label
      = AppConfig.bitcoin_donation_address
