%form{:action => "https://diaspora-project-site.heroku.com/donate", :method => "get"}
  %select{:name => "monthly_amount"}
    %option{:value => "1"} Supporter : $5.00USD
    %option{:value => "2"} Member : $10.00USD
    %option{:value => "3"} Freedom Fighter : $20.00USD
  %input{:name => "submit", :type => "submit", :value => t('aspects.index.donate')}
