#friend_pictures
  - for friend in @friends
    = person_image_link(friend)
  = link_to (image_tag 'add_friend_button.png'), "#add_request_pane", :id => 'add_request_button'

  - unless @group == :all
    .yo{:style => 'display:none'}
      #add_request_pane
        = render "requests/new_request"
