#group
  %ul
    - for group in @groups
      %li= link_to group.name, group_path(group)

    %li.new_group= link_to "NEW GROUP", new_group_path

  #friend_pictures
    - for friend in @friends
      = person_image_link(friend)

    .add_new
      = link_to "+", requests_path
