= t('shared.invitations.share_this')
= invite_link(current_user.invitation_code)
= link_to t('shared.invitations.by_email'), new_user_invitation_path(blueprint: true), :title => t('shared.invitations.invite_someone'), :rel => 'facebox'
