= t(".share_this")
= invite_link(current_user.invitation_code)

- if AppConfig.mail.enable?
  .invitations-link.btn.btn-link.invitations-button{"data-toggle" => "modal"}
    = t(".by_email")

- content_for :after_content do
  = render "shared/modal",
      path: new_user_invitation_path,
      id: "invitationsModal",
      title: t("invitations.new.invite_someone_to_join")
