- if AppConfig[:invites_off]
  = t('.invites_closed')
-else
  -if invites > 0
    = link_to t('.invite_someone'), new_user_invitation_path, :title => t('.invite_someone')
    = t('.invitations_left', :count => invites) 
  - else
    = t('.dont_have_now')

