-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= link_to t('.new', :type => object.class.to_s, :from => object.person.name), object_path(object.post)


= link_to "#{note.person.name.titelize}", person_path(note.person)
= object_link(note)
