-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.photo_area
  - if post.is_a?(StatusMessage)
    -if post.photos.size > 0
      .photo-attachments
        = link_to person_photo_path(post.author, post.photos.first), class: "stream-photo-link" do
          - if post.photos.size > 1
            .additional_photo_count
              = "+ #{post.photos.size-1}"
          = image_tag post.photos.first.url(:thumb_large), class: "stream-photo big-stream-photo"
