.comment_container
  .post_stats
    - if @post.public?
      %span.reshare_count
        = @post.reshares.size

    %span.comment_count
      = @post.comments.size

    %span.like_count
      = @post.likes.size

  %ul.comments
    = render partial: "comments/comment", collection: @post.comments.for_a_stream, locals: {post: @post}
