-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#publisher
  = form_for StatusMessage.new, :remote => true do |status|
    = status.text_area :message, :class => 'scrunch'

    - for aspect_id in @aspect_ids
      = hidden_field_tag 'aspect_ids[]', aspect_id.to_s

    %fieldset.hidden{:style => 'text-align:right;'}
      = status.submit t('.share'), 'data-inline' => 'true', 'data-theme' => 'b'

