%h3 You are about to post a public message!
%p
  Public messages will be available for others outside of Diaspora to see.

  - if @logged_in
    = connected_fb_as(@access_token)
  - else
    = link_to "Connect to Facebook", @fb_access_url

  %br
  %br
  = link_to "OK", '#', :class => "button", :onClick => '$.fancybox.close();'
