-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- unless current_user.aspects.size == current_user.aspects_with_post(post.id).size
  .reshare_pane
    %span.reshare_button
      = link_to t('.reshare'), "#"

    %ul.reshare_box
      - for aspect in current_user.aspects
        - unless aspect.posts.include? post
          %li.aspect_to_share= link_to aspect, :controller => "aspects", :action => "show", :id => aspect.id, :prefill => post.message
- else
  .reshare_pane
    %span.reshare_button
      = link_to t('.reshare'), "#", :class => "inactive"
