%ul#settings_nav
  %li= link_to_unless_current t('profile'), edit_profile_path
  %li= link_to_unless_current t('account'), edit_user_path
  %li= link_to_unless_current t('privacy'), privacy_settings_path
  %li= link_to_unless_current t('_services'), services_path
