-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


= render :partial => 'shared/stream_element',
         :collection => posts,
         :as => :post,
         :locals => {:all_aspects => @all_aspects,
           :commenting_disabled => defined?(@commenting_disabled)}

