#landing_content
  .ilya
    =link_to  image_tag("seed.jpg"), "https://joindiaspora.com/u/ilya"
    .memory
      %h1 Ilya Zhitomirskiy
      %h2 1989-2011

    =link_to "Thank you Neal Fowler for being part of the Commons", "http://www.flickr.com/photos/31878512@N06/5093998704/", :class => "attribution", :target => :blank
:css
  body{
    background-color:#0A0000;
    padding : 0;
  }
  .container {
    width : 100%;
  }
  .span-24.last {
    width : 100%;
  }
  #landing_content{
    margin-top:-6px;
    }
  #landing_content  img {
    width : 100%;
  }
  .ilya {
    position : relative;
  }

  .memory {
    position: absolute;
    top: 90px;
    right : 90px;
    text-align : right;
  }

  #landing_content h1 {
    font-weight: 200;
    font-size: 38px;
    color: #D5D5D5;
    letter-spacing: 0.03em;
  }

  #landing_content h2 {
    font-weight: lighter;
    font-size: 25px;
    color: #D5D5D5;
    letter-spacing: 0.05em;
  }

  footer .container {
    margin-top: 0;
    border-top : none;
  }
  .attribution {
    position : absolute;
    bottom : 8px;
    left : 8px;
    color : #777;
  }
  .attribution:hover {
    text-decoration : none;
    color : #666;
  }
