<% content_for :head do %>
    <meta property="og:title" content="Diaspora*" />
    <meta property="og:description" content="A creative way to remix your world" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://joindiaspora.com" />
    <meta property="og:image" content="https://joindiaspora.com/icon_128.gif" />
    <meta property="fb:app_id" content="120373411325347" />
<% end %>

<div id="landing">
  <div class="row" role="header" style="padding:20px; background-color:rgba(0,0,0,0.7); box-shadow: 0 3px 40px rgba(0,0,0,0.8); z-index : 10; position : relative;">
    <div class="container">
        <div class="row" style="text-align:center;">
          <h1 style="font-size : 40px; font-weight : 200;">DIASPORA</h1>
          <h3 style="color : rgb(42,156,235); font-weight : 200;">A creative way to remix your world</h3>
        </div>
    </div>
  </div>

  <div class="container">
    <div id="screenshots" class="row" style="text-align:center; padding: 10px 0;">
        <img src="https://d3mbmfe8268ud7.cloudfront.net/landing/mobile-1.png" style="width:200px; -ms-animation : fly-in 0.8s; -moz-animation : fly-in 0.8s; -webkit-animation : fly-in 0.8s; -webkit-transform: translateZ(0);">
    </div>

    <div id="login_register">
        <a href="http://eepurl.com/lKWsv" class="btn btn-large" style="position: absolute; bottom : 10px; left : 10px; background: #FF4D36; color : #fff; border: 1px solid #000; text-shadow: none;">Request Invite</a>
        <a href="/users/sign_in" class="btn btn-large" style="position: absolute; bottom : 10px; right : 10px; color : #777; border : 1px solid #000; text-shadow: none;">Log In</a>
    </div>
  </div>
</div>