<style type="text/css">
	ul > li { list-style-type: disc; }
	footer .container { margin-top: 25px; }
	body {
		background: url("assets/texture/hatched-light.jpg") #DDD;
		padding-bottom: 0px;	
	}
	body > .container {
		background: white;
		padding: 25px;
		padding-bottom: 12px;
		margin-top: -30px;
		box-shadow: 0px 0px 2px black;
	}
	.diaspora-fr_buttons {
	  text-align: center;
	}
	.diaspora-fr_buttons a {
    display: inline-block;
	  margin: 12px 25px;
    padding: 7px 20px 8px;
	  border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    cursor: pointer;
    font-size: large;
    line-height: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.1s linear 0s;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
	
	.diaspora-fr_buttons a:first-child {
    background-image: -webkit-gradient(linear, center top, center bottom, from(#049CDB), to(#0064CD)); 
    background-image: -webkit-linear-gradient(center top , #049CDB, #0064CD);
    background-image:    -moz-linear-gradient(center top , #049CDB, #0064CD);
    background-image:     -ms-linear-gradient(center top , #049CDB, #0064CD);
    background-image:      -o-linear-gradient(center top , #049CDB, #0064CD); 
    background-image:         linear-gradient(center top , #049CDB, #0064CD);
    background-color: #0064CD;    
	}
	
	.diaspora-fr_buttons a:last-child {
    background: -moz-linear-gradient(center top , #62C462, #57A957);
    background-color: #57A957;
	}
</style>
<h2>Bienvenue sur diaspora-fr.org !</h2>
<p>diaspora-fr.org est un noeud du réseau diaspora*, hébergé en France chez OVH et administré par <a href="https://diaspora-fr.org/u/fla">Fla</a> et <a href="https://diaspora-fr.org/u/taratatach">Taratatach</a>.</p>
<p class="diaspora-fr_buttons"><a class="btn" href="/users/sign_up">Inscription</a><a class="btn" href="/users/sign_in">Connexion</a></p>
<h3>Qu'est-ce que diaspora* ?</h3>
<p>Diaspora* est un réseau social respectueux de ses utilisateurs qui accorde la plus grande importance à la protection de la vie privée : il ne revend aucune information, n'affiche pas de pub, chiffre les données échangées et permet l'utilisation de pseudonymes. Il permet de :</p>

<ul>
	<li><strong>Partager</strong> des textes, images, liens (et donc musiques, videos...)</li>
	<li><strong>Réagir</strong> en commentant, repartageant, aimant...</li>
	<li><strong>Cibler</strong> grâce à un puissant système de tags et en mentionnant les autres utilisateurs</li>
	<li><strong>Gérer ses contacts</strong> en les ajoutant à différents aspects afin de contrôler la visibilité du contenu.</li>
	<li><strong>Lier son compte</strong> à ses comptes Twitter, Tumblr et Facebook, afin de publier depuis diaspora* vers les autres réseaux</li>
</ul>

<h3>Pourquoi diaspora* est-il différent ?</h3>
<p>Car il est décentralisé : vous êtes ainsi libres de choisir le serveur à qui vous confiez vos données, contrairement à Facebook ou Twitter accessibles uniquement sur facebook.com ou twitter.com. Vous pouvez choisir un serveur diaspora* existant sur <a href="http://podupti.me/">podupti.me</a> ou <a href="https://wiki.diasporafoundation.org/Installation">installer le votre</a> pour garder le contrôle de vos données. Peu importe votre serveur, vous pourrez parler à l'ensemble du réseau diaspora*.</p>

<p>Second point important, diaspora* est un <a href="http://www.gnu.org/philosophy/free-sw.fr.html">logiciel Libre</a> : le code source est consultable, utilisable, modifiable et redistribuable par tous gratuitement. Tout le monde peut participer au projet en améliorant l'application, en la traduisant, en créant des graphismes, en aidant les nouveaux arrivants, ou encore en faisant passer le mot, à l'image de ce site :)</p>

<p><strong>Vous commencez à ressentir l'esprit de diaspora* ?</strong></p>

<h3>Les liens utiles :</h3>
<ul style="margin-bottom:0px;">
	<li>Le guide du parfait débutant (FR) : <a href="http://fr.wikibooks.org/wiki/Diaspora_:_Le_guide_du_parfait_d%C3%A9butant.">sur wikibooks</a></li>
	<li>Le site officiel (FR) : <a href="https://diasporafoundation.org/">diasporafoundation.org</a></li>
	<li>Le code du projet (EN) : <a href="https://github.com/diaspora/diaspora">Github</a></li>
	<li>La liste de serveurs (pods) et leurs infos (EN) : <a href="http://podupti.me/">podupti.me</a></li>
	<li>Des statistiques (EN) : <a href="https://diasp.eu/stats">diasp.eu/stats</a></li>
	<li>Le groupe Loomio (EN) utilisé pour diriger le projet par la communauté : <a href="https://www.loomio.org/groups/194">loomio.org</a></li>
</ul>
<footer style="text-align: right;">Contactez-nous <a href="mailto:postmaster@diaspora-fr.org">par e-mail</a></footer>
