%li.message{:id => request.id}

  %span.from
    = link_to "#{request.person.real_name}", '#'

  %ul.request_buttons
    %li= link_to 'Accept', request_path(request, :accept => true), :method => :delete 
    %li= link_to 'Ignore', request_path(request), :confirm => 'Are you sure?', :method => :delete
