- title "Request"

%p
  = @request.inspect

%p
  = link_to "Edit", edit_request_path(@request)
  |
  = link_to "Destroy", @request, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", requests_path
