// Main color(s)
$main-color: #585858;
$background: #fff;

// Shades
$main-color-dark: darken($main-color, 15%);

// Variables
$header-background-color: $main-color-dark;
$main-background: $background;
$sidebars-background: $background;
$card-shadow: none;

@import 'color_themes/color_theme_override_origwhite';
