article {
  h2 {
    padding-top: 0;
    margin-bottom: 0.1em; }
  .title {
    text-decoration: none;
    &:hover {
      text-decoration: underline; } }
  .entry {
    border-bottom: 1px solid $article-border;
    &:first-child {
      padding-top: 0; } }
  #disqus_thread { }
  .meta {
    border-bottom: 1px dashed #dddddd;
    text-transform: uppercase;
    color: #777777;
    padding: 8px 0 5px;
    margin-bottom: 1.5em;
    font-size: 75%;
    letter-spacing: 1px; }
  .footer {
    padding-top: 15px; } }
