%p
  = t('notifier.hello', :name => @receiver.profile.first_name)
%p
  != t('notifier.confirm_email.click_link', :unconfirmed_email => @receiver.unconfirmed_email)
  %br
  = link_to confirm_email_url(:token => @receiver.confirm_email_token), confirm_email_url(:token => @receiver.confirm_email_token)
