@-webkit-keyframes opacity-pulse {
	0%   { @include opacity(0.3); }
	65%  { @include opacity(0.9); }
	100% { @include opacity(0.3); }
}
@-moz-keyframes opacity-pulse {
	0%   { @include opacity(0.3); }
	65%  { @include opacity(0.9); }
	100% { @include opacity(0.3); }
}
@-ms-keyframes opacity-pulse {
	0%   { @include opacity(0.3); }
	65%  { @include opacity(0.9); }
	100% { @include opacity(0.3); }
}
@-o-keyframes opacity-pulse {
	0%   { @include opacity(0.3); }
	65%  { @include opacity(0.9); }
	100% { @include opacity(0.3); }
}

@-webkit-keyframes ease-over {
	0%   { @include opacity(0); -webkit-transform : scale(1.3); }
	100% { @include opacity(1); -webkit-transform : scale(1); }
}
@-moz-keyframes ease-over {
	0%   { @include opacity(0); -moz-transform : scale(1.3); }
	100% { @include opacity(1); -moz-transform : scale(1); }
}
@-ms-keyframes ease-over {
	0%   { @include opacity(0); -ms-transform : scale(1.3); }
	100% { @include opacity(1); -ms-transform : scale(1); }
}
@-o-keyframes ease-over {
	0%   { @include opacity(0); -o-transform : scale(1.3); }
	100% { @include opacity(1); -o-transform : scale(1); }
}

@-webkit-keyframes ease-out {
	0%     { @include opacity(1); -webkit-transform : scale(1); }
	100%   { @include opacity(0); -webkit-transform : scale(1.3); }
}
@-moz-keyframes ease-out {
	0%     { @include opacity(1); -moz-transform : scale(1); }
	100%   { @include opacity(0); -moz-transform : scale(1.3); }
}
@-ms-keyframes ease-out {
	0%     { @include opacity(1); -ms-transform : scale(1); }
	100%   { @include opacity(0); -ms-transform : scale(1.3); }
}
@-o-keyframes ease-out {
	0%     { @include opacity(1); -o-transform : scale(1); }
	100%   { @include opacity(0); -o-transform : scale(1.3); }
}

/* flash message animations */
@-webkit-keyframes expose {
        0%   { top : -100px; }
        15%  { top : 0; }
        85%  { top : 0; }
        100% { top : -100px; }
}
@-moz-keyframes expose {
        0%   { top : -100px; }
        15%  { top : 0; }
        85%  { top : 0; }
        100% { top : -100px; }
}
@-ms-keyframes expose {
        0%   { top : -100px; }
        15%  { top : 0; }
        85%  { top : 0; }
        100% { top : -100px; }
}
@-o-keyframes expose {
        0%   { top : -100px; }
        15%  { top : 0; }
        85%  { top : 0; }
        100% { top : -100px; }
}
