@keyframes opacity-pulse {
	0%   { opacity: 0.3; }
	65%  { opacity: 0.9; }
	100% { opacity: 0.3; }
}

@keyframes ease-over {
	0%   { opacity: 0; transform : scale(1.3); }
	100% { opacity: 1; transform : scale(1); }
}

@keyframes ease-out {
	0%     { opacity: 1; transform : scale(1); }
	100%   { opacity: 0; transform : scale(1.3); }
}

/* flash message animations - header height is about 40px */
@keyframes expose {
        0%   { top : -100px; }
        15%  { top : 34px; }
        85%  { top : 34px; }
        100% { top : -100px; }
}
