body {
  margin-top: $navbar-height;
  padding : none;

  &.lock {
    overflow: hidden;
  }
}

/* Overflow */
h1, h2, h3, h4, h5, h6,
p,
blockquote,
code,
pre { word-wrap: break-word; }
a.tag { word-break: break-all; }

.avatar {
  border-radius: 4px;

  &.micro {
    height: 20px;
    width: 20px;
  }

  &.small {
    height: 35px;
    width: 35px;
  }

  &.medium {
    height: auto;
    width: auto;
    max-width: 75px;
  }
}

.author-name {
  color: inherit;
}

#back-to-top {
  display: block;
  color: white;
  position: fixed;
  z-index: 49;
  right: 54px;
  bottom: 20px;
  opacity: 0;
  font-size: 2.9em;
  padding: 0 12px 0 12px;
  border-radius: 10px;
  background-color: #aaa;
  &:hover { opacity: 0.85 !important; }
  &.visible { opacity: 0.5; }
  line-height: 1.5;
}

/* general purpose classes */

.small-horizontal-spacer {
  min-height: 20px;
}

.big-horizontal-spacer {
  height: 50px;
}

/* responsive */
@media (max-width: 767px) {
  body {
    padding : 0;
  }
}

/* badge color */
.badge-important {
  background-color: $red;
}
