.btn.creation {
  $button-border-color: #aaa;
  @include button-gradient($creation-blue);
  color: #fff;
  border: 1px solid darken($button-border-color,20%);

  &:hover {
    background: $creation-blue;
    border: 1px solid darken($button-border-color,35%);
  }
}
.btn-group.open > .btn.creation {
  background: $creation-blue;
}

.btn.green {
  $button-border-color: #aaa;
  @include button-gradient($green);
  color: $grey;
  border: 1px solid darken($button-border-color,20%);

  &:hover {
    background: $green;
    border: 1px solid darken($button-border-color,35%);
  }
}
.btn-group.open > .btn.green {
  background: $green;
}

.btn.delete { color: desaturate($red,10%); }

// TODO remove this when everything has been ported to Bootstrap
.button.creation {
    $button-border-color: #aaa;
    @include border-radius(3px);
    @include box-shadow(0,1px,1px,#cfcfcf);
    @include transition(border);
    @include button-gradient($creation-blue);
    font: {
      size: 12px;
    }
    color: #fff;
    padding: 4px 9px;
    min-width: 90px;
    min-height: 10px;
    border: 1px solid darken($button-border-color,20%);

    cursor: pointer;
    white-space: nowrap;

    &:hover {
      @include button-gradient-hover($creation-blue);
      border: 1px solid darken($button-border-color,35%);
      text-decoration: none;
    }
  }
