
@import '../_flash_messages';

#flash_notice,
#flash_alert,
#flash_error {
  .message {
    margin-top : 10px;
    padding : 10px 20px 8px;
    background-color : rgba(0,0,0,0.8);
    border : 1px solid rgba(255,255,255,0.7);
  }
}