.stream_container, #single-post-interactions {
  .controls {
    z-index: 6;
    float: right;
    .post_report, .comment_report {
      display: inline-block;
      .icons-report {
        height: 14px;
        width: 14px;
      }
    }
    .block_user {
      display: inline-block;
      .icons-ignoreuser {
        height: 14px;
        width: 14px;
      }
    }
    .delete {
      display: inline-block;
      .icons-deletelabel {
        height: 14px;
        width: 14px;
      }
    }
    & > a:hover {
      text-decoration: none;
    }
  }

  .stream_element, .comment, .photo, .stream_element:hover .comment {
    .controls > a {
      @include transition(opacity);
      opacity: 0;
    }

    &:hover .controls {
      & > a { opacity: 0.3; }
      & > a:hover { opacity: 1; }
    }
  }
}
