.control-icons {
  a {
    margin-right: 5px;
    &:hover { text-decoration: none; }

    i.entypo {
      color: $text-grey;
      font-size: $font-size-text;
      line-height: $line-height;
      vertical-align: middle;
      &:hover { color: $text; }
      &.cross { font-size: $line-height; }
    }

    &.hide_conversation i {
      font-size: $line-height*1.5;
    }

    &.delete_conversation i {
      font-size: $font-size-text*1.5;
    }

    &.destroy_participation i {
      color: $black;
      &:hover { color: $text-dark-grey; }
    }
  }
}

.stream_container, #single-post-interactions {
  .control-icons {
    z-index: 6;
    float: right;

    .block_user,
    .comment_report,
    .create_participation,
    .delete,
    .destroy_participation,
    .post_report {
      display: inline-block;
    }

    & > a:hover {
      text-decoration: none;
    }
  }

  .stream_element, .comment, .photo, .stream_element:hover .comment {
    .control-icons > a {
      @include transition(opacity);
      opacity: 0;
    }

    &:hover .control-icons {
      & > a { opacity: 0.8; }
      & > a:hover { opacity: 1; }
    }
  }
}
