/* le declarations */
#landing {
  overflow : hidden;
  position : absolute;
  min-height : 100%;
  width : 100%;
  top : 0;
  left : 0;

  background : {
    color : #fff;
  }

  #sign_up {
    text-align:center;
    position : relative;
    z-index : 20;

    border-bottom: 1px solid #ccc;
    padding-bottom:50px;

    form {
      label.control-label { width : 80px !important; text-align:right; }
      .controls { margin-left : 100px; }

      input[type='submit'] {
        @include transition(background);
        @include box-shadow(0,0,0,0);

        font-size:1.2em;
        background : #99CC00;
        color : #fff;
        text-shadow : 0 -1px 0 #669900;
        border : 1px solid $border-dark-grey;

        &:hover {
          background : desaturate(#99CC00, 15%);
        }

        &:active {
          @include box-shadow(0,0,0,0);
          background : darken(rgb(255, 77, 54), 2%);
        }
      }
    }
  }

  #invites {
    margin : 20px 0;
  }

  #footer {
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    padding : 10px 0;
    color : #333;
    text-align : center;
  }

  #landing_banner {
    .container {
      position:relative;
    }

    text-align:center;
    padding:50px;
    margin-bottom:50px;
    color:#ccc;
    background:#222;

    h2 {
      font-weight:100;
    }

    .landing-logo {
      margin-bottom:15px;
      height:60px;
    }

    .landing-banner-right {
      position:absolute;
      right:0;

      a {
        color:#ccc;
        font-size:1.2em;
        font-weight:100;
        padding:5px 10px;
      }
    }

    .login-button {
      @include border-radius(3px);
      border:1px solid #666;
      background:#111;

      &:hover {
        background:#222;
        border:1px solid $border-dark-grey;
        text-decoration:none;
      }
    }
  }

  #steps {
    text-align: center;
    p {
      color: $text-dark-grey;
    }
  }
}
