#login {
  position : absolute;
  top : 0;
  left : 0;
  padding-top : 200px;
  min-width : 100%;

  //color : #fff;
  text-align : center;

  input[type=text],
  input[type=password] {
    width : 120px;
  }

  #huge-text {
    font-family : Roboto-Light;
    font-size : 200px;
    color : #ddd;
    text-shadow : 0 1px 0 #fff;
  }

  #forgot_password_link {
    margin : 40px;
    color : #999;
    clear : all;
  }
}
