#login,
#forgot_password,
#reset_password {
  padding-top: 25px;

  .branding-asterisk {
    margin: auto;
    width: 154px;
    height: 154px;
    margin-bottom: 12px;
  }

  form.block-form {
    max-width: 400px;
  }
}
