.nav.nav-tabs{
  li > a {
    color: $text-dark-grey;
    .entypo {
      color: $text-dark-grey;
      margin-right: 5px;
    }
  }
  li.active > a {
    background-color: $background-grey;
    color: $black;
    .entypo { color: $black; }
  }
}
