$light-grey: #999;
$pane-width: 790px;
$night-background-color : #333;
$night-text-color : #999;

/* mixins */
@mixin center($orient:vertical) {
  display: -webkit-box;
  -webkit-box-orient: $orient;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: $orient;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: $orient;
  box-pack: center;
  box-align: center;
}

@mixin pane-width() {
  width: $pane-width;
  max-width: 100%;
}

@mixin background-cover() {
  background: no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

@mixin info-container-base() {
  border-top: 1px solid #DADADA;
  color: #ddd;
  background: #fff;
}

@mixin info-container() {
  @include info-container-base();
  @include pane-width();

  display: inline-block;
  position: relative;
  border: 1px solid #DADADA;

  padding-top: 25px;

/* webkit acceleration */
  -webkit-transform: translateZ(0);
}

@mixin dark-hatched-bg() {
  background-color: #FFF;
}

@mixin photo-shadow() {
}

@mixin media-text() {
  font-size: 2em; 
  line-height: 1.2em;
  padding-bottom: 0;
  margin-bottom: 0;
}

@mixin newspaper-type() {
  font-family: Palatino, times, georgia, serif;
}

@mixin centered-frame(){
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
