$light-grey: #999;
$pane-width: 420px;
$night-background-color : #333;
$night-text-color : #999;

/* mixins */
@mixin center($orient:vertical) {
  display: -webkit-box;
  -webkit-box-orient: $orient;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: $orient;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: $orient;
  box-pack: center;
  box-align: center;
}

@mixin pane-width() {
  width: $pane-width;
  max-width: 100%;
}

@mixin background-cover() {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin info-container-base() {
  @include box-shadow(0, 6px, 20px, #000);
  @include dark-hatched-bg();

  border-top: 1px solid #555;
  color: #ddd;
}

@mixin info-container() {
  @include info-container-base();
  @include border-radius(3px, 0px);
  @include pane-width();

  display: inline-block;
  position: relative;

  border-right: 1px solid #444;
  border-left: 1px solid #444;

  padding-top: 25px;

/* webkit acceleration */
  -webkit-transform: translateZ(0);
}

@mixin dark-hatched-bg() {
  background-color: #444;
  background-image: image-url("texture/hatched-dark.png");
}

@mixin photo-shadow() {
  @include box-shadow(0, 3px, 15px, rgba(0,0,0,0.7));
}

@mixin media-text() {
  font-size: 2em; 
  line-height: 1.2em;
  padding-bottom: 0;
  margin-bottom: 0;
}

@mixin newspaper-type() {
  font-family: Palatino, times, georgia, serif;
}

@mixin centered-frame(){
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
