#registration {
  & > .container-fluid {
   margin-top: 5%;
  }

  #create-something-text {
    font-size : 100px;
    line-height : 100px;
  }

  #diaspora-hearts {
    font-size : 30px;
    margin-top : 0.2em;
    margin-bottom : 1em;
    white-space : nowrap;
  }

  #pod-name {
    text-align: center;
    margin: 12px;
    font-size : 35px;
  }

  #create-something-text,
  #diaspora-hearts {
    font-family : Roboto-Light;
  }

  form {
    max-width: 400px;

    .captcha_img {
      position: absolute;
      left: 10px;
      width: 120px;
      top: 169px;
    }

    #user_captcha {
      font-size: 16px;
      height: 40px;
      padding: 10px 10px 10px 130px;
      line-height: $line-height;
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid $border-grey;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    #terms > a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

#welcome-to-diaspora {
  -webkit-box-shadow: inset 0 -2px 10px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0 -2px 10px rgba(0,0,0,0.35);
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  .right {
    position: absolute;
    right: 0;
    top: 10px;
  }
  h1,h3 {
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  background: orange;
  &:hover {
    #gs-skip-x {
      opacity: .4;
      @include transition(opacity, 0.25s);

      &:hover {
        opacity: 1;
      }
    }
  }
}
