#registration {
  & > .container-fluid {
   margin-top: 5%;
  }

  #create-something-text {
    font-size : 100px;
    line-height : 100px;
  }

  #diaspora-hearts {
    font-size : 30px;
    margin-top : 0.2em;
    margin-bottom : 1em;
    white-space : nowrap;
  }

  #pod-name {
    text-align: center;
    margin: 12px;
    font-size : 35px;
  }

  #sign-up-text {
    margin-bottom : 0.5em;
  }

  #create-something-text,
  #diaspora-hearts,
  #sign-up-text {
    font-family : Roboto-Light;
  }

  form {
    .form-control:last-of-type {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .captcha {
      border: 1px solid $border-grey;
      border-top: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      .captcha_img {
        float: left;
        margin-top: 3px;
      }

      #user_captcha {
        float: right;
        width: 69%;
        border: 0px;
        border-radius: 0px;
        border-bottom-right-radius: 5px;
        border-left: 1px solid $border-grey;

        &:focus {
          border: solid 1px $border-dark-grey;
          /* Sorry about this dirty hack, the only way I found to correctly display the grey border */
          position: relative;
          top: -1px;
          margin-right: -1px;
          margin-bottom: -2px;
        }
      }
    }

    #terms > a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
