#registration {
  background-image: url('seabg.jpg');
  background-size: cover;
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  background-color : #2C2E31;
  color: #fff;
  padding-top: 10px;

  #create-something-text {
    font-family : Roboto-Light;
    font-size : 100px;
    line-height : 100px;
    white-space : nowrap;
  }

  #diaspora-hearts {
    font-family : Roboto-Light;
    font-size : 24px;
    margin-top : 0.2em;
    margin-bottom : 1em;
    white-space : nowrap;
  }

  #diaspora-about {
    font-family : Roboto-Light;
    font-size : 1.2em;
    line-height: 1.2em;
    margin-top : 0.2em;
    margin-bottom : 1em;
  }

  #sign-up-text {
    font-family : Roboto-Bold;
    color : white;
    margin-bottom : 0.5em;
    padding-top: 10px;
  }

  #collage {
    width : 344px;
    height : auto;
    max-width : 95%;
  }

  form {
    .control-label,
    .controls {
      margin-left : auto;
      width : auto;
    }

    .controls {
      float : right;
    }
    
    #terms > a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
