/* Specific styles for the settings pages (profile, user account, privacy, services) */
#inner_account_delete {
	width: 700px;
}

.as-selections #tags {
	box-shadow: none;
}

.enclosed-checkbox label {
	margin-bottom: 0;
}

#profile_photo_upload {
  text-align: center;

  .avatar {
    height: auto;
    width: auto;
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.settings_visibility { margin-left: 10px; }

#profile_bio {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
