/* Roboto */
@font-face {
  font-family : Roboto;
  src :  url('https://themes.googleusercontent.com/font?kit=grlryt2bdKIyfMSOhzd1eA') format('woff'),
        image-url('fonts/Roboto-Regular.ttf');
  weight : normal;
}

@font-face {
  font-family : Roboto-Bold;
  src :  url('https://themes.googleusercontent.com/font?kit=vxNK-E6B13CyehuDCmvQvw') format('woff'),

      image-url('fonts/Roboto-Bold.ttf');
  weight : normal;
}

@font-face {
  font-family : Roboto-Light;
  src :  url('https://themes.googleusercontent.com/font?kit=vxNK-E6B13CyehuDCmvQvw') format('woff'), image-url('fonts/Roboto-Light.ttf');
  weight : normal;
}

body, p, h1, h2, h3, h4, h5, h6, textarea, input, * {
  font-family : Roboto, Helvetica, sans-serif;
  font-weight : normal;
}

a {
  font-family : inherit;
}