$container-width : 1170;

$margin-between-columns : 30;
$column-width : 295 - $margin-between-columns;
$raw-two-column-width : ($column-width * 2) + ($margin-between-columns * 2) ;
$two-column-width : $raw-two-column-width - 30;  //simply subtract an arbitrary ammount :)

$margin-between-rows : 20;

$row-height : $column-width;
$two-row-height : $raw-two-column-width - 20;
