---
layout: default
blog_index: true
---
{% assign index = true %}
{% for page in site.posts limit:site.posts_per_page %}
{% assign content = page.content %}
  <article>
    {% include article.html %}
  </article>
{% endfor %}
{% if site.disqus_short_name %}
<script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_short_name }}';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endif %}
