package: always
javascripts:
  flash_socket:
    - public/javascripts/vendor/FABridge.js
    - public/javascripts/vendor/swfobject.js
    - public/javascripts/vendor/web_socket.js
  main:
    - public/javascripts/rails.js
    - public/javascripts/vendor/jquery.infieldlabel.js
    - public/javascripts/vendor/jquery.tipsy.js
    - public/javascripts/vendor/jquery.hotkeys.js
    - public/javascripts/vendor/fancybox/jquery.fancybox-1.3.1.pack.js
    - public/javascripts/vendor/fileuploader.js
    - public/javascripts/view.js
    - public/javascripts/image-picker.js
    - public/javascripts/stream.js
  mobile:
    - public/javascripts/vendor/jquery144.min.js
    - public/javascripts/custom-mobile-scripting.js
    - public/javascripts/rails.js
    - public/javascripts/vendor/jquery-ui-1.8.6.custom.min.js
    - public/javascripts/vendor/jquery_mobile_a2.min.js
    - public/javascripts/mobile.js
  mailchimp:
    - public/javascripts/vendor/mailchimp/jquery.form.js
    - public/javascripts/vendor/mailchimp/jquery.validate.js
    - public/javascripts/vendor/mailchimp/jquery126.min.js

  photo:
    - public/javascripts/photo.js
    - public/javascripts/image-picker.js
  aspects:
    - public/javascripts/vendor/jquery-ui-1.8.6.custom.min.js
    - public/javascripts/aspect-edit.js

stylesheets:
  default:
    - public/stylesheets/application.css
    - public/stylesheets/ui.css
    - public/stylesheets/vendor/jquery.fancybox-1.3.1.css
    - public/stylesheets/vendor/fileuploader.css
    - public/stylesheets/vendor/tipsy.css
