package_assets: on
embed_assets: datauri
compress_assets: on
gzip_assets: off
package_path: jammit

template_function: Handlebars.compile
template_extension: 'handlebars'

javascripts:
  templates:
    - public/javascripts/app/templates/*.handlebars
    - public/javascripts/app/templates/**/*.handlebars

  main:
    - public/javascripts/rails.validations.js
    - public/javascripts/vendor/jquery.hotkeys.js
    - public/javascripts/vendor/jquery.autoresize.js
    - public/javascripts/vendor/jquery-ui-1.8.9.custom.min.js
    - public/javascripts/vendor/jquery.charcount.js
    - public/javascripts/vendor/jquery.placeholder.js
    - public/javascripts/vendor/timeago.js
    - public/javascripts/vendor/facebox.js
    - public/javascripts/vendor/underscore.js
    - public/javascripts/vendor/jquery.iframe-transport.js
    - public/javascripts/vendor/jquery.remotipart.js
    - public/javascripts/vendor/jquery.events.input.js
    - public/javascripts/vendor/jquery.elastic.js
    - public/javascripts/vendor/jquery.mentionsInput.js
    - public/javascripts/vendor/jquery.idle-timer.js
    - public/javascripts/jquery.infinitescroll-custom.js
    - public/javascripts/jquery.autocomplete-custom.js
    - public/javascripts/vendor/jquery.textchange.min.js
    - public/javascripts/keycodes.js
    - public/javascripts/fileuploader-custom.js

    - public/javascripts/vendor/underscore.js
    - public/javascripts/vendor/backbone.js
    - public/javascripts/vendor/handlebars-1.0.0.beta.6.js
    - public/javascripts/vendor/markdown/*
    - public/javascripts/vendor/punycode.js
    - public/javascripts/app/app.js
    - public/javascripts/app/helpers/*
    - public/javascripts/app/router.js
    - public/javascripts/app/views.js
    - public/javascripts/app/forms.js
    - public/javascripts/app/models/post.js
    - public/javascripts/app/models/*
    - public/javascripts/app/pages/*
    - public/javascripts/app/collections/*
    - public/javascripts/app/views/stream_object_view.js
    - public/javascripts/app/views/content_view.js
    - public/javascripts/app/views/*.js
    - public/javascripts/app/views/**/*.js
    - public/javascripts/app/forms/*.js

    - public/javascripts/diaspora.js
    - public/javascripts/helpers/*.js
    - public/javascripts/pages/*.js
    - public/javascripts/widgets/*.js

    - public/javascripts/diaspora.js
    - public/javascripts/helpers/*.js
    - public/javascripts/pages/*.js
    - public/javascripts/widgets/*.js

    - public/javascripts/view.js
    - public/javascripts/aspects-dropdown.js
    - public/javascripts/contact-edit.js
    - public/javascripts/contact-list.js
    - public/javascripts/aspect-sorting.js
    - public/javascripts/mentions.js

    - public/javascripts/vendor/bootstrap/bootstrap-twipsy.js
    - public/javascripts/vendor/bootstrap/bootstrap-popover.js
    - public/javascripts/vendor/bootstrap/bootstrap-dropdown.js

  login:
    - public/javascripts/login.js

  mobile:
    - public/javascripts/vendor/jquery.charcount.js
    - public/javascripts/vendor/mbp-helper.js
    - public/javascripts/mobile.js

  mailchimp:
    - public/javascripts/vendor/mailchimp/jquery.form.js
    - public/javascripts/vendor/mailchimp/jquery.validate.js
    - public/javascripts/vendor/mailchimp/jquery126.min.js
  finder:
    - public/javascripts/friend-finder.js
  home:
    - public/javascripts/publisher.js
    - public/javascripts/aspect-edit-pane.js
    - public/javascripts/fileuploader-custom.js
  people:
    - public/javascripts/aspect-edit-pane.js
    - public/javascripts/fileuploader-custom.js
    - public/javascripts/vendor/jquery.autoSuggest.custom.js
  photos:
    - public/javascripts/photo-show.js
  inbox:
    - public/javascripts/vendor/jquery.autoSuggest.custom.js
    - public/javascripts/inbox.js
  profile:
    - public/javascripts/vendor/jquery.autoSuggest.custom.js
  ie:
    - public/javascripts/ie.js
