package_assets: on
embed_assets: on
compress_assets: on
gzip_assets: off
javascripts:
  flash_socket:
    - public/javascripts/vendor/FABridge.js
    - public/javascripts/vendor/swfobject.js
    - public/javascripts/vendor/web_socket.js
  jquery:
    - public/javascripts/vendor/jquery152.min.js
  main:
    - public/javascripts/rails.js
    - public/javascripts/vendor/jquery.tipsy.js
    - public/javascripts/vendor/jquery.hotkeys.js
    - public/javascripts/vendor/jquery.autoresize.min.js
    - public/javascripts/vendor/jquery-ui-1.8.9.custom.min.js
    - public/javascripts/vendor/jquery.expander.js
    - public/javascripts/vendor/timeago.js
    - public/javascripts/vendor/Mustache.js
    - public/javascripts/vendor/charCount.js
    - public/javascripts/jquery.infinitescroll-custom.js
    - public/javascripts/jquery.autocomplete-custom.js
    - public/javascripts/jquery.infieldlabel-custom.js
    - public/javascripts/facebox-custom.js
    - public/javascripts/keycodes.js
    - public/javascripts/fileuploader-custom.js
    - public/javascripts/diaspora.js
    - public/javascripts/widgets/i18n.js
    - public/javascripts/widgets/alert.js
    - public/javascripts/widgets/embedder.js
    - public/javascripts/widgets/timeago.js
    - public/javascripts/widgets/infinite-scroll.js
    - public/javascripts/widgets/directionDetector.js
    - public/javascripts/widgets/notifications.js
    - public/javascripts/widgets/flashes.js
    - public/javascripts/widgets/post.js
    - public/javascripts/widgets/hovercard.js
    - public/javascripts/view.js
    - public/javascripts/stream.js
    - public/javascripts/content-updater.js
    - public/javascripts/search.js
    - public/javascripts/contact-edit.js
  login:
    - public/javascripts/login.js
  mobile:
    - public/javascripts/vendor/jquery152.min.js

    - public/javascripts/vendor/underscore.js
    - public/javascripts/vendor/backbone-min.js

    - public/javascripts/vendor/Mustache.js

    - public/javascripts/mobile/app.js
    - public/javascripts/mobile/helpers.js
    - public/javascripts/mobile/models/*
    - public/javascripts/mobile/collections/*
    - public/javascripts/mobile/controllers/*
    - public/javascripts/mobile/views/*

    - public/javascripts/diaspora.js
    - public/javascripts/widgets/i18n.js
  mailchimp:
    - public/javascripts/vendor/mailchimp/jquery.form.js
    - public/javascripts/vendor/mailchimp/jquery.validate.js
    - public/javascripts/vendor/mailchimp/jquery126.min.js
  aspects:
    - public/javascripts/aspect-edit.js
    - public/javascripts/contact-list.js
  finder:
    - public/javascripts/friend-finder.js
  home:
    - public/javascripts/publisher.js
    - public/javascripts/aspect-filters.js
    - public/javascripts/contact-list.js
    - public/javascripts/aspect-edit-pane.js
    - public/javascripts/fileuploader-custom.js
  people:
    - public/javascripts/vendor/jquery.autoSuggest.custom.js
  photos:
    - public/javascripts/photo-show.js
  inbox:
    - public/javascripts/vendor/jquery.autoSuggest.custom.js
    - public/javascripts/inbox.js
  profile:
    - public/javascripts/vendor/jquery.autoSuggest.custom.js

stylesheets:
  default:
    - public/stylesheets/application.css
    - public/stylesheets/ui.css
    - public/stylesheets/autocomplete.css
    - public/stylesheets/tags.css
    - public/stylesheets/vendor/facebox.css
    - public/stylesheets/vendor/fileuploader.css
    - public/stylesheets/vendor/tipsy.css
    - public/stylesheets/vendor/autoSuggest.css
  rtl:
    - public/stylesheets/rtl.css

  mobile:
    - public/stylesheets/mobile.css
 
