common: &common
  adapter: mysql2
  host: "localhost" 
  port: 3306
#  socket: /tmp/mysql.sock
  username: "root"
  password: "password"
  charset: utf8
  collation: utf8_bin


development:
  <<: *common
  database: diaspora_development

production:
  <<: *common
  database: diaspora_production

test:
  <<: *common
  database: "diaspora_test"
