test:
  adapter: mysql2
  database: diaspora_test
  username: root
  password: password
  charset: utf8
  collation: utf8_bin
development:
  adapter: mysql2
  database: diaspora_development
  username: root
  password: password
  charset: utf8
  collation: utf8_bin
production:
  adapter: mysql2
  database: diaspora_production
  username: root
  password: password
  charset: utf8
  collation: utf8_bin
