#######################################################################
############### DO NOT TOUCH ANYTHING BELOW THIS ######################
#######################################################################

defaults:
  version:
    number: "0.0.3.1"
  heroku: false
  environment:
    url: "http://localhost:3000/"
    certificate_authorities:
    redis:
    require_ssl: true
    single_process_mode: false
    s3:
      enable: false
      key:
      secret:
      bucket:
      region:
    image_redirect_url:
    assets:
      serve: false
      upload: false
      host:
    pubsub_server: 'https://pubsubhubbub.appspot.com/'
  server:
    port: 3000
    rails_environment: 'development'
    stderr_log:
    stdout_log:
    database: 'mysql'
    unicorn_worker: 2
    embed_resque_worker: false
    resque_workers: 1
  privacy:
    jquery_cdn: true
    google_analytics_key:
    piwik:
      enable: false
      host:
      site_id:
    mixpanel_uid:
    chartbeat_uid:
  settings:
    pod_name: "Diaspora*"
    enable_registrations: true
    follow_diasporahq: true
    invitations:
      open: true
      count: 25
    paypal_hosted_button_id:
    community_spotlight:
      enable: false
      suggest_email:
    typhoeus_verbose: false
  services:
    facebook:
      enable: false
      app_id:
      secret:
    twitter:
      enable: false
      key:
      secret:
    tumblr:
      enable: false
      key:
      secret:
  mail:
    enable: false
    sender_address: 'no-reply@example.org'
    method: 'smtp'
    smtp:
      host: 'localhost'
      port: 587
      authentication: 'plain'
      username:
      password:
      starttls_auto: true
      openssl_verify_mode:
      domain:
    sendmail:
      location: '/usr/sbin/sendmail'
      exim_fix: false
    message_bus_api_key:
  admins:
    account:
    podmin_email:
    inline_resque_web: true

development:
  environment:
    assets:
      serve: true
    single_process_mode: true
    require_ssl: false
  server:
    unicorn_worker: 1
  settings:
    follow_diasporahq: false
production:
  i_am_a_dummy: # Remove if you add an actual override
test:
  environment:
    url: "http://localhost:9887/"
    single_process_mode: true
    require_ssl: false
    assets:
      serve: true
  settings:
    follow_diasporahq: false
    invitations:
      open: true
  services:
    facebook:
      enable: true
      app_id: 'fake'
      secret: 'sdoigjosdfijg'
  mail:
    enable: true
integration1:
  environment:
    url: "http://localhost:45789/"
    assets:
      serve: true
    require_ssl: false
integration2:
  environment:
    url: "http://localhost:34658/"
    assets:
      serve: true
    require_ssl: false
