#######################################################################
############### DO NOT TOUCH ANYTHING BELOW THIS ######################
#######################################################################

defaults:
  version:
    number: "head" # Do not touch unless doing a release, do not backport the version number that's in master but keep develop to always say "head"
  heroku: false
  environment:
    url: "http://localhost:3000/"
    certificate_authorities:
    redis:
    require_ssl: true
    single_process_mode: false
    sidekiq:
      namespace:
      concurrency: 5
      retry: 10
      backtrace: 15
      log: 'log/sidekiq.log'
    s3:
      enable: false
      key:
      secret:
      bucket:
      region:
      cache: true
    image_redirect_url:
    assets:
      serve: false
      upload: false
      host:
    pubsub_server: 'https://pubsubhubbub.appspot.com/'
  server:
    port: 3000
    rails_environment: 'development'
    stderr_log:
    stdout_log:
    unicorn_worker: 2
    unicorn_timeout: 90
    embed_sidekiq_worker: false
    sidekiq_workers: 1
  privacy:
    jquery_cdn: true
    google_analytics_key:
    piwik:
      enable: false
      host:
      site_id:
    mixpanel_uid:
    chartbeat_uid:
    statistics:
      user_counts: false
      post_counts: false
      comment_counts: false
  settings:
    pod_name: 'diaspora*'
    enable_registrations: true
    autofollow_on_join: true
    autofollow_on_join_user: 'diasporahq@joindiaspora.com'
    invitations:
      open: true
      count: 25
    paypal_hosted_button_id:
    bitcoin_address:
    community_spotlight:
      enable: false
      suggest_email:
    typhoeus_verbose: false
    typhoeus_concurrency: 20
    username_blacklist:
      - 'admin'
      - 'administrator'
      - 'hostmaster'
      - 'info'
      - 'postmaster'
      - 'root'
      - 'ssladmin'
      - 'ssladministrator'
      - 'sslwebmaster'
      - 'sysadmin'
      - 'webmaster'
      - 'support'
      - 'contact'
      - 'example_user1dsioaioedfhgoiesajdigtoearogjaidofgjo'
    captcha:
      enable: true
      image_size: '120x20'
      captcha_length: 5
      image_style: 'simply_green'
      distortion: 'low'
  services:
    facebook:
      enable: false
      app_id:
      secret:
    twitter:
      enable: false
      key:
      secret:
    tumblr:
      enable: false
      key:
      secret:
    wordpress:
      enable: false
      key:
      secret:
  mail:
    enable: false
    sender_address: 'no-reply@example.org'
    method: 'smtp'
    smtp:
      host: 'localhost'
      port: 587
      authentication: 'plain'
      username:
      password:
      starttls_auto: true
      openssl_verify_mode:
      domain:
    sendmail:
      location: '/usr/sbin/sendmail'
      exim_fix: false
    message_bus_api_key:
  admins:
    account:
    podmin_email:

development:
  environment:
    assets:
      serve: true
    single_process_mode: true
    require_ssl: false
  server:
    unicorn_worker: 1
  settings:
    autofollow_on_join: false
    autofollow_on_join_user: ''
production:
  i_am_a_dummy: # Remove if you add an actual override
test:
  environment:
    url: 'http://localhost:9887/'
    single_process_mode: true
    require_ssl: false
    assets:
      serve: true
  settings:
    autofollow_on_join: false
    autofollow_on_join_user: ''
    invitations:
      open: true
  services:
    facebook:
      enable: true
      app_id: 'fake'
      secret: 'sdoigjosdfijg'
  mail:
    enable: true
integration1:
  environment:
    url: 'http://localhost:45789/'
    single_process_mode: true
    assets:
      serve: true
    require_ssl: false
integration2:
  environment:
    url: 'http://localhost:34658/'
    single_process_mode: true
    assets:
      serve: true
    require_ssl: false
