#   Copyright (c) 2010, Diaspora Inc.  This file is
#   licensed under the Affero General Public License version 3.  See
#   the COPYRIGHT file.

cross_server:
  deploy_to: '/usr/local/app/diaspora'
  user: 'root'
  repo: 'git://github.com/diaspora/diaspora.git'
  branch: 'master'
  default_env: 'development'
servers:
  tom:
    - url: 'tom.joindiaspora.com'
  backer:
   - username: 'adams'
      given_name: 'John'
      family_name: 'Adams'
      number: 1
      pin: 3742
   - username: 'jackson'
      given_name: 'Andrew'
      family_name: 'Jackson'
      number: 6
      pin: 8670
   - username: 'tyler'
      given_name: 'John'
      family_name: 'Tyler'
      number: 9
      pin: 6431
    - username: 'polk'
      given_name: 'James K.'
      family_name: 'Polk'
      number: 10
      pin: 1957
