#   Copyright (c) 2010, Diaspora Inc.  This file is
#   licensed under the Affero General Public License version 3.  See
#   the COPYRIGHT file.

cross_server:
  deploy_to: '/usr/local/app/diaspora'
  user: 'root'
  branch: 'production'
  repo: 'git://github.com/diaspora/diaspora.git'
  default_env: 'production'
servers:
  pivots:
    url: 'pivots.joindiaspora.com'
