-#    Copyright 2010 Diaspora Inc.
-#
-#    This file is part of Diaspora.
-#
-#    Diaspora is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU Affero General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    (at your option) any later version.
-#
-#    Diaspora is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU Affero General Public License for more details.
-#
-#    You should have received a copy of the GNU Affero General Public License
-#    along with Diaspora.  If not, see <http://www.gnu.org/licenses/>.
-#

.album{:id => post.id, :class => ("mine" if current_user.owns?(post))}
  %div.name
    = link_to post.name, object_path(post, :aspect => @aspect)

    %div.time
      by
      = link_to ((current_user.person == post.person)? 'you' : post.person.real_name), person_path(post.person)
      %br
      = link_to(how_long_ago(post), object_path(post, :aspect => @aspect))

  %div.image_cycle
    - for photo in post.photos[0..3]
      = link_to (image_tag photo.url(:thumb_large)), album_path(post, :aspect => @aspect)
    
