.album{:id => post.id, :class => ("mine" if current_user.owns?(post))}

  %div.name
    = link_to post.name, object_path(post)

    %div.time
      by
      = album_person(post)
      %br
      = link_to(how_long_ago(post), object_path(post))

  %div.image_cycle
    - for photo in post.photos[0..3]
      = link_to (image_tag photo.image.url(:thumb_large)), album_path(post)
    
