%li.album{:id => post.id, :class => ("mine" if mine?(post))}

  %div.name
    = link_to post.name, object_path(post)
    %div.time
      = link_to(how_long_ago(post), object_path(post))
  %div.image_cycle
    - for photo in post.photos
      =link_to (image_tag photo.image.url(:thumb_large)), object_path(post)
    

  - if mine?(post)
    .destroy_link
      = link_to 'Delete', object_path(post), :confirm => 'Are you sure?', :method => :delete, :remote => true
