-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.

.album{:id => post.id, :class => ("mine" if current_user.owns?(post))}
  %div.name
    = link_to post.name, object_path(post, :aspect => @aspect)

    %div.time
      by
      = link_to ((current_user.person == post.person)? 'you' : post.person.real_name), person_path(post.person)
      %br
      = link_to(how_long_ago(post), object_path(post, :aspect => @aspect))

  %div.image_cycle
    - for photo in post.photos
      = link_to (image_tag photo.url(:thumb_large)), album_path(post, :aspect => @aspect)
    
