<div class="photoset">
  <div class="img-bounding-box">
    <a href="{{object_url}}" class="stream-photo-link">
      <img src="{{image_url}}" data-small-photo="{{image_url}}" data-full-photo="{{image_url}}" class="stream-photo" />
    </a>
  </div>
</div>
