{{#each photos}}
  <div class="photo-fill" style="background-image: url({{sizes.large}})">
    <div class="darken">
      <div class="darken-content">
        <h1>
          {{{../text}}}
        </h1>
      </div>
    </div>
  </div>
{{/each}}
