-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- if user_signed_in?
  %ul.left_nav
    %li
      %div.root_element
        =link_to t('aspects.index.tags_following'), tag_followings_path
  
      %ul.sub_nav
        - if tags.size > 0
          - for tg in tags
            %li.unfollow{:id => tg.name}
              .unfollow_icon.hidden
                = link_to image_tag("icons/monotone_close_exit_delete.png", :height => 16, :title => t('aspects.index.unfollow_tag', :tag => tg.name)), tag_tag_followings_path(:name => tg.name, :remote => true), :confirm => t('are_you_sure'), :method => :delete, :remote => true, :id => "unfollow_" + tg.name
              =link_to "##{tg.name}", tag_path(:name => tg.name), :class => "tag_selector"
        - else
          %li
            = link_to t('aspects.index.no_tags'), tags_path, :class => "new_aspect"
