- content_for(:page_title) do
  We're sorry, but something went wrong (500)

%header
  = image_tag "branding/white2x.png", id: "diaspora_logo"

%h1
  500: Internal server error.
%h3
  Our bad! Sorry about that. :(
