- content_for(:page_title) do
  The page you were looking for doesn't exist (404)

.transparent.big-number
  404
%h3
  These are not the kittens you're looking for. Move along.
%p
  %a{href: "javascript:history.back()"}
    Go Back?
