- content_for(:page_title) do
  The change you wanted was rejected (422)

.transparent.big-number
  422
%h3
  The change you wanted was rejected.
%p
  Maybe you tried to change something you didn't have access to.

%p
  %a{href: "javascript:history.back()"}
    Go Back?
