- content_for :head do
  = stylesheet_link_tag :admin

.container
  .row
    .col-md-3
      - if current_user.admin?
        = render partial: "admins/admin_bar"
    = render partial: "report/reports"
