.form-group
  = f.label :code, t("two_factor_auth.input_token.label"), class: "control-label col-sm-6"
  .col-sm-6
    = f.text_field :code, placeholder: t("two_factor_auth.input_token.placeholder"), class: "form-control"
