-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= form_for StatusMessage.new, :remote => true do |f|
  = f.error_messages
  %p
    = f.text_field :message, :value => t('.tell_me_something_good')
    = f.submit t('.oh_yeah'), :class => 'button'
