.container-fluid#bookmarklet
  .row-fluid
    %h4
      =t('bookmarklet.post_something')
    = render :partial => 'publisher/publisher', :locals => { :aspect => :profile, :selected_aspects => @aspects,  :aspect_ids => @aspect_ids }
