-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


%h1.big_text status messages
= render "status_messages/new_status_message", :status_message => @status_message
%ul#stream
  
  - for status_message in @status_messages
    = render "status_message", :post => status_message
#pagination
  = will_paginate @status_messages

