= render :partial => 'publisher/publisher',
         :locals => { :aspect => @aspect,
                      :aspect_ids => @aspect_ids,
                      :selected_aspects => @aspects_with_person,
                      :person => @person }

