-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= render partial: "publisher/publisher", locals: {aspect: @aspects.first, selected_aspects: @aspects}
