- title "Status Message"

%p
  %strong Message:
  = @status_message.message
  
%p
  %strong Owner:
  = @status_message.owner

%p
  = link_to "Destroy", @status_message, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", status_messages_path
