%li{:data=>{:guid=>aspect.id}, :class => ("dull" if contacts.length == 0)}
  .right
    %b
      = link_to t('contacts', :count => contacts.count), edit_aspect_path(aspect), :rel => 'facebox'
  %b
    = aspect.name
  %br

  - if contacts.length > 0
    .contacts
      - for contact in contacts[0..15]
        = person_image_link(contact.person)
