%li{:data=>{:guid=>aspect.id}, :class => ("dull" if contacts.size == 0)}
  .right
    %b
      = link_to t('contacts', :count => contacts.size), edit_aspect_path(aspect), :rel => 'facebox'
  %b
    = link_to aspect.name, edit_aspect_path(aspect), :rel => 'facebox', :class => 'name'
  %br

  - if contacts.length > 0
    .contacts
      - for contact in contacts[0..15]
        = person_image_link(contact.person)
