%li.aspect{:data=>{:guid=>aspect.id}}
  .right
    = link_to t('contacts', :count => contact_count), edit_aspect_path(aspect), :rel => 'facebox'
  %b{:class => ("dull" if contacts.length == 0)}
    = aspect.name
  %br

  - if contacts.length > 0
    .contacts
      - for hash in contacts[0..16]
        = person_image_link(hash[:person])
