-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%ul#aspect_nav.left_nav
  %li.all_aspects{:class => ("active" if params["set"] != "all" && params["set"] != "only_sharing" && !@featured && !@finder)}
    .root_element= link_to t('aspects.index.your_aspects'), aspects_path

    %ul.sub_nav
      %a.toggle_selector{:href => '#'}
      - for aspect in all_aspects
        %li{:data => {:aspect_id => aspect.id}, :class => ("active" if defined?(selected_aspects) && selected_aspects.include?(aspect.id))}
          .edit
            = link_to image_tag("icons/pencil.svg", :height => 12, :title => t('.edit_aspect', :name => aspect.name)), edit_aspect_path(aspect), :rel => "facebox"

          %a.aspect_selector{:href => aspects_path("a_ids[]" => aspect.id), :class => "aspect_selector name hard_aspect_link", 'data-guid' => aspect.id}
            = aspect

      %li
        = link_to t('.add_an_aspect'), new_aspect_path, :class => "new_aspect", :rel => "facebox"
