-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#no_posts.empty_message{:style => ("display:none" unless @posts.count == 0)}
  .null_arrow ⇧
  %h3 Nobody has said anything yet.  Get the conversation started!

#no_friends.empty_message{:style => ("display:none" unless @friends.count == 0)}
  %h3 You have no friends in this aspect.

  - unless (@aspect == :all) || (@aspect == :public)
    %h4= link_to "Add a friend", "#add_request_pane", :class => "add_request_button"
  - else
    %h4= link_to "Add a friend", aspects_manage_path

  %h4= link_to "Invite a friend to join Diaspora!", "#invite_user_pane", :class => "invite_user_button", :class => "invite_user_button", :title => "Invite a friend"

