-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#no_contacts.floating.empty_message{:style => ("display:none" unless contact_count == 0)}
  %h3=t('.nobody')
  - if current_user.invites > 0
    %h4= link_to t('.invite'), new_user_invitation_path

