-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#no_posts.empty_message{:class => ("hidden" unless post_count == 0)}
  %h4{:style => "text-align:center;"}
    = t('.you_have_no_contacts')
    %br
    %br
    = t('.try_adding_some_more_contacts')
    != t('.or_featured', :link => link_to(t(".featured_users") , featured_users_path))
  

