-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#no_posts.empty_message{:style => ("display:none" unless @posts.count == 0)}
  .null_arrow ⇧
  %h3=t('.start_talking')

