- content_for :page_title do
  Home

- content_for :left_pane do
  = render "shared/aspect_friends"

%ul#stream
  - for post in @posts
    = render type_partial(post), :post => post unless post.class == Album
#pagination
  = will_paginate @posts

