-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :left_pane do
  = render "shared/aspect_friends"

- content_for :publish do
  = render "shared/publisher", :aspect_ids => :all

%ul#stream
  - for post in @posts
    = render type_partial(post), :post => post unless post.class == Album
- if @posts.size == 0
  .empty_message
    .null_arrow ⇧
    %h3 Nobody has said anything yet.  Get the conversation started!

#pagination
  = will_paginate @posts

