/* Main color(s) */
$brand-primary: #FF00FF;

/* Shades */
$main-color-essence: fade-out($brand-primary, 0.8);
$main-color-dark: darken($brand-primary, 30%);

/* Bootstrap Variables */
$btn-primary-bg: darken($brand-primary, 5%);
$link-color: $brand-primary;
$navbar-inverse-bg: $main-color-dark;

@import 'color_themes/color_theme_override';
