.side-shadow-border {
  @include box-shadow(#fff 0 1px);
}
#articles + aside {
  padding-top: 1.2em;
  section {
    @extend .sans;
    font-size: .8em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    h1 {
      margin: 1.5em 0 0;
      padding-bottom: .2em;
      border-bottom: 1px solid $sidebar-border;
      @extend .side-shadow-border;
      + p {
        padding-top: .4em;
      }
    }
  }
  ul {
    margin-bottom: 0.5em;
  }
  li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
    border-bottom: 1px solid $sidebar-border;
    @extend .side-shadow-border;
    p:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: inherit;
    @include transition(color, .5s);
  }
  &:hover a, &:hover #tweets a { color: $link-color; }
  #recent_posts {
    time {
      text-transform: uppercase;
      font-size: .9em;
      color: #666;
    }
  }
  @import "twitter";
  @import "pinboard";
  @import "delicious";
}
.aside-alt-link {
  color: #999;
  &:hover {
    color: #555;
  }
}
