%html
  %head
  %body
    %form{:action => '/', :id => 'login', :method => 'get'}
      %label{:for => 'diaspora_id'}
        Diaspora ID
      %input{:type=>'text', :id => 'diaspora_id', :name => 'diaspora_id'}
      %input{:type => 'submit', :value => "Connect to Diaspora" }
