-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
 function createUploader(){
   var uploader = new qq.FileUploaderBasic({
       element: document.getElementById('file-upload'),
       params: {'photo' : {'pending' : 'true', 'to' : "#{aspect_id}"}, 'set_profile_image' : "#{set_profile_image if defined?(set_profile_image)}"},
       allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
       action: "#{photos_path}",
       debug: true,
       button: document.getElementById('file-upload'),
       sizeLimit: 5000048,
       onSubmit: function(id, fileName){
        $('#file-upload').text("loading");
       },
      
       
       onComplete: function(id, fileName, responseJSON){
        $('#file-upload').text("add photos");
        var id = responseJSON.data.photo.id;
        var url = responseJSON.data.photo.url;
        $('#new_status_message').append("<input type='hidden' value='" + id + "' name='photos[]' />");
        $('#photodropzone').append("<li><img src='" + url +"' data-id='" + id + "' /></li>");
       }
       
   });
 }
 window.onload = createUploader;
