-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
 function createUploader(){
   var uploader = new qq.FileUploaderBasic({
       element: document.getElementById('file-upload'),
       params: {'photo' : {'pending' : 'true', 'to' : "#{aspect_id}"}, 'set_profile_image' : "#{set_profile_image if defined?(set_profile_image)}"},
       allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
       action: "#{photos_path}",
       debug: true,
       button: document.getElementById('file-upload'),
       sizeLimit: 5000048,
       onComplete: function(id, fileName, responseJSON){
        //var obj = jQuery.parseJSON(responseJSON.data);
        alert(responseJSON.data.photo.url);
        var id = responseJSON.data.photo.id;
        alert($('#new_status_message').length);
        $('#new_status_message').append("<input type='hidden' value='" + id + "' name='photos[]' />");
        
       }
       
   });
 }
 window.onload = createUploader;
