-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= link_to (image_tag post.url(:thumb_large)), object_path(post), :class => 'stream_photo'

%p.photo_description
  = post.caption

= link_to "view all of #{post.person.real_name}'s photos", person_photos_path(post.person), :class => "small_text"

