-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= link_to (image_tag post.url(:thumb_large)), object_path(post), :class => 'stream_photo'

%h1
  = post.pending

%p.photo_description
  = post.caption

= link_to t('.view_all', :name => post.author.name), person_photos_path(post.author), :class => "small_text"

