%h1 friend requests
= render "friend_requests/new_friend_request", :friend_request => @friend_request
%ul#stream
  - for friend_request in @friend_requests
    = render "friend_request", :friend_request => friend_request
#pagination
  = will_paginate @friend_requests
