- title "Friend Request"

%p
  = friend_request.inspect

%p
  = link_to "Edit", edit_friend_request_path(@bookmark)
  |
  = link_to "Destroy", @friend_request, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", friend_requests_path
