<header>
  <p>
    <time>{{ page.date | ordinalize }}</time>
    {% if site.author or site.author == page.author %}
      <span class="byline"><em>by</em> <span class="author">{{ site.author }}</span></span>
    {% elsif page.author %}
      <span class="byline"><em>by</em> <span class="author">{{ page.author }}</span></span>
    {% endif %}
  </p>
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
</header>
{% if index %}
<div class="entry">{{ content | exerpt(content, page.url, 'Continue reading &raquo;') | smart_quotes }}</div>
{% else %}
<div class="entry">{{ content | smart_quotes }}</div>
{% endif %}

{% if page.updated %}<p class="updated"><em>updated</em> <time>{{ page.updated | ordinalize }}</time></p>{% endif %}
