<header>
  {% if index %}
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  {% else %}
    <h1>{{ page.title }}</h1>
  {% endif %}
  {% unless page.nometa %}
    {% if page.author %}
      {% assign author = page.author %}
    {% else %}
      {% assign author = site.author %}
    {% endif %}
    <p>
      {% if author %}
        <span class="byline author vcard">By <span class="fn">{{ author }}</span></span>
      {% endif %}
      {% if page.date %}
        <time datetime="{{ page.date | datetime }}" pubdate>{{ page.date | ordinalize }}</time>
      {% endif %}
      {% if page.updated %}
        <time class="updated" datetime="{{ page.updated | datetime }}" pubdate>Updated {{ page.updated | ordinalize }}</time>
      {% endif %}
    </p>
  {% endunless %}
</header>
{% if index %}
<div class="entry">{{ content | exerpt(content, page.url, 'Continue reading &raquo;') | smart_quotes }}</div>
{% else %}
<div class="entry">{{ content | smart_quotes }}</div>
{% endif %}
