---
blog_title: My Octopress Blog

twitter_user: 
tweet_count: 3
show_replies: false

delicious_user: 
delicious_count: 3

full_url: 
disqus_short_name: 

google_custom_search_id:
google_analytics_tracking_id:

---