<head>
  <meta charset="utf-8">

  <title>{{page.title}} - {{site.title}}</title>
  <meta name="author" content="{{site.author}}">
  {% if page.description %}
    <meta name="description" content="{{page.description}}"/>
  {% endif %}

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1">

  {% if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}"/>
  {% endif %}

  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <!--<script src="/javascripts/octopress.js" type="text/javascript"></script>-->
  <script src="javascripts/libs/modernizr-1.7.min.js"></script>
  <script src="javascripts/libs/ios-viewport-scaling-bug-fix.js"></script>
  {% if site.google_analytics_tracking_id %}
    {% include google_analytics.html %}
  {% endif %}
  <link href="/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml"/>
</head>
