<section>
  <h1>About Me</h1>
  <p>Hi, I'm Octopress!</p>
</section>
{% if page.single and site.recent_posts %}
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  </section>
{% endif %}
{% if site.twitter_user %}
  <section>{% include twitter.html %}</section>
{% endif %}
{% if site.delicious_user %}
  <section>{% include delicious.html %}</section>
{% endif %}
{% if site.pinboard_user %}
  <section>{% include pinboard.html %}</section>
{% endif %}

