-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.stream
  = render partial: "shared/stream_element",
    locals: {post: post, commenting_disabled: commenting_disabled?(post), expanded_info: true}

