-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-20.append-2.prepend-2.last

  #main_stream.stream.status_message_show
    - if @post.is_a?(Photo)
      = render 'posts/photo', :post => @post
    - else
      = render 'shared/stream_element', :post => @post, :commenting_disabled => commenting_disabled?(@post)
  %br
  %br
  %br
