-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= render :partial => 'shared/stream_element',
  :locals => {:post => @post, :commenting_disabled => defined?(@commenting_disabled),
  :expanded_info => true}

.stream.show{:data=>{:guid=>@post.id}}
  = render "comments/comments", :post => @post, :comments => @post.comments, :comments_expanded => true
