- if person.owner.present? && !person.closed_account?
  - if Role.spotlight?(person)
    = link_to t("admins.user_search.remove_spotlight"),
      admin_remove_spotlight_path(person.user_id),
      method: :post,
      class: "btn btn-danger btn-block"
  - else
    = link_to t("admins.user_search.make_spotlight"),
      admin_make_spotlight_path(person.user_id),
      method: :post,
      class: "btn btn-info btn-block"