// Link Colors
$link-color: lighten(#165b94, 3);
$link-color-hover: darken(#165b94, 5);

// Main Section Colors
$body-color: #333333;
$light-text: #999999;
$body-bg: #323232;

$header-bg: #323232;
$header-border: #181818;
$title-color: #dddddd;

$nav-color: #555555;
$nav-color_hover: black;
$nav-bg: #e8e8e8;
$nav-border_top: white;
$nav-border_bottom: #aaaaaa;
$nav-border_left: #cccccc;
$nav-border_right: white;

$sidebar-bg: #f2f2f2;
$sidebar-border: #d5d5d5;

// Blog
$article-border: #eeeeee;
$main-bg: #fff;

$footer-color: #999999;
$footer-bg: #444444;

// Form Colors
$fieldset-bg: #ececec;
$fieldset-border: #c3c3c3;

$textinput-color: #333333;
$textinput-bg: #f4f4f4;
$textinput-bg-focus: #fefeee;

$textinput-border-top: #aaaaaa;
$textinput-border-bottom: #c6c6c6;
$textinput-border-left: #c3c3c3;
$textinput-border-right: #c3c3c3;
$textinput-border-focus: #989898;
