@import 'colors';

/** ADMIN STYlES **/

body > div.container {
  margin-top: 40px;
  padding-top: 1em;
}

#admin_nav {
  font-size: 1em;
  border-bottom: 2px solid #777;
  margin-bottom: 20px;

  ul {
    display: inline;
  }

  li {
    font-size: 0.8em;
    display: inline;
    margin-right: 0.5em;

    a { color: $blue; }
  }
}

/** user search **/

.users {
  li.user {
    border-bottom: 1px solid $light-grey;
    margin-bottom: .4em;
    padding-bottom: .4em;

    &:last-child { border: none; }

    .avatar {
      width: 50px;
      height: 50px;
    }

    .actions li {
      margin-top: .3em;
    }
  }
}

/** reported posts **/

@import 'report'
