@import 'color-variables';
@import 'animations';

/** ADMIN STYlES **/
/** user search **/

.users {
  li.user {
    border-bottom: 1px solid $light-grey;
    margin-bottom: .4em;
    padding-bottom: .4em;

    &:last-child { border: none; }

    .avatar {
      width: 50px;
      height: 50px;
    }

    .actions{ width: 150px; }

    .pull-right .label{ display: inline-block; }
  }
}

/** Invites panel **/
.more_invites{
  #add-invites-section{
    line-height: 34px;
    margin-bottom: 15px;
  }
}

/** reported posts **/

@import 'report';

/** pod list **/

#pod-list {
  th.added,
  td.added,
  td.actions { white-space: nowrap; }

  tr.deleting {
    opacity: .5;
  }

  tr.checking .recheck i {
    animation-duration: .4s;
    animation-name: pulsate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  td.actions {
    text-align: right;

    a { color: inherit; }
  }

  pre.details {
    margin-top: 1em;
    white-space: normal;
  }
}
