.aspect_dropdown {
  
  li {
    .status_indicator {
      width: 19px;
      height: 14px;
      display: inline-block;
    }
    .icon-ok, .icon-refresh {
      padding-right: 5px;
      display: none;
    }
    &.selected {
      .icon-ok { display: inline-block;}
      .icon-refresh { display: none;}
    }
    &.loading {
      .icon-refresh { display: inline-block;}
      .icon-ok { display: none;}
    }
    a {
      cursor: pointer;
      padding-left: 10px;
    }
  }
}


/* -- Used in contacts/index.html.haml -- */
#aspect_controls {
  @include border-radius(2px);
  background-color: #fafafa;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 23px;
  
  .button, .button_to {
    margin-right: 5px;
  }
  
  .button_to { display: inline-block; }
  
  .contact_visibility_padlock,
  .modify_aspect,
  .icons-mail,
  .icons-monotone_close_exit_delete {
    margin-left: 4px;
    margin-bottom: -2px;
    display: inline-block;
  }  
  
  .icons-mail {
    width: 16px;
    height: 13px;
    margin-bottom: -1px;
  }
}

.contact_visibility_padlock {
  height: 16px;
  width: 16px;
  /* -- To remove when the facebox will be deleted -- */
  display: inline-block;
  margin-left: 4px;
  margin-bottom: -2px;
}

#people_stream.contacts {
  .stream_element {
    padding: 10px;
    min-height: 30px;
    
    .media { overflow: visible; }
    
    .float-right {
      top: 16px;

      a {
        @include opacity(1);

        &:hover {
          @include opacity(0.6);
        }
      }
    }
    
    .info { margin-top: -2px; }
  }
  
  .avatar {
    height: 30px;
    width: 30px;
  }

  .icons-monotone_close_exit_delete {
    height: 14px;
    width: 14px;
  }
  
  .no_contacts {
    text-align: center;
    margin-top: 50px;
  }
}

#selected_aspect_contacts .avatar {
    height: 32px;
    width: 32px;
    margin-bottom: -2px;
}

.stream-faces a:hover { text-decoration: none; }

#view_all_contacts_link {
  @include border-radius(2px);
  display: block;
  padding: 5px;
  border: 1px dotted #aaa;
  text-align: center;
  margin: 5px 0px;
}

#no_contacts {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  color: $text-dark-grey;
}

/* -- Used in aspects/edit.haml and in contacts/sharing.haml -- */
#aspect_edit_controls { margin-top: 8px; }
#aspect_edit_pane {
  width: 772px;
  
  .contact_list_controls {
    height: 30px;
    margin-bottom: 5px;
  }

  #contact_list_search {
    width: 200px;
    margin-top: 0px;
    float: right;
  }
  
  .contact_list,
  .aspect_list {
    @include border-radius(3px);
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #bbb;
    background-color: rgb(252,252,252);

    .avatar {
      float: left;
      height: 50px;
      width: 50px;
      margin-right: 10px !important;
    }

    .button.share {
      padding-right: 20px;
      .right {
        right: 8px;
        top: 3px;
      }
    }

    .icons-monotone_plus_add_round,
    .icons-monotone_check_yes {
      height: 20px;
      width: 20px;
    }

    & > .contacts {
      margin: 0px;
      padding: 5px;
      padding-right: 0px;

      & > .contact {
        @include border-radius(3px);
        @include box-shadow(0, 1px, 5px, #ccc);
        position: relative;
        display: inline-block;
        float: left;
        height: 50px;
        width: 170px;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 5px;
        background-color: #fff;
        border: 1px solid $border-dark-grey;

        &.hidden { display: none; }
        & > .name { white-space: nowrap; }
        &.remote_friend { width: 285px; }

        a.button {
          @include box-shadow(0,0,0);
          border-bottom: none;
          min-width: auto;
          float: right;
          padding: 2px 4px;
          margin-top: 5px;

          &.added { @include linear-gradient(rgb(158,255,153), rgb(92,199,86)); }
          &.added.remove {
            @include linear-gradient(rgb(255,153,153), rgb(199,86,86));

            &:active { @include linear-gradient(rgb(199,119,119), rgb(130,55,55)); }
          }
        }
      }
    }
  }

  .aspect_list {
    height: 300px;
    max-height: 300px;

    .name { left: 1em; }

    ul > li {
      padding: 1em;
      height: 1em;

      .right {
        top: 2px;
        right: 1em;
      }
    }
  }

  .person_tiles .tile {
    @include border-radius(2px);
    padding: 6px;
    padding-left: 65px;
    margin: 3px;
    margin-left: 0px;
    display: inline-block;
    width: 126px;
    height: 50px;
    border: 1px solid #eee;
    position: relative;

    img {
      position: absolute;
      left: 6px;
    }
  }

  &.larger { width: 650px; }

  .bottom_submit_section {
    margin-top: 12px;
  
    form {
      display: inline-block;
    }
    
    .creation {
      float: right;
    }
  }
}
