.ac_results {
  border: 1px solid #999;
  background-color: transparent;
  overflow: hidden;
  z-index: 99999;
  min-width: 300px !important;
  width: 100%;

  border-radius: 3px;
  box-shadow: 0 1px 3px #999;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px {
    left: 50px;
    top: 6px;
  }
  cursor: default;
  display: block;
  height: 45px;
  position: relative;
  // if width will be 100% horizontal scrollbar will apear
  // when scroll mode will be used
  // width 100%
  font: menu;
  font-size: 1em;
  // it is very important, if line-height not setted or setted
  // in relative units scroll will be broken in firefox
  //:line-height 16px
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ac_loading {
  background: white image-url('ajax-loader2.gif') right 5px center no-repeat;
  background-size: 18px;
}

.ac_odd {
  background-color: #fafafa;
}

.ac_even {
  background-color: #fff;
}

.ac_over {
  background-color: #3F8FBA;
  color: white;
}

.ac_results {
  .avatar {
    height: 35px;
    width: 35px;
    position: absolute;
    left: 5px;
    top: 5px;
  }

  .search_handle {
    font-size: 0.8em;
    color: #999;
    margin-top: -3px;
  }

  .ac_over .search_handle{
    color: #fff;
  }

  .ac_over .search_handle, .search_handle {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
