body > .container-fluid.chat-roster-shown {
  padding-right: 224px;
  #back-to-top { right: 244px; }
  .col-md-11-with-chat-shown {
    @media (min-width: 1200px) {
      width: 91.66666667%;
    }
  }
  .col-sm-9-with-chat-shown {
    @media (min-width: 768px) {
      width: 75%;
    }
  }
  .col-md-9-with-chat-shown {
    @media (min-width: 992px) {
      width: 75%;
    }
  }
  .col-md-12-with-chat-shown {
    @media (min-width: 992px) {
      width: 100%;
    }
  }
  .hidden-lg-with-chat-shown {
    @media (min-width: 1200px) {
      display: none!important;
    }
  }
  .hidden-md-with-chat-shown {
    @media (min-width: 992px) and (max-width: 1200px) {
      display: none!important;
    }
  }
}
body > .container-fluid.chat-roster-hidden {
  #back-to-top { right: 54px; }
}

// This element is instanciated by JSXC. Does not have to follow naming conventions
// scss-lint:disable IdSelector, SelectorFormat
#jsxc_roster {
  top: $navbar-height;
}
// scss-lint:enable IdSelector, SelectorFormat
