$highlight-white: #FAFAFA;
$background-white: #FFFFFF;

$grey: #2B2B2B;
$light-grey: #DDDDDD;
$border-grey: #DDDDDD;
$background-grey: #EEEEEE;
$header-grey: #939393;
$link-grey: #777777;
$text-grey: #999999;

$white: white;
$black: black;
$red: #A80000;
$green: #8EDE3D;

$blue: #3F8FBA;
$dark-blue: darken(#0984C8,10%);
$creation-blue: #0097FF;

