$highlight-white: #FAFAFA;

$background-white: #FFFFFF;
$background-grey: #EEEEEE;

$grey: #2B2B2B;
$light-grey: #DDDDDD;

$border-grey: #DDDDDD;
$border-dark-grey: #999999;

$link-grey: #777777;
$link-disabled-grey: #999999;

$text-grey: #999999;
$text-dark-grey: #666666;

$white: white;
$black: black;
$green: #8EDE3D;
$red: #A80000;
$blue: #3F8FBA;
$dark-blue: darken(#0984C8,10%);
$creation-blue: #0097FF;

/* colors : http://www.colourlovers.com/palette/2134203/Awezome_in_argyle */
$cyan : rgb(8,204,249);
$yellow : rgb(242,244,9);
$purple : rgb(220,23,166);
$lime-green : rgb(143, 199,10);
$orange : rgb(237, 165, 13);
$turquoise : rgb(8, 224, 173);
$sand : rgb(245, 239, 237);
