$highlight-white: #FAFAFA;

$background-white: #FFFFFF;
$background-grey: #EEEEEE;

$grey: #2B2B2B;
$light-grey: #DDDDDD;

$border-grey: #DDDDDD;
$border-dark-grey: #999999;

$link-grey: #777777;
$link-disabled-grey: #999999;

$text-grey: #999999;
$text-dark-grey: #666666;

$white: white;
$black: black;
$red: #A80000;
$green: #8EDE3D;

$blue: #3F8FBA;
$dark-blue: darken(#0984C8,10%);
$creation-blue: #0097FF;

