.comment_stream {
  .show_comments {
    border-top: 1px solid $border-grey;
    line-height: $line-height-computed;
    margin-top: 5px;
    a {
      color: $text-grey;
      font-size: 13px;
    }
    .media { margin-top: 10px; }
  }

  .loading-comments {
    height: $line-height-computed + 11px; // height of .show_comments: line-height, 10px margin, 1px border
    margin-top: -$line-height-computed - 11px;

    .loader {
      height: 20px;
      width: 20px;
    }

    .media { margin: 5px; }
  }

  .comments > .comment,
  .comment.new-comment-form-wrapper {
    .avatar {
      height: 35px;
      width: 35px;
    }
    margin: 0;
    border-top: 1px dotted $border-grey;
    padding: 10px 0;

    .info {
      margin-top: 5px;
      font-size: $font-size-small;
      line-height: $font-size-small;
    }

    >.highlighted {
      border-left: 3px solid $link-color;
      padding-left: 3px;
    }
  }

  .comment.new-comment-form-wrapper { padding-bottom: 0; }

  .submit_button {
    margin-top: 10px;
    input {
      float: right;
    }
    padding-left: 12px;
    display: none;
  }
  .comment_box {
    height: 35px;
    resize: none;
  }
  textarea.comment_box:focus, textarea.comment_box:valid, textarea.comment_box:active {
    border-color: $border-dark-grey;
    & + .submit_button { display: block; }
    min-height: 35px;
    box-shadow: none;
  }
}
