.comment_stream {
  .show_comments {
    margin-top: 5px;
    border-top: 1px solid $border-grey;
    a {
      color: $text-grey;
      font-size: 13px;
    }
    .media { margin-top: 10px; }
  }
  .comments > .comment, .comment.new_comment_form_wrapper {
    .avatar {
      height: 35px;
      width: 35px;
    }
    margin: 0;
    border-top: 1px dotted $border-grey;
    padding: 10px 0;

    .info {
      margin-top: 5px;
      font-size: $font-size-small;
      line-height: $font-size-small;
    }

    >.highlighted {
      border-left: 3px solid $blue;
      padding-left: 3px;
    }
  }
  .submit_button {
    margin-top: 10px;
    input {
      float: right;
    }
    padding-left: 12px;
    display: none;
  }
  .comment_box {
    height: 35px;
    resize: none;
  }
  textarea.comment_box:focus, textarea.comment_box:valid, textarea.comment_box:active {
    border-color: $border-dark-grey;
    & + .submit_button { display: block; }
    min-height: 35px;
    box-shadow: none;
  }
}
