.comment_stream {
  .show_comments {
    margin-top: 5px;
    /*border-top: 1px solid $border-grey;*/
    a {
      color: $text-grey;
      font-size: 13px;
    }
    .media { margin-top: 10px; }
  }

  .comment.new_comment_form_wrapper .bd .comment_box{ border: none;}

  .comments > .comment, .comment.new_comment_form_wrapper {
    &:before{
      content: "";
      display: block;
      position: relative;
      width: 0;
      height: 0;
      left: 34px;
      top: 20px;

      border-right: 11px solid $light-grey;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;

    }
    .avatar {
      height: 35px;
      width: 35px;
    }
    margin: 0;
    /*border-top: 1px dotted $border-grey;*/
    padding: 10px 0;

    .bd {
      margin-right: 10px;
      padding: 5px;
      box-shadow: 0px 1px 1px 1px $light-grey;/*rgba(0, 0, 0, 0.16);*/
    }

    .info {
      margin-top: 5px;
      font-size: $font-size-small;
      line-height: $font-size-small;
    }

    >.highlighted {
      border-left: 3px solid $blue;
      padding-left: 3px;
    }
  }
  .submit_button {
    margin-top: 10px;
    input {
      float: right;
    }
    padding-left: 12px;
    display: none;
  }
  .comment_box {
    height: 35px;
    resize: none;
  }
  textarea.comment_box:focus, textarea.comment_box:valid, textarea.comment_box:active {
    border-color: $border-dark-grey;
    & + .submit_button { display: block; }
    min-height: 35px;
    box-shadow: none;
  }
}
