#section_header {
  h3 {
    border-bottom: 1px solid $border-grey;
  }
}

#people_stream {
  .bd {
    font-size: 13px;
    line-height: 19.5px;
  }

  .btn-group {
    margin-top: 5px;

    .caret {
      margin-top: 8px;
    }

    .text {
      text-shadow: none;
    }
  }

  .info {
    font-size: 11px;
    line-height: 16.5px;
  }

  .stream_element {
    border-bottom: 1px solid $border-grey;

    .icons-monotone_close_exit_delete {
      margin-top: 8px;
    }

    .media {
      margin: 10px;
    }
  }
}
#people_stream.contacts {
  .stream_element {
    padding: 10px;
    min-height: 30px;

    .media { overflow: visible; }

    .float-right {
      top: 16px;

      a {
        @include opacity(1);

        &:hover {
          @include opacity(0.6);
        }
      }
    }

    .info { margin-top: -2px; }
  }

  .avatar {
    height: 30px;
    width: 30px;
  }

  .icons-monotone_close_exit_delete {
    height: 14px;
    width: 14px;
  }

  .no_contacts {
    text-align: center;
    margin-top: 50px;
  }
}

#community_spotlight {
  .avatar {
    width: 140px;
    height: 140px;
  }

  .user_card {
    @include border-radius(3px);
    @include box-shadow(0,1px,5px,#ccc);

    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    min-height: 220px;
    padding: 10px 10px 30px 10px;
    position: relative;
    vertical-align: top;
    width: 140px;

    h4 {
      margin-bottom: 0px;
      padding-bottom: 2px;
    }

    .add_user_to_aspect {
      bottom: 10px;
      right: 10px;
      position: absolute;
    }

    .dropdown {
      width: 100%;
    }

    .tags {
      color: $text-grey;
    }
  }
}

#no_contacts {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  color: $text-dark-grey;
}
