#contacts_container {
  #people_stream.contacts {
    .header { 
      border-bottom: 1px solid $border-grey;
      margin-top: 10px;
      min-height: 53px;
      #change_aspect_name { cursor: pointer; }
      #aspect_name_form { 
        display: none;
        form { margin: 0px; }
        input { 
          margin-bottom: 0px;
          margin-top: 10px;
        }
        .btn { margin-top: 10px; }
      }
      a { 
        text-decoration: none;
        margin-right: 25px;
      }
      .entypo {
        font-size: 24.5px;
        line-height: 40px;
        color: lighten($black,75%);
        &:hover { color: $black; }
      }
      .btn { margin-top: 8px; }
    }

    .contact_remove-from-aspect {
      text-decoration: none;
      .entypo {
        font-size: 20px;
        line-height: 50px;
        margin: 10px;
        color: lighten($black,75%);
        &:hover { color: $black; }
      }
    }
    
    .no_contacts {
      text-align: center;
      margin-top: 50px;
    }
  }
}

#aspect_nav {
  li.aspect > a { padding-left: 30px; }
  li.new_aspect > a { padding-left: 30px; }
}

#no_contacts {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  color: $text-dark-grey;
}
