#conversations_container {
  .stream_container { border-left: none; }

  .stream_element {
    border-bottom: 1px solid $border-grey;
    &:first-child { border-top: none; }
    a.author{
      font-weight: bold;
      unicode-bidi: bidi-override;
    }

    .avatar{
      width: 50px;
      height: 50px;
    }

    p {
      margin: 0 0 1em 0;
      &:last-child { margin-bottom: 0; }
    }
    &.new_message { border-bottom: none; }
    .timestamp { font-size: 11px; }
  }

  .stream_element.conversation {
    padding: 8px;
    .media {
      margin-bottom: 0px;
      margin-left: 0px;
    }

    &:hover:not(.selected), &.selected {
      .subject,
      .last_author,
      .last_message {
        color: $white;
      }
      .timeago { color: $background-grey; }
    }

    &:hover, &.unread:hover, &.selected:hover {
      background-color: lighten($blue,5%);
      cursor: pointer;
      .participants {
        height: 25px;
        margin-top: 5px;
        padding-top: 5px;
        border-color: rgba($border-grey, 1)
      }
    }
    &.unread { background-color: darken($background-white, 5%); }
    &.selected { background-color: $blue; }

    .avatar {
      width: 50px;
      height: 50px;
      float: left;
    }

    .last_author, .last_message {
      font-size: 12px;
      line-height: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .last_author { color: $text-dark-grey; }

    .message_count, .unread_message_count {
      margin-left: 3px;
      float: right;
      font-size: 12px;
      font-weight: normal;
    }

    .participants_count {
      &:before { content: '+'; }
      background-color: rgba($white, 0.7);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      float: left;
      font-size: 13px;
      font-weight: bold;
      height: 15px;
      line-height: 15px;
      margin-left: -50px;
      margin-top: 35px;
      text-align: center;
      width: 50px;
    }

    .participants {
      float: left;
      clear: both;
      height: 0;
      width: 100%;
      overflow: hidden;
      border-top: 1px dotted rgba($border-grey, 0);
      transition: height ease 300ms;
      .avatar {
        margin: 0 5px 0 0;
        height: 25px;
        width: 25px;
      }
    }

    .img { line-height: 15px; }

    .subject {
      font-size: $font-size-text;
      > * {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .timeago {
      float: right;
      line-height: normal;
      font-weight: normal;
      color: $blue;
    }
  }
}

#conversation_show {
  .conversation_participants {
    box-shadow: 0 2px 3px -3px #666;

    background-color: $background-white;
    margin-bottom: 5px;
    border-bottom: 1px solid $border-grey;
    padding: 5px;
    line-height: 0px;

    .hide_conversation, .delete_conversation {
      display: block;
      margin-top: 25px;
      margin-left: 10px;
    }

    .avatar {
      height: 30px;
      width: 30px;
    }

    .avatars {
      text-align: right;
      margin-top: 9px;
    }

    a img { margin-bottom: 4px; }

    .conversation_controls {
      margin-bottom: 10px;

      a { margin-right: 10px; }
    }
  }

  .conversation_participants a:hover { text-decoration: none; }

  .stream .stream_element {
    padding: 10px;
  }
}

#left_pane {
  border-right: solid 1px $border-grey;
  h3 {
    padding-bottom: 0;
  }

  #left_pane_header {
    padding: 10px;
    padding-right: 20px;
    border-bottom: 1px solid $border-grey;
  }

  #conversation_inbox {
    a:hover {
      text-decoration: none;
    }
    .pagination {
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      .disabled a {
        background: $background-grey;
      }
    }
  }
}

@media (max-width: 1354px) {
  #left_pane #conversation_inbox .pagination ul > li > a {
    padding: 4px 7px;
  }
}

#conversation_new {
  label { font-weight: bold; }
}

#no_conversations,
#no_conversation_text {
  font-weight: bold;
  color: #ccc;
  text-align: center;
  margin-top: 100px;
}

#no_conversation_text {
  font-size: 20px;
}

#no_conversation_controls {
  text-align: center;
  font-size: 12px;
}

#new_conversation_pane {
  ul.as-selections { width: 100% !important; }
  input#contact_ids { box-shadow: none; }
  label { font-weight: bold; }
}
