.page-conversations {
  background-color: $sidebars-background;

  .left-pane,
  .new-conversation,
  .stream_container .conversation-participants {
    background-color: $white;
    border: 1px solid $light-grey;
    box-shadow: $card-shadow;
    margin-top: -10px;
  }

  .new-conversation,
  .left-pane-header,
  .stream_container .conversation-participants {
    padding: 10px;
  }

  .left-pane {
    margin-bottom: 50px;
    .pagination { margin: 5px; }
  }

  .pagination-container > .pagination {
    border-radius: 0;
    border-top: 1px solid $border-grey;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .stream_element {
    background-color: $white;
    padding: 10px;

    .avatar {
      width: 50px;
      height: 50px;
    }

    > .media { margin: 0; }
  }

  .stream_element.message,
  .stream_element.new-message {
    border: 1px solid $light-grey;
    box-shadow: $card-shadow;
    margin-bottom: 20px;

    .avatar { min-width: 50px; }

    .author {
      font-weight: bold;
      unicode-bidi: bidi-override;
    }

    p {
      margin: 0 0 1em 0;
      &:last-child { margin-bottom: 0; }
    }
  }

  .stream_element.new-message,
  .new-conversation {
    label { font-weight: bold; }

    textarea {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }
  }

  .stream_element.conversation {
    border-top: 1px solid $border-grey;

    .timestamp { font-size: $font-size-small; }
    .media { margin: 0; }

    &:hover:not(.selected), &.selected {
      .subject,
      .last_author,
      .last_message {
        color: $white;
      }
      .timeago { color: $background-grey; }
    }

    &:hover, &.unread:hover, &.selected:hover {
      background-color: lighten($blue,5%);
      cursor: pointer;
      .participants {
        border-color: rgba($border-grey, 1);
        height: 31px;
        margin-top: 5px;
        padding-top: 5px;
      }
    }

    &.unread { background-color: darken($background-white, 5%); }
    &.selected { background-color: $blue; }

    .last_author, .last_message {
      font-size: 12px;
      line-height: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .last_author { color: $text-dark-grey; }

    .message-count, .unread-message-count {
      margin-left: 3px;
      font-size: 12px;
      font-weight: normal;
    }

    .participants_count {
      &:before { content: '+'; }
      background-color: rgba($white, 0.7);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      font-weight: bold;
      height: 15px;
      line-height: 15px;
      margin-top: -15px;
      position: absolute;
      text-align: center;
      width: 50px;
    }

    .participants {
      height: 0;
      width: 100%;
      overflow: hidden;
      border-top: 1px dotted rgba($border-grey, 0);
      transition: height ease 300ms;
      .avatar {
        float: left;
        margin: 0 5px 0 0;
        height: 25px;
        width: 25px;
      }
    }

    .img { line-height: 15px; }

    .subject {
      font-size: $font-size-base;
      > * {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .timeago {
      float: right;
      line-height: normal;
      font-weight: normal;
      color: $blue;
    }
  }

  .stream_container .conversation-participants {
    margin-bottom: 20px;

    .hide_conversation, .delete_conversation {
      display: block;
      margin-left: 10px;
      margin-top: 10px;
    }

    .avatar {
      display: inline;
      height: 50px;
      margin-top: 4px;
      width: 50px;
    }
  }

  .conversation-participants a:hover { text-decoration: none; }

  .no-conversations {
    color: $gray-light;
    font-size: $font-size-h4;
    font-weight: bold;
    padding: 50px 0;
    text-align: center;
  }
}

@media (max-width: 1354px) {
  #left_pane #conversation_inbox .pagination ul > li > a {
    padding: 4px 7px;
  }
}

#new_conversation_pane {
  ul.as-selections { width: 100% !important; }
  input#contact_ids { box-shadow: none; }
  label { font-weight: bold; }
}
