.entypo {
  font-family: 'entypo';
  font-style: normal;
  color: black;

  &.red {
    color: #A40802;
  }
  &.white {
    color: white;
  }
  &.gray {
    color: #aaa;
  }
  &.blue {
    color: #3f8fba;
  }

  &.large {
    font-size: 2.5em;
  }

  &.middle {
    font-size: 1.5em;
  }

  &.small {
    font-size: 1.2em;
  }

  /* main icon map */
  &.add-to-list:before { content: '\e003'; } /* e003 */
  &.add-user:before { content: '\e700'; } /* e700 */
  &.address:before { content: '\e723'; } /* e723 */
  &.adjust:before { content: '\25d1'; } /* 25d1 */
  &.air:before { content: '\e753'; } /* e753 */
  &.airplane:before { content: '\2708'; } /* 2708 */
  &.archive:before { content: '\e738'; } /* e738 */
  &.area-graph:before { content: '\1f53e'; } /* 1f53e */
  &.arrow-combo:before { content: '\e74f'; } /* e74f */
  &.attach:before { content: '\1f4ce'; } /* 1f4ce */
  &.back-in-time:before { content: '\e771'; } /* e771 */
  &.back:before { content: '\1f519'; } /* 1f519 */
  &.bag:before { content: '\1f45c'; } /* 1f45c */
  &.bar-graph:before { content: '\1f4ca '; } /* 1f4ca */
  &.battery:before { content: '\1f50b'; } /* 1f50b */
  &.beamed-note:before { content: '\266b'; } /* 266b */
  &.bell:before { content: '\1f514'; } /* 1f514 */
  &.block:before { content: '\1f6ab'; } /* 1f6ab */
  &.book:before { content: '\1f4d5 '; } /* 1f4d5 */
  &.bookmark:before { content: '\1f516'; } /* 1f516 */
  &.bookmarks:before { content: '\1f4d1'; } /* 1f4d1 */
  &.box:before { content: '\1f4e6'; } /* 1f4e6 */
  &.briefcase:before { content: '\1f4bc'; } /* 1f4bc */
  &.browser:before { content: '\e74e'; } /* e74e */
  &.brush:before { content: '\e79a'; } /* e79a */
  &.bucket:before { content: '\e756'; } /* e756 */
  &.calendar:before { content: '\1f4c5'; } /* 1f4c5 */
  &.camera:before { content: '\1f4f7'; } /* 1f4f7 */
  &.cart:before { content: '\e73d'; } /* e73d */
  &.cc-by:before { content: '\e7a6'; } /* e7a6 */
  &.cc-nc-eu:before { content: '\e7a8'; } /* e7a8 */
  &.cc-nc-jp:before { content: '\e7a9'; } /* e7a9 */
  &.cc-nc:before { content: '\e7a7'; } /* e7a7 */
  &.cc-nd:before { content: '\e7ab'; } /* e7ab */
  &.cc-pd:before { content: '\e7ac'; } /* e7ac */
  &.cc-remix:before { content: '\e7af'; } /* e7af */
  &.cc-sa:before { content: '\e7aa'; } /* e7aa */
  &.cc-share:before { content: '\e7ae'; } /* e7ae */
  &.cc-zero:before { content: '\e7ad'; } /* e7ad */
  &.cc:before { content: '\e7a5'; } /* e7a5 */
  &.ccw:before { content: '\27f2'; } /* 27f2 */
  &.cd:before { content: '\1f4bf'; } /* 1f4bf */
  &.chat:before { content: '\e720'; } /* e720 */
  &.check:before { content: '\2713'; } /* 2713 */
  &.chevron-down:before { content: '\e75c'; } /* e75c */
  &.chevron-left:before { content: '\e75d'; } /* e75d */
  &.chevron-right:before { content: '\e75e'; } /* e75e */
  &.chevron-small-down:before { content: '\e760'; } /* e760 */
  &.chevron-small-left:before { content: '\e761'; } /* e761 */
  &.chevron-small-right:before { content: '\e762'; } /* e762 */
  &.chevron-small-up:before { content: '\e763'; } /* e763 */
  &.chevron-thin-down:before { content: '\e764'; } /* e764 */
  &.chevron-thin-left:before { content: '\e765'; } /* e765 */
  &.chevron-thin-right:before { content: '\e766'; } /* e766 */
  &.chevron-thin-up:before { content: '\e767'; } /* e767 */
  &.chevron-up:before { content: '\e75f'; } /* e75f */
  &.circled-cross:before { content: '\2716'; } /* 2716 */
  &.circled-down:before { content: '\e758'; } /* e758 */
  &.circled-help:before { content: '\e704'; } /* e704 */
  &.circled-info:before { content: '\e705'; } /* e705 */
  &.circled-left:before { content: '\e759'; } /* e759 */
  &.circled-minus:before { content: '\2796'; } /* 2796 */
  &.circled-plus:before { content: '\2795'; } /* 2795 */
  &.circled-right:before { content: '\e75a'; } /* e75a */
  &.circled-up:before { content: '\e75b'; } /* e75b */
  &.clipboard:before { content: '\1f4cb'; } /* 1f4cb */
  &.clock:before { content: '\1f554'; } /* 1f554 */
  &.cloud:before { content: '\2601'; } /* 2601 */
  &.code:before { content: '\e714'; } /* e714 */
  &.cog:before { content: '\2699'; } /* 2699 */
  &.comment:before { content: '\e718'; } /* e718 */
  &.compass:before { content: '\e728'; } /* e728 */
  &.credit-card:before { content: '\1f4b3'; } /* 1f4b3 */
  &.cross-hair:before { content: '\1f3af'; } /* 1f3af */
  &.cross:before { content: '\2715'; } /* 2715 */
  &.cup:before { content: '\2615'; } /* 2615 */
  &.cw:before { content: '\27f3'; } /* 27f3 */
  &.cycle:before { content: '\1f504'; } /* 1f504 */
  &.database:before { content: '\e754'; } /* e754 */
  &.db-logo:before { content: '\f603'; } /* f603 */
  &.db-shape:before { content: '\f600'; } /* f600 */
  &.direction:before { content: '\27a2'; } /* 27a2 */
  &.doc:before { content: '\e730'; } /* e730 */
  &.docs:before { content: '\e736'; } /* e736 */
  &.dot:before { content: '\e78b'; } /* e78b */
  &.down-1:before { content: '\2b07'; } /* 2b07 */
  &.down-bold:before { content: '\e4b0'; } /* e4b0 */
  &.down-thin:before { content: '\2193'; } /* 2193 */
  &.down:before { content: '\261f'; } /* 261f */
  &.download:before { content: '\1f4e5'; } /* 1f4e5 */
  &.drive:before { content: '\e755'; } /* e755 */
  &.droplet:before { content: '\1f4a7'; } /* 1f4a7 */
  &.erase:before { content: '\232b'; } /* 232b */
  &.export:before { content: '\e715'; } /* e715 */
  &.eye:before { content: '\e70a'; } /* e70a */
  &.fb:before { content: '\23ea'; } /* 23ea */
  &.feather:before { content: '\2712'; } /* 2712 */
  &.ff:before { content: '\23e9'; } /* 23e9 */
  &.flag:before { content: '\2691'; } /* 2691 */
  &.flash:before { content: '\26a1'; } /* 26a1 */
  &.flashlight:before { content: '\1f526'; } /* 1f526 */
  &.flow-branch:before { content: '\e791'; } /* e791 */
  &.flow-cascade:before { content: '\e790'; } /* e790 */
  &.flow-line:before { content: '\e793'; } /* e793 */
  &.flow-parallel:before { content: '\e794'; } /* e794 */
  &.flow-tree:before { content: '\e792'; } /* e792 */
  &.folder:before { content: '\1f4c1 '; } /* 1f4c1 */
  &.forward:before { content: '\27a6'; } /* 27a6 */
  &.gauge:before { content: '\e7a2'; } /* e7a2 */
  &.globe:before { content: '\1f30e'; } /* 1f30e */
  &.graduation-cap:before { content: '\1f393 '; } /* 1f393 */
  &.heart-empty:before { content: '\2661'; } /* 2661 */
  &.heart:before { content: '\2665'; } /* 2665 */
  &.help:before { content: '\2753'; } /* 2753 */
  &.home:before { content: '\2302'; } /* 2302 */
  &.hourglass:before { content: '\23f3'; } /* 23f3 */
  &.inbox:before { content: '\e777'; } /* e777 */
  &.infinity:before { content: '\221e'; } /* 221e */
  &.info:before { content: '\2139'; } /* 2139 */
  &.install:before { content: '\e778'; } /* e778 */
  &.key:before { content: '\1f511'; } /* 1f511 */
  &.keyboard:before { content: '\2328'; } /* 2328 */
  &.landscape-doc:before { content: '\e737'; } /* e737 */
  &.language:before { content: '\e752'; } /* e752 */
  &.layout:before { content: '\268f'; } /* 268f */
  &.leaf:before { content: '\1f342 '; } /* 1f342 */
  &.left-1:before { content: '\2b05'; } /* 2b05 */
  &.left-bold:before { content: '\e4ad'; } /* e4ad */
  &.left-thin:before { content: '\2190'; } /* 2190 */
  &.left:before { content: '\261c'; } /* 261c */
  &.level-down:before { content: '\21b3'; } /* 21b3 */
  &.level-up:before { content: '\21b0'; } /* 21b0 */
  &.lifebuoy:before { content: '\e788'; } /* e788 */
  &.light-bulb:before { content: '\1f4a1'; } /* 1f4a1 */
  &.light-down:before { content: '\1f505'; } /* 1f505' */
  &.light-up:before { content: '\1f506'; } /* 1f506 */
  &.line-graph:before { content: '\1f4c8'; } /* 1f4c8 */
  &.link:before { content: '\1f517'; } /* 1f517 */
  &.list:before { content: '\2630'; } /* 2630 */
  &.location:before { content: '\e724'; } /* e724 */
  &.lock-open:before { content: '\1f513'; } /* 1f513 */
  &.lock:before { content: '\1f512'; } /* 1f512 */
  &.login:before { content: '\e740'; } /* e740 */
  &.logout:before { content: '\e741'; } /* e741 */
  &.loop:before { content: '\1f501'; } /* 1f501 */
  &.magnet:before { content: '\e7a1'; } /* e7a1 */
  &.mail:before { content: '\2709'; } /* 2709 */
  &.map:before { content: '\e727'; } /* e727 */
  &.megaphone:before { content: '\1f4e3'; } /* 1f4e3 */
  &.mic:before { content: '\1f3a4'; } /* 1f3a4 */
  &.minus:before { content: '\2d'; } /* 2d */
  &.mobile:before { content: '\1f4f1'; } /* 1f4f1 */
  &.monitor:before { content: '\1f4bb'; } /* 1f4bb */
  &.moon:before { content: '\263d'; } /* 263d */
  &.mouse:before { content: '\e789'; } /* e789 */
  &.music:before { content: '\1f3b5'; } /* 1f3b5 */
  &.mute:before { content: '\1f507'; } /* 1f507 */
  &.network:before { content: '\e776'; } /* e776 */
  &.new:before { content: '\1f4a5'; } /* 1f4a5 */
  &.newspaper:before { content: '\1f4f0'; } /* 1f4f0 */
  &.note:before { content: '\266a'; } /* 266a */
  &.numbered-list:before { content: '\e005'; } /* e005 */
  &.open-book:before { content: '\1f4d6'; } /* 1f4d6 */
  &.palette:before { content: '\1f3a8'; } /* 1f3a8 */
  &.paper-plane:before { content: '\e79b'; } /* e79b */
  &.paus:before { content: '\2389'; } /* 2389 */
  &.pencil:before { content: '\270e'; } /* 270e */
  &.phone:before { content: '\1f4de'; } /* 1f4de */
  &.picture:before { content: '\1f304'; } /* 1f304 */
  &.pie-chart:before { content: '\e751'; } /* e751 */
  &.play:before { content: '\25b6'; } /* 25b6 */
  &.plus:before { content: '\2b'; } /* 2b */
  &.popup:before { content: '\e74c'; } /* e74c */
  &.print:before { content: '\e716'; } /* e716 */
  &.progress-0:before { content: '\e768'; } /* e768 */
  &.progress-1:before { content: '\e769'; } /* e769 */
  &.progress-2:before { content: '\e76a'; } /* e76a */
  &.progress-3:before { content: '\e76b'; } /* e76b */
  &.publish:before { content: '\e74d'; } /* e74d */
  &.quote:before { content: '\275e'; } /* 275e */
  &.record:before { content: '\26ab'; } /* 26ab */
  &.reply-all:before { content: '\e713'; } /* e713 */
  &.reply:before { content: '\e712'; } /* e712 */
  &.resize-full:before { content: '\e744'; } /* e744 */
  &.resize-small:before { content: '\e746'; } /* e746 */
  &.retweet:before { content: '\e717'; } /* e717 */
  &.right-1:before { content: '\27a1'; } /* 27a1 */
  &.right-bold:before { content: '\e4ae'; } /* e4ae */
  &.right-thin:before { content: '\2192'; } /* 2192 */
  &.right:before { content: '\261e'; } /* 261e */
  &.rocket:before { content: '\1f680'; } /* 1f680 */
  &.rss:before { content: '\e73a'; } /* e73a */
  &.save:before { content: '\1f4be'; } /* 1f4be */
  &.search:before { content: '\1f50d'; } /* 1f50d */
  &.share:before { content: '\e73c'; } /* e73c */
  &.shareable:before { content: '\e73e'; } /* e73e */
  &.shuffle:before { content: '\1f500'; } /* 1f500 */
  &.signal:before { content: '\1f4f6'; } /* 1f4f6 */
  &.sound:before { content: '\1f50a'; } /* 1f50a */
  &.squared-cross:before { content: '\274e'; } /* 274e */
  &.squared-minus:before { content: '\229f'; } /* 229f */
  &.squared-plus:before { content: '\229e'; } /* 229e */
  &.star-empty:before { content: '\2606'; } /* 2606 */
  &.star:before { content: '\2605'; } /* 2605 */
  &.stop:before { content: '\25a0'; } /* 25a0 */
  &.suitcase:before { content: '\e78e'; } /* e78e */
  &.sweden:before { content: '\f601'; } /* f601 */
  &.switch:before { content: '\21c6'; } /* 21c6 */
  &.tag:before { content: '\e70c'; } /* e70c */
  &.text-doc-inverted:before { content: '\e731'; } /* e731 */
  &.text-doc:before { content: '\1f4c4'; } /* 1f4c4 */
  &.thermometer:before { content: '\e757'; } /* e757 */
  &.three-dots:before { content: '\e78d'; } /* e78d */
  &.thumbs-down:before { content: '\1f44e'; } /* 1f44e */
  &.thumbs-up:before { content: '\1f44d'; } /* 1f44d */
  &.thunder-cloud:before { content: '\26c8'; } /* 26c8 */
  &.ticket:before { content: '\1f3ab'; } /* 1f3ab */
  &.to-end:before { content: '\23ed'; } /* 23ed */
  &.to-start:before { content: '\23ee'; } /* 23ee */
  &.tools:before { content: '\2692'; } /* 2692 */
  &.traffic-cone:before { content: '\e7a3'; } /* e7a3 */
  &.trash:before { content: '\e729'; } /* e729 */
  &.triangle-down:before { content: '\25be'; } /* 25be */
  &.triangle-left:before { content: '\25c2'; } /* 25c2 */
  &.triangle-right:before { content: '\25b8'; } /* 25b8 */
  &.triangle-up:before { content: '\25b4'; } /* 25b4 */
  &.trophy:before { content: '\1f3c6'; } /* 1f3c6 */
  &.two-dots:before { content: '\e78c'; } /* e78c */
  &.up-1:before { content: '\2b06'; } /* 2b06 */
  &.up-bold:before { content: '\e4af'; } /* e4af */
  &.up-thin:before { content: '\2191'; } /* 2191 */
  &.up:before { content: '\261d'; } /* 261d */
  &.upload-cloud:before { content: '\e711'; } /* e711 */
  &.upload:before { content: '\1f4e4'; } /* 1f4e4 */
  &.user:before { content: '\1f464'; } /* 1f464 */
  &.users:before { content: '\1f465'; } /* 1f465 */
  &.vcard:before { content: '\e722'; } /* e722 */
  &.video:before { content: '\1f3ac'; } /* 1f3ac */
  &.voicemail:before { content: '\2707'; } /* 2707 */
  &.volume:before { content: '\e742'; } /* e742 */
  &.warning:before { content: '\26a0'; } /* 26a0 */
  &.water:before { content: '\1f4a6'; } /* 1f4a6 */

  /* social extention map */
  &.behance:before { content: '\f34e'; } /* f34e */
  &.c-dribbble:before { content: '\f31c'; } /* f31c */
  &.c-facebook:before { content: '\f30d'; } /* f30d */
  &.c-flickr:before { content: '\f304'; } /* f304 */
  &.c-google+:before { content: '\f310'; } /* f310 */
  &.c-lastfm:before { content: '\f322'; } /* f322 */
  &.c-linkedin:before { content: '\f319'; } /* f319 */
  &.c-pinterest:before { content: '\f313'; } /* f313 */
  &.c-rdio:before { content: '\f325'; } /* f325 */
  &.c-skype:before { content: '\f33a'; } /* f33a */
  &.c-spotify:before { content: '\f328'; } /* f328 */
  &.c-stumbleupon:before { content: '\f31f'; } /* f31f */
  &.c-tumblr:before { content: '\f316'; } /* f316 */
  &.c-twitter:before { content: '\f30a'; } /* f30a */
  &.c-vimeo:before { content: '\f307'; } /* f307 */
  &.dribbble:before { content: '\f31b'; } /* f31b */
  &.dropbox:before { content: '\f330'; } /* f330 */
  &.evernote:before { content: '\f333'; } /* f333 */
  &.facebook:before { content: '\f30c'; } /* f30c */
  &.flattr:before { content: '\f336'; } /* f336 */
  &.flickr:before { content: '\f303'; } /* f303 */
  &.github:before { content: '\f300'; } /* f300 */
  &.google+:before { content: '\f30f'; } /* f30f */
  &.google-circles:before { content: '\f351'; } /* f351 */
  &.instagram:before { content: '\f32d'; } /* f32d */
  &.lastfm:before { content: '\f321'; } /* f321 */
  &.linkedin:before { content: '\f318'; } /* f318 */
  &.mixi:before { content: '\f34b'; } /* f34b */
  &.paypal:before { content: '\f342'; } /* f342 */
  &.picasa:before { content: '\f345'; } /* f345 */
  &.pinterest:before { content: '\f312'; } /* f312 */
  &.qq:before { content: '\f32a'; } /* f32a */
  &.rdio:before { content: '\f324'; } /* f324 */
  &.renren:before { content: '\f33c'; } /* f33c */
  &.s-facebook:before { content: '\f30e'; } /* f30e */
  &.sina-weibo:before { content: '\f33f'; } /* f33f */
  &.skype:before { content: '\f339'; } /* f339 */
  &.smashing:before { content: '\f357'; } /* f357 */
  &.social-c-github:before { content: '\f301'; } /* f301 */
  &.soundcloud:before { content: '\f348'; } /* f348 */
  &.spotify:before { content: '\f327'; } /* f327 */
  &.stumbleupon:before { content: '\f31e'; } /* f31e */
  &.tumblr:before { content: '\f315'; } /* f315 */
  &.twitter:before { content: '\f309'; } /* f309 */
  &.vimeo:before { content: '\f306'; } /* f306 */
  &.vk:before { content: '\f354'; } /* f354 */
}
