@import 'colors';
@import 'mixins';

#big-number {
  font-family: Roboto-BoldCondensed, Helvetica, Arial, sans-serif;
  font-size: 250px;
  line-height: 1em;
  text-align: center;
  padding-top: 100px;
  text-shadow: 0 2px 0 #fff, 0 -1px 0 #999;
  color: #ddd;
}
.transparent {
  @include opacity(0.8);
}
#content {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.25em;
  line-height: 1.5em;
  color: $text-dark-grey;
  position: absolute;
  left: 0; right: 0;
}
