#hello-there {
  .avatar {
    width: 50px;
    height: 50px;
  }

  .awesome {
    text-align: center;

    .btn.creation {
      text-shadow: none;
    }
  }

  .hero-unit {
    margin: 20px 42px;
    padding: 40px 80px;
  }

  h2 {
    margin-top: 80px;
  }

  p, form {
    margin-left: 30px;
  }

  ul.as-selections {
    width: 100%;

    li.as-original {
      input {
        margin-bottom: 15px;
      }
    }
  }
}
