.timeago {
  color: $text-grey;
  border-bottom: none;
}

body > header {
  @include box-shadow(0,1px,3px,rgba(0,0,0,0.9));
  background: url('header-bg.png') rgb(40,35,35);
  z-index: 1001;
  padding: 6px 0;
  color: #CCC;
  height: 26px;
  position: fixed;
  width: 100%;
  min-width: 620px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #000;

  > div > div.container {
    height: 26px;
  }

  .diaspora_header_logo {
    float: left;
    margin-top: -6px;
    height: 38px;
    width: 65px;
  }

  .ie-user-menu-active { height: 150px; }

  a.header_root_link {
    display: inline-block;
    margin-top: 5px;
  }

  a {
    color: #CCC;
    color: rgb(147,147,147);

    &:hover {
      background: none;
      color: $highlight-white;
    }
  }

  &.landing {
    height: 40px;
    .right { top: 10px; }
  }

  #nav_badges {
    display: inline-block;
    margin-top: 2px;
    float: left;
    width: 61px;

    a:hover { text-decoration: none; }

    .badge {
      width: 22px;
      position: relative;
      top: 2px;
      display: inline;
      margin: 0 2px;
      font-weight: bold;
      font-size: smaller;

      .badge_count {
        @include border-radius(2px);
        z-index: 3;
        position: absolute;
        top: -4px;
        left: 15px;
        padding: 1px 2px;
        background-color: $red;
        line-height: 12px;
        color: #fff;
      }

      &:hover .badge_count { background-color: lighten($red, 5%); }

      .icons-notifications_grey { height: 16px; }

      &.active .icons-notifications_grey:hover {
        background-position: sprite-position($icons-sprites, notifications_grey);
      }

      .icons-mail_grey { height: 11px }

      a.badge_link {
        display: block;
        width: 100%;
        height: 16px;
        float: left;
      }
    }

    #notification_badge, #conversations_badge {
      float: left;
      padding: 0px 3px;
    }

    #conversations_badge {
      padding-top: 3px;
      margin-right: 0px;
      padding-right: 0px;
    }

    #notification_badge.active {
      z-index: 10;
      background-color: #fff;
      border: 1px solid $border-dark-grey;
      border-bottom: 0px;
      margin-left: 0px;
      padding-bottom: 12px;
    }

    #notification_dropdown {
      @include dropdown-shadow;

      background: white;
      border: solid $border-dark-grey 1px;
      left: 300px;
      width: 380px;
      display: none;
      float: left;
      color: $grey;

      a { color: $blue; }
      a.disabled {
        color: $link-disabled-grey;
        cursor: default;
      }

      .header {
        border-bottom: 1px solid $border-grey;
        padding: 5px 10px 5px 5px;

        h4 {
          padding-bottom: 0;
          margin-bottom: 0;
          font-size: 16px;
          color: $black;
        }

        a {
          font-size: 11px;
          font-weight: bold;
        }
      }

      .ajax_loader {
        text-align: center;
        padding: 15px;
      }

      .notification_element {
        border-bottom: 1px solid $border-grey;
        padding: 5px;
        min-height: 35px;
        line-height: 18px;

        > .avatar {
          height: 35px;
          width: 35px;
          float: left;
        }

        .notification_message {
          margin-left: 40px;
        }

        .unread-toggle {
          padding: 9px 5px;
          .entypo {
            cursor: pointer;
            color: lighten($black,75%);
            font-size: 17px;
            line-height: 17px;
          }
        }

        &.unread {
          background-color: $background-grey;
          color: $black;
          .unread-toggle {
            .entypo { color: $black; }
          }
        }
      }

      .view_all {
        background-color: $blue;
        border-bottom: 1px solid $border-dark-grey;
        text-align: center;
        a {
          display: block;
          padding: 5px;
          color: white;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }

  #global_search {
    float: right;
    margin-right: 10px;
    position: relative;

    form {
      position: absolute;
      right: 0;

      input {
        @include box-shadow(0, 1px, 1px, #444);
        @include border-radius(15px);
        @include transition(width);
        width: 100px;
        background-color: #444;
        border: 1px solid #222;
        font-size: 13px;
        padding: 4px;

        &:hover { background-color: #555; }

        &.active {
          background-color: $highlight-white;
          background-color: rgba(160,160,160,0.6);
        }

        &:focus {
          outline: none;
          background-color: white;
          width: 200px;
        }

        &::-webkit-input-placeholder { text-shadow: none; }
        &::-moz-placeholder { text-shadow: none; }
        &.ac_loading::-webkit-search-cancel-button { -webkit-appearance: none; }
      }
    }
  }

  ul#user_menu {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #000;
    color: rgb(147,147,147);
    min-width: 100px;
    cursor: pointer;
    z-index: 10;
    display: inline;
    visibility: hidden;
    top: -4px;
    float: right;
    margin: -2px -3px 0px 0px;
    padding: 0;

    > li {
      display: block;
      border-left: 1px solid #333;
      border-right: 1px solid #333;

      &:first-child {
        visibility: visible;
      }

      &:last-child {
        border-bottom: 1px solid #333;
      }
    }

    &.active {
      @include dropdown-shadow;
      background-color: rgb(34,30,30);
      visibility: visible;

      > li {
        border-color: $border-dark-grey;
      }
    }
  }

  .user-menu-item a {
    padding: 4px 8px 4px 40px;
    height: 100%;
    color: $text-grey;

    &:hover {
      background-color: $blue;
      color: $highlight-white;
      text-decoration: none;
    }
  }

  .user-menu-trigger {
    padding: 10px 25px 10px 40px;

    &:hover {
      color: $highlight-white;
      .user-name { color: $highlight-white; }
    }
  }

  .user-name {

    &:hover {
      background-color: transparent;
      text-decoration: none;
    }

    &:focus { :outline: none; }
  }

  .user-menu-more-indicator {
    position: absolute;
    right: 5px;
  }

  .user-menu-avatar {
    height: 25px;
    width: 25px;
    position: absolute;
    left: 8px;
    top: 8px;
    display: block;
  }

  .header-nav {
    font-weight: bold;
    float: left;
    height: 100%;
    margin-right: 5px;
    margin-top: 3px;

    a {
      padding: 0 10px;
      width: 100%;
      &:hover { text-decoration: none; }
    }

    > span {
      height: 100%;
      display: inline-block;
      margin-left: -4px;
      border-left: 1px solid #333;
      border-right: 1px solid #333;

      &:last-child {
        margin-left: -5px;
      }
    }
  }

  /* When the user is not connected */
  ul#landing_nav {
    position: absolute;
    top: 4px;
    right: 0;
    margin: 0;
    padding: 0;

    > li {
      text-shadow: 0 1px 0 #000;
      display: inline;
      margin-right: 0.5em;

      a {
        color: $blue;

        &.login {
          @include border-radius(5px);
          @include box-shadow(0, 1px, 1px, #666);
          padding: 5px 8px;
          background-color: #000;
          border-top: 1px solid #000;

          &:hover { background-color: #222; }
        }
 	  }

      &:last-child { margin-right: 0; }
    }
  }
}


/*
 * Extract here from application.sass because
 * needed for the header in the bootstrap part
 */
ul.dropdown {
  padding: 0px;

  li {
    display: none;

    a { display: block; }

    &:first-child {
      display: block;

      a {
        height: auto;
        display: inline;
      }
    }
  }

  &.active {
    z-index: 30;
    li { display: block; }
  }
}
