//*****************************
//*         Variables         *
//*****************************/
$head_height:38px;
$font_color: $text-grey;
$hover_bg_color: $background-grey;

// Variables that let us place an element vertically and
// horizontally centered on the navbar
$mrgn_cntr_item: 4px;
$mrgn_cntr_height: $head_height - 3 * $mrgn_cntr_item;
$img_height: 0.80*$head_height;

body > header {
  background: image-url('header-bg.png') rgb(40,35,35);
  z-index: 1001;
  height: $head_height;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .header-bold *{font-weight: bold; }

  .diaspora_header_logo {
    float: left;
    height: $head_height;
    width: 65px;
  }

  nav.navbar.navbar-default{ margin: 0; }

  > header, nav, div.container-fluid, ul#user-nav, li#conversations-badge{ height: $head_height; }

  #user-menu, #user-nav > li{
    &:hover{ background-color: $hover_bg_color; }
  }

  #notifications-dropdown, #user-menu > ul {
    a:hover, a:focus {
      background: linear-gradient(to bottom, $blue, $dark-blue);
    }
  }

  // General rules for header dropdowns
  //***************************************
  //* ".header-dropdown" to be changed to *
  //* ".header-dropdown-right" with BS3   *
  //***************************************
  div.header-dropdown{
    background: transparent;
    height: $head_height;
    border: none;
    float: right;
    padding: 0 6px;
    margin: 0;

    &.open{
      background-color: $hover_bg_color;
    }

    img{
      height: $img_height;
      margin: 0 1em 0 0;
      padding: 0;
    }

    button{
      background: transparent;
      color: $font_color;
      border: none;
      height: 100%;
      margin: 0;
      padding: 0;

      .caret{
        margin: 0;
        border-top: 4px solid $font_color;
        vertical-align: middle;
      }

      #user-id{
        margin-right: 1em;
      }

      div.badge_count {
        background-color: $red;
        border-radius: 2px;
        position: absolute;
        line-height: 14px;
        padding: 1px 2px;
        font-size: 12px;
        height: 1em;
        color: $white;
        z-index: 3;
        left: 22px;
        top: 4px;
      }
    }

    ul{
      border-radius: 0;
      width: 100%;
      left: -1px;
      padding: 0;
      margin: 0;

      // To be removed with BS3
      &.pull-right{ right: -1px; }
      &.dropdown-menu{ border-top: 0; }

      li{
        padding: 0;
        margin: 0;

        a{
          padding: 6px 20px;
          color: $blue;
        }

        &.ajax-loader{
          text-align: center;
          padding: 15px;
          border-bottom: 1px solid $border-grey;
          img{
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }

  // Rules for the navigation buttons on the left of the header

  ul#user-nav {
    #notification-badge {
      padding: 0;
    }

    > li > a, button {
      margin: 0;
      padding: 9px 15px;
      text-shadow: 0 0 0;
      color: $font_color;
      text-align: center;

      .entypo {
        color: $font_color;
        &.bell{ font-size: 16px; }
        &.mail{ font-size: 18px; }
      }
    }

    .header-badge,
    .header-badge > div,
    .header-badge > div > button{ width: 45px; }
  }

  // Rules for the notitifications dropdown
  #notifications-dropdown{
    width: 450px;

    li#title-item{
      border-bottom: 1px solid $border-grey;

      h4{
        display: inline-block;
        margin: 10px;
        padding: 0;
      }

      a{
        display: inline;
        float: right;
      }
    }

    li#notifications-list{
      max-height: 380px;
      overflow: hidden;
      position: relative;
      border: none;

      .media.stream_element{
        margin: 0;
        padding: 10px;
        min-height: 35px;
        line-height: 18px;
        border-bottom: 1px solid $border-grey;

        &:last-child{ border-bottom: none; }

        a{
          padding: 0;

          &:hover, &:active{
            background: none;
            text-decoration: underline;
            color: $dark-blue;
          }
        }

        img.avatar {
          width: 50px;
          height: 50px;
          margin: 6px 1.2em 0 0;
        }

        .aspect_membership_dropdown{ display: none; }

        .unread-toggle{ margin: 15px; }

        .entypo {
          cursor: pointer;
          color: lighten($black, 75%);
          font-size: 17px;
          line-height: 17px;
        }

        .tooltip{ position: fixed; }

        &.unread {
          background-color: $background-grey;
          color: $black;
          .unread-toggle {
            .entypo {
              color: $black;
            }
          }
        }
      }
    }

    #mark_all_read_link, #view_all_notifications {
      padding: 10px 15px;
      text-align: center;
      font-weight: bold;
    }

    #view_all_notifications {
      background: linear-gradient(to bottom, $blue, $dark-blue);
      color: $white;
      border: none;
    }

    #mark_all_read_link.disabled {
      color: $link-disabled-grey;
      &:hover, &:active, &:focus {
        background: none;
        cursor: default;
      }
    }
  }

  // Overridden rules for header dropdowns
  div#user-menu{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    &.open{
      border-left: 1px solid $font_color;
      border-right: 1px solid $font_color;
    }

    ul > li > a{
      padding-left: $img_height + 26px;
    }
  }

  #global_search {
    float: right;
    position: relative;
    margin: 0;

    form {
      padding: 0 6px;

      input {
        @include transition(width);
        background-color: #444;
        border: 1px solid #222;
        font-size: 13px;
        margin: $mrgn_cntr_item 0;
        padding: 0 $mrgn_cntr_item;
        height: $mrgn_cntr_height;
        width: 100px;

        &:hover, &.active { background-color: #555; }

        &:focus {
          outline: none;
          box-shadow: none;
          background-color: white;
          width: 200px;
        }
      }
    }
  }

  // When the user is not connected
  ul#landing_nav {
    height: $head_height;
    margin: 0;
    padding: 0;

    > li {
      text-shadow: 0 1px 0 #000;
      height: $head_height;
      padding: 0;
      margin: 0;

      a {
        color: $blue;
        margin: $mrgn_cntr_item $mrgn_cntr_item 0 0;
        height: $mrgn_cntr_height;
        padding: 0 2 * $mrgn_cntr_item;
        text-shadow: unset;

        &.login {
          border-radius: 4px;
          box-shadow: 0 1px 1px #666;
          background-color: #000;
          border-top: 1px solid #000;
          line-height: 24px;

          &:hover { background-color: #222; }
        }
      }
    }
  }
}
