header > .dark-header > nav {
  border-bottom: none;
  box-shadow: 1px 0 2px $black;

  .navbar-brand {
    font-weight: bold;
    font-size: $font-size-h3;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    .col-lg-10 { padding: 0; }
    .navbar-header > .nav li { display: inline-block !important; }
    .nav-badge {
      color: $navbar-inverse-link-color;
      padding-left: 12px;
      padding-right: 12px;
      &:hover { color: $navbar-inverse-link-hover-color; }
      &:hover, &:focus { background-color: transparent; }
    }
    #navbar-collapse {
      .form-group, .twitter-typeahead  {
        display: block !important;
        margin-bottom: 0;
        &, & input { width: 100% }
      }
    }
  }
  @media (min-width: $grid-float-breakpoint) {
    input[type="search"] {
      @include transition(width);
      margin-top: 2px;
      width: 200px;
      &:not(.active) {
        background-color: $navbar-inverse-bg;
        border-color: $gray-light;
        width: 150px;
      }
    }
    #user_menu {
      &.open .dropdown-toggle { background-color: darken($navbar-inverse-bg, 7%); }
      .dropdown-toggle {
        margin: 0 1px;
        min-width: 160px;
      }
      .dropdown-menu {
        background-color: darken($navbar-inverse-bg, 7%);
        border-top: none;
        width: 100%;
        & > li > a {
          color: $gray-light;
          padding-left: 55px;
          &:hover {
            background-color: $link-color;
            color: $gray-lighter;
          }
        }
      }
    }
  }

  .navbar-nav:not(.nav-badges) > li > a { font-weight: bold; }
  .nav-badges {
    & > li { height: 50px; }
    .dropdown > a:focus { outline: 0px none; }
    .dropdown-open {
      background-color: $dropdown-bg;
      & > a { color: $dropdown-link-color; }
      .dropdown-menu { display: block; }
    }
    .dropdown-menu {
      border-top: none;
      margin-left: -1px;
      padding: 0px;
      width: 400px;
      .avatar {
        width: 35px;
        height: 35px;
      }
      .header {
        padding: 10px;
        border-bottom: 1px solid $border-grey;
        h4 { margin: 5px 0; }
      }
      .notifications {
        position: relative;
        max-height: 350px;
      }
      .stream_element.media {
        padding: 5px;
        .tooltip { position: fixed; }
        .unread-toggle {
          margin-right: 10px;
          opacity: 1;
        }
        & > .pull-right > .aspect_membership_dropdown { display: none; }
      }
      .ajax-loader {
        border-bottom: 1px solid $border-grey;
        padding: 10px;
        .spinner {
          height: 30px;
          width: 30px;
        }
      }
      .view_all {
        background-color: $link-color;
        border-top: 3px solid $white;
        text-align: center;
        a {
          color: $white;
          display: block;
          font-weight: bold;
          padding: 5px;
          &:hover { text-decoration: none; }
        }
      }
    }
  }
  [class^="entypo-"], [class*="entypo-"] {
    color: inherit;
    font-size: $font-size-h3;
    vertical-align: middle;
  }
  .nav-badge {
    margin-bottom: -2px;
    .badge {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  #user_menu {
    .avatar {
      height: 30px;
      width: 30px;
    }
    .user-avatar {
      height: $navbar-height;
      padding: ($navbar-height - 30px)/2 0;
      margin-bottom: -$navbar-padding-vertical;
      margin-top: -$navbar-padding-vertical;
      margin-right: 10px;
    }
  }
}
