@import "colors";
@import "_mixins.css.scss";

#hovercard {
  @include border-radius(2px);
  @include box-shadow(0, 0, 5px, #666666);

  position: relative;
  display: inline-block;
  min-width: 250px;
  max-width: 400px;

  background-color: $background-white;
  height: 70px;
  border: 1px solid $border-dark-grey;
  font-size: small;

  .avatar {
    position: relative;
    float: left;
    height: 70px !important;
    width: 70px !important;
    top: 0 !important;

    margin: {
      right: 10px;
      left: 0;
    }
  }

  $image_width: 80px; /* including margin */

  & > h4, & > div, & > p {
    margin-left: $image_width;
  }

  & > h4, & > div, & > p, .hashtags {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #hovercard_dropdown_container {
    overflow: visible !important; /* otherwise the aspect dropdown is cropped */
  }

  padding: 5px {
    bottom: 25px;
  };

  h4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  a {
    color: $blue;
    font-weight: bold !important;
  }

  p {
    color: $text-grey;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .hovercard_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $background-grey;
    margin-left: 0;

    width: 100%;
    min-height: 19px;

    font-size: smaller;

    border-top: 1px solid #cccccc;

    .footer_container {
      padding: 1px 5px;

      a {
        color: $text-grey;
        margin-right: 4px;
        font-weight: normal;
      }
    }
  }
}

#hovercard_container {
  position: absolute;
  display: none;
  z-index: 10;

  min-width: 250px;
  max-width: 400px;

  padding: 10px {
    top: 5px;
  }
}
