#invite_code {
  cursor: text;
  display: block;
  margin-top: 5px;
}

#invitationsModal {
  #paste_link_wrapper {
    font-size: 12px;
    padding: 10px;  
  }
  #paste_link { font-weight: 700; }
  #invite_code { 
    padding: 5px;
    display: block;
    height: auto;
  }
  #codes_left { color: $text-grey; }
  .control-label { width: 200px; }
  .controls { margin-left: 220px; }
  #email_invitation {
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px dashed $border-grey;
    label { font-weight: 700; }
    #already_sent {
      color: $text-grey;
      font-size: 12px;
    }
  }
}
