#invite_code {
  cursor: text;
  display: block;
  margin-top: 5px;
}

#invitationsModal {
  #paste_link { font-weight: 700; }
  #invite_code { margin-top: 10px; }
  #codes_left { color: $text-grey; }
  .control-label { width: 120px; }
  .controls { margin-left: 140px; }
  #email_invitation {
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px dashed $border-grey;
    label { font-weight: 700; }
    #already_sent {
      color: $text-grey;
      font-size: 12px;
    }
  }
}
