/* Fixed backgrounds are a common practice to avoid height issues */
#left-navbar-fixed-sub-background {
  background: $left-navbar-sub-background;
  position: fixed;
  height: 100%;
}

#left-navbar-fixed-background {
  background: $left-navbar-background;
  position: fixed;
  height: 100%;
}

#leftNavBar {
  background: $left-navbar-background;
  a {
    color: $link-grey;
    font-weight: bold;
    text-decoration: none;
    outline: 0;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    &#stream_selection {
      margin: 0px -15px; /* -15px overrides Bootstrap's default gutter width */
    }
  }

  .selected { color: $black; }
  .selected a { color: $black; }

  .hoverable {
    display: block;
    &.selected a, &.selected a:hover {
      color: white;
      background: #666;
    }
  }

  .all_aspects a.hoverable.selected, .followed_tags_sidebar a.hoverable.selected {
    color: white;
    background: #666;
  }

  .hoverable a, .all_aspects a.hoverable, .followed_tags_sidebar a.hoverable {
    padding: 10px 20px;
    display: block;
    font-weight: normal;
    color: $link-grey;
    border-bottom: 1px solid #ddd;
    &:hover, &:hover .entypo.check, &:hover + .action .entypo { 
      background-color: $blue;
      color: $white;
    }
  }

  .selectable {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #home_user_badge {
    min-height: 90px;
    padding: 20px;
    margin: 0 -15px;

    .avatar {
      float: left;
      height: 50px;
      width: 50px;
    }

    h4 {
      margin: 0 0 0 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 25px;

      a { 
        color: $black; 
        font-weight: normal;
      }
    }
  }

  #aspects_list {
    .hoverable {
      position: relative;
    }
    .selectable {
      padding-left: 40px;
    }
  }

  #aspects_list, #tags_list {
    background: $left-navbar-drawer-background;
    .hoverable > .action {
      visibility: hidden;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 200;
      padding: 10px 15px;
      border: none;
    }
    .hoverable:hover > .action {
      visibility: visible;
      background: none;
    }
  }

  #aspects_list {
    .selectable {
      padding-right: 40px;
    }
    .entypo.check {
      visibility: hidden;
      margin: 0;
      position: absolute;
      left: 20px;
      top: 10px;
      z-index: 200;
      &.selected { 
        visibility: visible; 
      }
    }
    .selected + a {
      color: #333333;
    }
  }

  #tags_list {

    li {
      position: relative;
    }

    .selectable {
      padding-left: 30px;
      padding-right: 30px;
    }

    .delete_tag_following {
      font-size: 20px;
      line-height: 15px;
    }

    #new_tag_following {
      padding: 10px 20px 10px 30px;
    }

    /* ---- override app/stylesheets/vendor/autoSuggest.css ---- */
    .as-original{ width: 100%; }
    .tag_input {
      line-height: $font-size-base;
      vertical-align: top;
      width: 100%;
    }

    .as-result {
      margin-top: -1px;
      margin-left: 1px;
    }

    .as-list {
      em {
        background-color: #aabbcc;
        color: black;
        padding: 0px;
      }

      color: black;
      position: static; /* override absolute */
      margin: 0px;
      border-radius: 0px 0px 3px 3px;
      box-shadow: 0px 1px 1px #666;
    }

    .as-result-item.active {
      color: black;
      text-shadow: none;
      background-color: $background-blue;
      border-color: $background-blue;
    }
    /* ---- end override app/stylesheets/vendor/autoSuggest.css ---- */
  }
}
