#leftNavBar {
  color: #222222;

  ul {
    margin: 0px;
    padding: 0px;
  }

  a {
    color: $link-grey;
    font-weight: bold;
    text-decoration: none;
  }

  .selected { color: $black; }
  .selected a { color: $black; }

  .hoverable {
    display: block;
    margin-right: 6px;
    padding: 4px;
    &:hover { background-color: $background-blue; }

    .label {
      background-color: $background-grey;
      color: $text-grey;
    }
  }

  .selectable {
    display: block;
    margin-left: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action {
    width: 12px;
    height: 12px;
    display: none;
    float: right;
    margin: 3px;
  }

  .hoverable:hover  > .action {
    display: block;
  }
}
