#leftNavBar {

  .avatar {
    width: 50px;
    height: 50px;
  }

  color: #222222;

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  a {
    color: $link-grey;
    font-weight: bold;
    text-decoration: none;
  }

  .selected { color: $black; }
  .selected a { color: $black; }

  .hoverable {
    display: block;
    margin-right: 6px;
    padding: 4px;
    &:hover { background-color: $background-blue; }

    .label {
      background-color: $background-grey;
      color: $text-grey;
    }
  }

  .selectable {
    display: block;
    margin-left: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #aspects_list, #tags_list {
    .hoverable > .action {
      visibility: hidden;
      float: right;
      margin: 0 3px;
    }

    .hoverable:hover  > .action {
      visibility: visible;
    }
  }

  #aspects_list {
    .entypo.check {
      float: left;
      visibility: hidden;
      &.selected { visibility: visible; }
    }

    .selected + a {
      color: #333333;
    }
  }

  #tags_list {
    .delete_tag_following {
      font-size: 20px;
      line-height: 15px;
    }
  }
}
