.media {
  margin: 10px;
}

.media,
.bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.comment {
  .media {
    .bd,
    .entypo-heart,
    .author-name {
      display: inline-block;
    }
  }

  .likes {
    margin-top: 10px;
  }
}

.media .img {
  float: left;
  margin-right: 10px;

  img { display: block; }
}

.media .imgEt { float: right; margin-left: 10px; }
