@import 'bootstrap';
@import 'bootstrap-responsive';
@import "_mixins.css.scss";
@import 'vendor/autoSuggest';
@import '_flash_messages.scss';

$blue: #3f8fba;

a {
  color: #2489ce;
  text: {
    decoration: none; };
}

body {
  background: {
    image: image-url('texture/hatched-light.jpg');
    position: fixed;
    /* scale background image down for iOS retina display */
    size: 200px;
  }
  padding-top: 55px;
}

.message {
  padding: {
    left: 2px; };
}

.stream_element,
.comments {
  overflow: auto;
  position: relative;
  text-align: left;
  * {
    max-width: 100%; }
  min-height: 34px;
  .avatar {
    @include border-radius(4px);

    float: left;
    height: 35px;
    width: 35px;
    margin: {
      right: 10px; }; }

  .from {
    a {
      color: #444;
      font-weight: bold;
    }
    margin-bottom: 2px;
    word-wrap: break-word;
    overflow: hidden;
    .time_notif {
      font-weight: normal;
      float: right;
      padding-right: 5px;
    }
  }

  > .content,
  .reshare > .content {
    padding: 10px {
      bottom: 0; }; }
  padding: 10px 0;
  .info {
    margin: {
      top: 0; }; }
  .photo_attachments {
    margin: {
      top: 6px; }; }
  .time {
    font: {
      weight: normal; }; }
  padding: 0 !important; 
}
.shield{
  padding: 10px;
  font-size: larger;
  }

.shield_wrapper{
    height: 100%;
    width: 100%;
    background-color: LightGrey;
    position: absolute;
    border-radius: 5px;
    z-index: 2;
}

.new_comment {
  padding: 10px;
}

.stream_element .comments {
  width: 100%;
  padding: 0;
  margin: 0;
  top: 3px;
  .content {
    padding: 0;
  }

  .comment {
    padding: {
      top: 10px;
      bottom: 5px;
    }
  }
}

.comment {
  border: {
    top: 1px solid #ccc; };
}

.login_error,
.login_alert {
  color: #DF0101;
  text-shadow: 1px 1px 5px #666;
}

.login_notice {
  color: rgb(10, 150, 10);
  text-shadow: 1px 1px 20px rgb(126, 240, 77); }

#login_form {
  padding: 0;

  /* ensure url bar is banished from view on iOS */
  margin-bottom: 40px !important;

  .login-container {
    padding: 10px;
  }
}

.stream_element, #login_form {
  @include border-radius(5px);
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));

  background-color: #fff;
  margin-bottom: 10px;

  border: 1px solid #bbb;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
}

.stream_element div.img img.avatar {
  margin: 10px;
}
.stream_element .bd {
  padding-top: 10px;
}
.photo_attachments {
  position: relative;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  img {
    @include border-radius(3px);
    margin: 0;
    padding: 0; } }


#main_stream {
  margin-left: -10px;
  margin-right: -10px;
  .from {
    white-space: nowrap;
    overflow: hidden;
  }
}

.more-link {
  -webkit-box-shadow: inset 0 1px 5px #777, 0 1px 1px rgba(0,0,0,0.4);
  display: block;
  text-align: center;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 5px;

  background: {
    color: rgba(220,220,220,0.8);
  }

  h1 {
    color: #999;
    padding: 20px;
    text-shadow: 0 2px 0 #fff; } }

.info {
  color: #ccc;
  font: {
    size: smaller;
  };
}

.via {
  font: {
    weight: bold;
  }
}

.via {
  a {
    color: #ccc; } }

.comment {
  .time {
    color: #777; } }

.info {
  margin: {
    top: -2px; }; }

.photo_mobile {
  border-radius: 0px 0px 5px 5px !important;
  font-size: 14px;
}

#show_content {
  padding-bottom: 24px;
  border-bottom: 1px solid #bbb;
  font-size: larger;
  text-align: center;

  img {
    max-width: 100%;
  }

  .photo {
    text-align: center;
    background-color: #FFFFFF; 
    border-style: solid; 
    border-width: 1px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-color: #DDDDDD #BBBBBB #AAAAAA;
    border-bottom-width: 0px;
    margin-top: 12px;
    min-height: 100px;
    line-height: 5;
  }

  .controls {
    font: {
      size: smaller; };
  }

  &.photos {
    border-bottom: 0px !important;
  }
}

#photo_controls {
  margin-bottom: 5px;
}

.arrow {
  color: white !important;
  font-size: 26pt;
  text: {
    shadow: 0 1px 2px #333;
    decoration: none; };
  padding: 0;
  position: fixed; 
  bottom: 10%;
  z-index: 1;
  height: 50px;
  width: 50px;
}

#left.arrow {
  left: 5%;
}

#right.arrow{
  right: 5%;
}

#author_info {
  height: 100%;
  position: relative;
  word-wrap: break-word;

  img {
    height: 90px;
    width: 90px;
    margin: {
      right: 10px;
    }
    position: absolute;
  }
  .content {
    padding: {
      left: 100px;
    };
  }

  .description {
    font: {
      weight: normal;
      size: small; };
    color: #999999; } }

.right {
  float: right; }

.navbar {
  @include box-shadow(0,1px,2px,#333);
}

.navbar-inner {
  @include box-shadow(0,1px,2px,#333);

  background: {
    image: image-url("header-bg-long.jpg");
  }

  width: 100%;
  z-index: 10;

  border: {
    bottom: 1px solid #222;
  }
}

#nav_badges {
  display: inline-block;
  float: right;
  padding: 4px 12px;  
}
  #nav_badges a:hover {
    text-decoration: none; }
  #nav_badges .badge {
    position: relative;
    display: inline;
    margin-left: 3px;
    padding: 8px 3px;
      padding-bottom: 9px;
    font-weight: bold;
    font-size: smaller;
    width: 28px; }
    #nav_badges .badge:hover .badge_count {
      background-color: #bd0902; }

.badge_count {
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  z-index: 3;
  position: absolute;
  top: 1px;
  padding: 0 2px;
    padding-bottom: 1px;
  background-color: #a40802;
  line-height: 12px;
  color: white;
  font-size: smaller;
}

#notification {
  right: 140px;
}

#conversation {
  right: 110px;
}

.badge-inverse {
  background-color: #333333 !important;
}

#header_title {
  position: relative;
  top: -3px;
}

footer {
  text-align: center;
  a,
  a:visited {
    color: #999;
    margin: 10px;
  }
  padding: {
    top: 20px;
    bottom: 20px;
  }
}

.bottom_bar {
  @include border-radius(0, 0, 5px, 5px);
  z-index: 3;
  display: block;
  position: relative;
  padding: 10px;
  padding-top: 8px;
  background: #eee;

  margin: {
    top: 10px; };

  border: {
    top: 1px solid #ddd;
  };

  min-height: 22px;

  > a,
  .show_comments {
    @include transition(color);
    color: #999;
    font-weight: bold;
  }

  .show_comments {
    position: relative;
    top: 3px;
    color: #ccc;
  }

  a.show_comments {
    color: #999;

    &.active:not(.bottom_collapse) {
      color: #444;
      padding: {
        right: 14px;
      }
      background: {
        image: image-url("icons/arrow_down_small.png");
        position: center right;
        repeat: no-repeat;
      }
    }
  }

  .show_comments.bottom_collapse {
    position: absolute;
    right: 10px;
    top: 14px;
    padding: 5px 10px;
  }

  #bottom_bar_tabs {
    display: table;
    width: 100%;
    text: {
      align: center;
    }
    border: {
      bottom: 1px solid #ccc;
    }
    font: {
      size: 28px;
    }
    color: #ccc;

    .tab {
      display: table-cell;
      position:relative;
      top: -5px;

      border: {
        right: 1px solid #ccc;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.floater {
  float: right; }

.stream_element .photo_attachments {
  @include border-radius(3px, 3px, 0, 0);

  border: {
    bottom: 1px solid #ccc;
  }

  img.big-stream-photo {
    @include border-radius(3px, 3px, 0, 0);
    width: 100%;
  }
  a {
    padding: 0; }
  margin-top: 0;
}

.photo_area {
  @include border-radius(3px);
  text-align: center; }

.image_link {
  display: inline-block;
  background: {
    size: 20px;
    repeat: no-repeat;
    position: center; };

  height: 13px;

  width: 20px;
  padding: 5px;

  margin: {
    left: 5px; };

  &.loading {
    background-image: image-url("mobile-spinner.gif");
  }
}

.reshare_action {
  background-image: image-url("icons/reshare_mobile.png");
  &.active {
    background-image: image-url("icons/reshare_mobile_active.png");
  }
}

.like_action {
  background-image: image-url("icons/heart_mobile_grey.png");
  &.active {
    background-image: image-url("icons/heart_mobile_red.png");
  }
}

.comment_action.image_link {
  background-image: image-url("icons/pencil_mobile_grey_active.png");
  &.inactive {
    background-image: image-url("icons/pencil_mobile_grey.png");
  }
}

#new_status_message {
  text-align: left;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;

  fieldset {
    padding: 10px;

    .service_icon {
      cursor: pointer;

      &.dim {
        @include opacity(0.6);
      }
    }
  }

  #message_container {
    @include box-shadow(0, 2px, 3px, #999);
    background-color: #fff;
    padding: 5px;
    border: {
      bottom: 1px solid #999;
    }
    .counter {
      font-size: 14px;
    }
  }

  textarea {
    @include border-radius(0);
    left: 0;
    border: none;
    margin: 10px 0;
    font-size: 14px;
    padding: 0;
    min-width: 100%;
  }
}

select {
  font-size: larger;
    padding: 7px;
}

.new_comment {
  padding: 10px 0;
  padding-top: 20px;
}

.comment.add_comment_bottom_link_container {
  position: relative;
  text-align: center;
  padding: 25px !important;
}

.post_stats {
  position: absolute;
  right: 8px;
  top: 31px;
  z-index: 2;

  span {
    color: #666;
    font-weight: bold;
    padding: 2px 7px;
    margin: 5px 6px;
    background: {
      color: #eee;
    }
  }
}

.additional_photo_count {
  @include opacity(0.5);

  position: absolute;
  padding: 3px 8px;
  font-weight: bold;
  background: #fff;
  border: 1px solid #222;
  border-bottom: 2px solid #111;
  bottom: 10px;
  right: 10px;
  line-height: 16px;
}

.new_status_message {
  min-height: 300px;
}

.reshare {
  border-bottom: 1px solid #ccc;
  padding: {
    bottom: 10px;
  }
  position: relative;

  .reshare_via {
    width: 100%;
    position: absolute;
    bottom: -7px;
    text-align: center;
    span {
      padding: 2px 10px;
      font-weight: bold;
      color: #999;
      background: {
        color: #fff;
      }
    }
  }
}

.compose_icon {
  height: 28px;
  width: 28px;
  margin-left: 10px;
}

.navbar-inner .right {
  position: absolute;
  right: 12px;
  top: 0px;
}

.navbar-fixed-top {
  position: fixed !important;
  max-height: 45px !important;
  min-height: 45px !important;
  height: 45px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  overflow: hidden;
}

.notifications {
  list-style: none;
}

.notification_day_header {
  margin-bottom: 5px;
}

#header-nav {
    font-weight: bold;
    height: 100%;
    margin-right: 5px;
    margin-top: 3px;
display: inline-block;	
}

#header-nav a {
    padding: 0 10px;
    width: 100%;
    color: #939393;
}

#header-nav > div {
  display: inline;
    font-weight: bold;
    margin: 0 2px;
    position: relative;
    width: 28px;
}

#conversation_inbox {
  margin: 10px 0 0 10px;
}

.message_count {
  border-radius: 2px 2px 2px 2px;
  float: right;
  margin: 10px 10px 1px 5px;
  padding: 0 2px 1px;
  position: relative;
  background-color: #999;
  color: #eee;
  font-size: 10px;
  line-height: 12px;

}

.conversation_participants img.avatar{
	height:35px;
	width:35px;
	margin: 5px 0 5px 2px;
}

.conversations img.avatar{
  margin: 10px;
  float: left;
}

.unread_message_count {
  border-radius: 2px 2px 2px 2px;
  float: right;
  margin: 10px 2px 1px 5px;
  padding: 0 2px 1px;
  position: relative;
  background-color: #B11;
  color: #EEE;
  font-size: 10px;
  line-height: 12px;
}

.last_author {
  position: relative;
  margin: 10px 10px 2px;
  float: right;
  font-size: 12px;
  color: #444;
}

.timestamp {
  position: relative;
  float: right;
  margin-left: 5px;
  font-weight: normal;
  color: #3F8FBA;
}

form#new_message.new_message input.button.creation{
	float: right;
	margin: 0 5px 5px;
}

h3.ltr {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

.ltr  {
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 15px 15px;
  vertical-align: baseline;
  word-wrap: break-word;
}

textarea#message_text {
  margin: 10px 0 10px;
}

form#new_conversation.new_conversation {
  background-color: #FFFFFF;
  border-bottom: 1px solid #999999;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 5px 0 5px 15px;
  padding: 5px 10px;
  h4 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;  
  }
  .span-10 {
    margin: 5px;
  }   
}

.span-2 {
   margin: 5px 5px;
   text-transform: uppercase;
}
  
.span-10 {
  width: 100%;
}

textarea#conversation_text {
  border: 0.2s;
  border-radius: 0 0 0 0;
  font-size: larger;
  left: 0;
  margin: 10px 0;
  width: 218px;
  padding: 0;
}

.bottom_submit_section {
  display: block;
  position: relative;
  text-align: right;
  padding-bottom: 5px;
}

.button.creation {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button.creation:hover,
.button.creation:focus,
.button.creation:active {
  color: #333333;
  background-color: #e6e6e6;
}

.button.creation:active {
  background-color: #cccccc \9;
}

.button.creation:first-child {
  margin-left: 0;
}

.button.creation:hover,
.button.creation:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.button.creation:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.registrations_error,
.registrations_notice {
  color: #DF0101;
  text-shadow: 1px 1px 5px #666; 
}

.registrations {
  margin: -45px;
}

form#new_user.new_user input.btn {
  white-space: normal;
}

.unread {
  background-color: LightGrey;
  .ltr {
    font-weight: bold;
  }
}

.read.stream_element {
  color: dimGray;
  .from {
    a {
      color: dimGray;
      font-weight: bold;
    }
  }
}

.conversation_error {
  color: #DF0101;
  text-shadow: 1px 1px 5px #666;
}

.conversation_notice {
  color: rgb(10, 150, 10);
  text-shadow: 1px 1px 20px rgb(126, 240, 77);
}

input#user_password, #user_username, #user_password_confirmation, #user_email {
  height: 30px;
}
  
#flash_notice,
#flash_alert,
#flash_error {
  .message {
    min-width: 200px;
    max-width: 400px;
  }
}

#session.message {
  padding: 10px 12px 8px;
}

#registration.message {
  padding: 1px
}

.session_mobile {
  margin-top: -55px;
}

h1.session {
  font-size: 40px; 
  font-weight: 200;
}

.landing  {
  padding: 20px;
  margin: -10px -20px 10px -20px;
  background-color:#4b4b4b;
  box-shadow: 0 3px 40px rgba(0,0,0,0.8);
  z-index: 10;
  position: relative;
  text-align: center;
}

form p.checkbox_select {
  position: relative;
  label {
    left: 25px;
    top: 4px;
    position: absolute;
    font-size: 1em;
  }
  img {
    position: relative;
    top: 6px;
  }
}

#profile_photo_upload {
  margin-top: 5px;
  min-height: 100px;
  position: relative;

  img {
    @include border-radius(5px);
    @include box-shadow(0,1px,2px,#666);
  
    position: absolute;
    left: 0;
    height: 100px;
    width: 100px;

    &.avatar {
      @include transition(opacity, 0.5s);
      &.loading {
        @include opacity(0.3);
      }
    }
  }
  padding-left: 120px;
}

#file-upload.button {
  @include border-radius(3px);
  @include button-gradient($light-grey);
  @include box-shadow(0,1px,1px,#cfcfcf);
  @include transition(border);

  display: inline-block;

  font {
    style: normal;
    size: 12px;
  }
  color: #505050;

  padding: 4px 9px;

  min-height: 10px;

  border: 1px solid;

  cursor: pointer;
  white-space: normal;

  &:hover {
    @include button-gradient-hover-no-saturation($light-grey);
    color: #505050;
    text-decoration: none;
    border: 1px solid;
  }
}

#settings_nav {
  font-size: 1em;

  ul {
    margin: 0 0 0 15px;
  }

  li {
    display: inline;
  }
}

form#update_profile_form {
  select {
    padding: 3px;
  }
}

select#user_language, #user_auto_follow_back_aspect_id, #aspect_ids_ {
  padding: 3px;
}

select#aspect_ids_ {
  width: auto !important;
}

#file-upload-spinner {
  top: 0px;
}

.hero-unit-mobile {
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  background-color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
  border-radius: 10px;
}

.search-mobile {
  text-align: center;
  padding-top: 30px;
}

input#q.search {
  margin-bottom: 20px;
}

#file-upload-publisher {
  bottom: 0px !important;
  display: inline-block;
  padding: 3px 12px;
  position: absolute !important;
  left: 20px;
  cursor: pointer;
    img {
      @include opacity(1);
      vertical-align: bottom;
    }
    &:hover {
      color: #666;
      cursor: pointer;

      img {
        @include opacity(0.4);
      }
    }
    &:active {
      color: #444;
      text-shadow: 0 1px 0 #fafafa;

      img  {
        @include opacity(1);
      }
    }
    &.loading {
      @include opacity(1);
    }
}

#publisher_textarea_wrapper {
  #hide_publisher  {
    @include opacity(0.3);
    z-index: 5;
    padding: 3px;
    position: absolute;
    right: 6px;
    top: 0;

    &:hover {
      @include opacity(1);
    }
  }

  @include border-radius(2px);

  background: #fff;

  &.active {
    border: 1px solid #999;
  }
  position: relative;
  padding-right: 10px;

  textarea {
    z-index: 2;
    border: none;

    &:focus {
      outline: 0;
      background: transparent;
    }
  }

  &.with_attachments {
    padding-bottom: 55px;
    border: 1px solid #CCCCCC;
  }

  #photodropzone {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0 !important;

    li {
      display: table-cell;
      padding-right: 4px;
        img {
          max-height: 55px;
        }
        .circle {
          @include border-radius(20px);
          display: none;
          z-index: 1;
          position: absolute;
          right: -7px;
          top: -5px;
          background-color: #333;
          width: 20px;
          max-width: 20px;
          height: 20px;
          max-height: 20px;

          border: 1px solid #fff;
        }
      .x  {
        display: none;
        z-index: 2;
        position: absolute;
        top: -4px;
        right: -1px;
        font-size: small;
        font-weight: bold;
        color: #FFFFFF;
      }

      &:hover {
        cursor: default;
        .circle {
          display: block;
        }
        .x {
          display: block;
        }
      }
    }
  }
}

#fileInfo-publisher {
  font-size: small;
  margin: 5px 2px;
  position: absolute;
  right: 10px;
  text-align: right;
  bottom: 25px;
}

.my_activity {
  height: 16px;
  width: 16px;
}

#big-number {
  font-size: 120px !important;
}

#content {
  font-size: 13px !important;
}
