@import 'bootstrap';
@import 'bootstrap-responsive';
@import "_mixins.css.scss";

$blue: #3f8fba;

a {
  color: #2489ce;
  text: {
    decoration: none; };
}

body {
  background: {
    image: image-url('texture/hatched-light.jpg');
    position: fixed;
    /* scale background image down for iOS retina display */
    size: 200px;
  }
  padding-top: 55px;
}

.message {
  padding: {
    left: 2px; };
}

.stream_element,
.comments {
  overflow: auto;
  position: relative;
  text-align: left;
  * {
    max-width: 100%; }
  min-height: 34px;
  .avatar {
    @include border-radius(4px);

    float: left;
    height: 35px;
    width: 35px;
    margin: {
      right: 10px; }; }

  .from {
    a {
      color: #444 !important;
      font-weight: bold;
    }
    margin-bottom: 2px;
    height: 45px;
  }

  > .content,
  .reshare > .content {
    padding: 10px {
      bottom: 0; }; }
  padding: 10px 0;
  .info {
    margin: {
      top: 0; }; }
  .photo_attachments {
    margin: {
      top: 6px; }; }
  .time {
    font: {
      weight: normal; }; }
  padding: 0 !important; 
}
.shield{
  padding: 10px;
  font-size: larger;
  }

.shield_wrapper{
    height: 100%;
    width: 100%;
    background-color: grey;
    position: absolute;
    border-radius: 5px;
    z-index: 2;
}

.new_comment {
  padding: 10px;
}

.stream_element .comments {
  width: 100%;
  padding: 0;
  margin: 0;
  top: 3px;
  .content {
    padding: 0;
  }

  .comment {
    padding: {
      top: 10px;
      bottom: 5px;
    }
  }
}

.comment {
  border: {
    top: 1px solid #ccc; };
}

.login_error,
.login_alert {
  color: rgb(208, 49, 43);
  text-shadow: 1px 1px 20px rgb(208, 49, 43); }

.login_notice {
  color: rgb(10, 150, 10);
  text-shadow: 1px 1px 20px rgb(126, 240, 77); }

#login_form {
  padding: 0;

  /* ensure url bar is banished from view on iOS */
  margin-bottom: 40px !important;

  .login-container {
    padding: 10px;
  }
}

.stream_element, #login_form {
  @include border-radius(5px);
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));

  background-color: #fff;
  margin-bottom: 10px;

  border: 1px solid #bbb;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
}

.photo_attachments {
  position: relative;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  img {
    @include border-radius(3px);
    margin: 0;
    padding: 0; } }


#main_stream {
  margin-left: -10px;
  margin-right: -10px;
}

.more-link {
  -webkit-box-shadow: inset 0 1px 5px #777, 0 1px 1px rgba(0,0,0,0.4);
  display: block;
  text-align: center;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 5px;

  background: {
    color: rgba(220,220,220,0.8);
  }

  h1 {
    color: #999;
    padding: 20px;
    text-shadow: 0 2px 0 #fff; } }

.info {
  color: #ccc;
  font: {
    size: smaller;
  };
}

.via {
  font: {
    weight: bold;
  }
}

.via {
  a {
    color: #ccc; } }

.comment {
  .time {
    color: #777; } }

.info {
  margin: {
    top: -2px; }; }

#show_content {
  padding: 12px;
  padding-bottom: 24px;
  border: {
    bottom: 1px solid #bbb; };
  background: {
    color: #fff; };

  font: {
    size: larger; };

  img {
    max-width: 100%; }

  .photo {
    text-align: center; }

  .controls {
    font: {
      size: smaller; };
  }

  &.photo {
    background: {
      color: #000; };
  }
}

#photo_controls {
  margin: {
    bottom: -42px; };
}

.arrow {
  color: white !important;
  font: {
    size: 26pt; };
  text: {
    shadow: 0 1px 2px #333;
    decoration: none; };
  padding: 0;
}

#author_info {
  height: 100px;
  position: relative;

  img {
    height: 90px;
    width: 90px;
    margin: {
      right: 10px;
    }
    position: absolute;
  }
  .content {
    padding: {
      left: 100px;
    };
  }

  .description {
    font: {
      weight: normal;
      size: small; };
    color: #999999; } }

.right {
  float: right; }

.navbar {
  @include box-shadow(0,1px,2px,#333);
  padding: 0 20px;
}

.navbar-inner {
  @include box-shadow(0,1px,2px,#333);

  background: {
    image: image-url("header-bg-long.jpg");
  }

  width: 100%;
  z-index: 10;

  border: {
    bottom: 1px solid #222;
  }
}

#nav_badges {
  display: inline-block;
}
  #nav_badges a:hover {
    text-decoration: none; }
  #nav_badges .badge {
    position: relative;
    display: inline;
    margin: 0 2px;
    padding: 8px 3px;
      padding-bottom: 9px;
    font-weight: bold;
    font-size: smaller;
    width: 28px; }
    #nav_badges .badge:hover .badge_count {
      background-color: #bd0902; }

.badge_count {
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  z-index: 3;
  position: absolute;
  top: -2px;
  left: 13px;
  padding: 0 2px;
    padding-bottom: 1px;
  background-color: #a40802;
  line-height: 12px;
  color: white; }

#header_title {
  position: relative;
  top: -3px;
}

footer {
  text-align: center;
  a,
  a:visited {
    color: #999;
    margin: 10px;
  }
  padding: {
    top: 20px;
    bottom: 30px;
  }
}

.bottom_bar {
  @include border-radius(0, 0, 5px, 5px);
  z-index: 3;
  display: block;
  position: relative;
  padding: 10px;
  padding-top: 8px;
  background: #eee;

  margin: {
    top: 10px; };

  border: {
    top: 1px solid #ddd;
  };

  min-height: 22px;

  > a,
  .show_comments {
    @include transition(color);
    color: #999;
    font-weight: bold;
  }

  .show_comments {
    position: relative;
    top: 3px;
    color: #ccc;
  }

  a.show_comments {
    color: #999;

    &.active:not(.bottom_collapse) {
      color: #444;
      padding: {
        right: 14px;
      }
      background: {
        image: image-url("icons/arrow_down_small.png");
        position: center right;
        repeat: no-repeat;
      }
    }
  }

  .show_comments.bottom_collapse {
    position: absolute;
    right: 10px;
    top: 14px;
    padding: 5px 10px;
  }

  #bottom_bar_tabs {
    display: table;
    width: 100%;
    text: {
      align: center;
    }
    border: {
      bottom: 1px solid #ccc;
    }
    font: {
      size: 28px;
    }
    color: #ccc;

    .tab {
      display: table-cell;
      position:relative;
      top: -5px;

      border: {
        right: 1px solid #ccc;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.floater {
  float: right; }

.stream_element .photo_attachments {
  @include border-radius(3px, 3px, 0, 0);

  border: {
    bottom: 1px solid #ccc;
  }

  img.big-stream-photo {
    @include border-radius(3px, 3px, 0, 0);
    width: 100%;
  }
  a {
    padding: 0; }
  margin-top: 0;
}

.photo_area {
  @include border-radius(3px);
  text-align: center; }

.image_link {
  display: inline-block;
  background: {
    size: 20px;
    repeat: no-repeat;
    position: center; };

  height: 13px;

  width: 20px;
  padding: 5px;

  margin: {
    left: 5px; };

  &.loading {
    background-image: image-url("mobile-spinner.gif");
  }
}

.reshare_action {
  background-image: image-url("icons/reshare_mobile.png");
  &.active {
    background-image: image-url("icons/reshare_mobile_active.png");
  }
}

.like_action {
  background-image: image-url("icons/heart_mobile_grey.png");
  &.active {
    background-image: image-url("icons/heart_mobile_red.png");
  }
}

.comment_action.image_link {
  background-image: image-url("icons/pencil_mobile_grey_active.png");
  &.inactive {
    background-image: image-url("icons/pencil_mobile_grey.png");
  }
}

#new_status_message {
  text-align: left;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;

  fieldset {
    padding: 10px;

    .service_icon {
      cursor: pointer;

      &.dim {
        @include opacity(0.6);
      }
    }
  }

  #message_container {
    @include box-shadow(0, 2px, 3px, #999);
    background-color: #fff;
    padding: 5px;
    border: {
      bottom: 1px solid #999;
    }
  }

  textarea {
    @include border-radius(0);
    left: 0;
    border: none;
    margin: 10px 0;
    font-size: larger;
    padding: 0;
    min-width: 100%;
  }
}

select {
  font-size: larger;
    padding: 7px;
}

.new_comment {
  padding: 10px 0;
  padding-top: 20px;
}

.comment.add_comment_bottom_link_container {
  position: relative;
  text-align: center;
  padding: 25px !important;
}

.post_stats {
  position: absolute;
  right: 8px;
  top: 31px;
  z-index: 2;

  span {
    color: #666;
    font-weight: bold;
    padding: 2px 7px;
    margin: 5px 6px;
    background: {
      color: #eee;
    }
  }
}

.additional_photo_count {
  @include opacity(0.5);

  position: absolute;
  padding: 3px 8px;
  font-weight: bold;
  background: #fff;
  border: 1px solid #222;
  border-bottom: 2px solid #111;
  bottom: 10px;
  right: 10px;
  line-height: 16px;
}

.new_status_message {
  min-height: 300px;
}

.reshare {
  border-bottom: 1px solid #ccc;
  padding: {
    bottom: 10px;
  }
  position: relative;

  .reshare_via {
    width: 100%;
    position: absolute;
    bottom: -7px;
    text-align: center;
    span {
      padding: 2px 10px;
      font-weight: bold;
      color: #999;
      background: {
        color: #fff;
      }
    }
  }
}

.compose_icon {
  height: 28px;
  width: 28px;
  margin-top: 3px;
}

.navbar-inner .right {
  position: absolute;
  right: 12px;
  top: 0px;
}

.navbar-fixed-top {
  position: fixed !important;
  max-height: 45px !important;
  min-height: 45px !important;
  height: 45px !important;
  overflow: hidden;
}

.notifications {
  list-style: none;
}

.notification_day_header {
  margin-bottom: 5px;
}

#header-nav {
    font-weight: bold;
    height: 100%;
    margin-right: 5px;
    margin-top: 3px;
display: inline-block;	
}

#header-nav a {
    padding: 0 10px;
    width: 100%;
    color: #939393;
}

#header-nav > div {
  display: inline;
    font-weight: bold;
    margin: 0 2px;
    position: relative;
    width: 28px;
}


#conversation_inbox .message_count {
  border-radius: 5px;

  float: right;
  right: 0px;
  margin: 5px 5px auto;
  padding: 5px;
  position: relative;
  background-color: #999;
  color: #eee;
  font-size: 25px;
  font-weight: bold;
}

.conversation_participants img.avatar{
	height:35px;
	width:35px;
	margin: 5px 0 5px 2px;
}
form#new_message.new_message input.button.creation{
	float: right;
	margin: 0 5px 5px;
}
