#right-sidebar-fixed-background {
  height: 100%;
  border-left: 1px solid $light-grey;
  background: $sidebars-background;
  position: fixed;
  right: 0;
}
#right-sidebar-fixed-sub-background {
  height: 100%;
  background: $sidebars-sub-background;
  position: fixed;
  right: 0;
}

.right-sidebar-padder {
  max-width: 400px;
}
.rightbar {
  padding-top: 20px;
  border-left: 1px solid $light-grey;
  background: $sidebars-background;

  .section {
    margin-bottom: 20px;

    > .title {
      border-bottom: 1px solid $border-grey;
      padding-bottom: 5px;

      &.no_icon { padding-left: 8px; }

      h5 {
        color: $text-dark-grey;
        font-weight: normal;
        font-size: $font-size-base;
        margin: 0;
      }
    }

    .content {
      color: $text-grey;
      font-size: $font-size-small;
      line-height: 18px;
      padding: 10px 0;

      p, ul { margin: 0; }

      ul {
        margin-bottom: 5px;
        padding-left: 0;
        li { list-style: none; }
      }

      .btn-link {
        font-size: $font-size-small;
        padding-left: 0;
      }

      & > #invite_code {
        box-sizing: border-box;
        font-size: $font-size-small;
        height: 30px;
        width: 100%;
      }

      & > #right_service_icons {
        text-align: center;
        padding: 10px {
          bottom: 0;
        };
        .social_media_logos-facebook-24x24,
        .social_media_logos-twitter-24x24,
        .social_media_logos-tumblr-24x24,
        .social_media_logos-wordpress-24x24 {
          height: 24px;
          width: 24px;
        }
        a {
          display: inline-block;
        }
      }
      .stream-faces{
        display: flex;
        flex-flow: row wrap;
        img{ margin: 1px; }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #right-sidebar-fixed-background {
    margin-right: 8.33333%; /* Only for LARGE screens, same as lg-offset-1 class, BS3 does not provide right side offsetting */
  }
}
