/* Fixed backgrounds are a common practice to avoid height issues */
#left-navbar-fixed-sub-background {
  background: $sidebars-sub-background;
  position: fixed;
  height: 100%;
}

#left-navbar-fixed-background {
  background: $sidebars-background;
  border-right: 1px solid $light-grey;
  position: fixed;
  height: 100%;
}

#left-navbar {
  background: $sidebars-background;
  border-right: 1px solid $light-grey;
  a {
    color: $link-grey;
    font-weight: bold;
    text-decoration: none;
    outline: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    &#stream_selection {
      margin: 0px -15px; /* -15px overrides Bootstrap's default gutter width */
    }
  }

  .hoverable {
    border-bottom: 1px solid $border-grey;
    color: $link-grey;
    display: block;
    font-weight: normal;
    padding: 10px 20px;

    &:hover, &:hover a, &:hover [class^="entypo"] {
      background-color: $blue;
      color: $white;
    }
  }

  .all_aspects a.hoverable.selected,
  .followed-tags-sidebar a.hoverable.selected,
  li.selected > a.hoverable {
    color: $white;
    background: $gray;
  }

  #aspects_list, #tags_list {
    background: $left-navbar-drawer-background;
    li { padding: 0; }
    .entypo-check { visibility: hidden; }
    .entypo-check.selected { visibility: visible; }
    .selectable {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 20px 10px 40px;
    }
    .hoverable > .action {
      position: relative;
      bottom: 30px;
      right: 20px;
      visibility: hidden;
    }
    .hoverable:hover > .action { visibility: visible; }
  }

  #home_user_badge {
    min-height: 90px;
    padding: 20px;
    margin: 0 -15px;

    .avatar {
      float: left;
      height: 50px;
      width: 50px;
    }

    h4 {
      margin: 0 0 0 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 25px;

      a {
        color: $black;
        font-weight: normal;
      }
    }
  }

  #tags_list {
    #new_tag_following {
      padding: 10px 20px 10px 30px;
    }

    /* ---- override app/stylesheets/vendor/autoSuggest.css ---- */
    .as-original{ width: 100%; }
    .tag_input {
      line-height: $font-size-base;
      vertical-align: top;
      width: 100%;
    }

    .as-result {
      margin-top: -1px;
      margin-left: 1px;
    }

    .as-list {
      em {
        background-color: #aabbcc;
        color: black;
        padding: 0px;
      }

      color: black;
      position: static; /* override absolute */
      margin: 0px;
      border-radius: 0px 0px 3px 3px;
      box-shadow: 0px 1px 1px #666;
    }

    .as-result-item.active {
      color: black;
      text-shadow: none;
      background-color: $background-blue;
      border-color: $background-blue;
    }
    /* ---- end override app/stylesheets/vendor/autoSuggest.css ---- */
  }
}
