@import 'mixins';
@import 'new_styles/new_mixins';
@import 'new_styles/variables';

/* custom animations */
@import 'new_styles/animations';

/* mainly for the post viewer & composer */
@import 'new_styles/base';
@import 'new_styles/composer';
@import 'new_styles/interactions';
@import 'new_styles/viewer_nav';

/* profile */
@import 'new_styles/canvas';
@import 'new_styles/spinner';
@import 'new_styles/profile';

/* font overrides */
@import 'new_styles/typography';

/* isotope */
@import 'new_styles/isotope_transitions';

/* login */
@import 'new_styles/registration';

@include video-overlay();