#notifications_container {
  .nav.nav-tabs{
    li > a {
      color: $text-dark-grey;
      .entypo {
        color: $text-dark-grey;
        margin-right: 5px;
      }
      .badge.badge-default { display: none; }
    }
    li.active > a {
      background-color: $background-grey;
      color: $black;
      .entypo { color: $black; }
    }
  }

  .stream {
    .header {
      border-bottom: 1px solid $border-grey;
      .btn-toolbar, h4 {
        margin-bottom: 10px;
        line-height: 40px;
      }
      margin-bottom: 10px;
    }

    .day_group {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dashed $border-grey;
      &:last-child { border-bottom: none; }
      .date {
        text-align: center;
        color: $light-grey;
        .day {
          font-size: 40px;
          line-height: 40px;
        }
        .month {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }

    .media, .media-body {
      overflow: visible;
    }

    .stream_element.media {
      padding: 10px;
      margin: 0px;
      font-size: 13px;
      line-height: 18px;
      border-bottom: 1px solid $border-grey;
      &:last-child { border: none !important; }

      &.unread {
        background-color: $background-grey;
        .unread-toggle {
          opacity: 1 !important;
          .entypo { color: $black; }
        }
      }

      &:hover {
        .unread-toggle { opacity: 1 !important; }
      }

      .avatar {
        width: 35px;
        height: 35px;
      }

      .unread-toggle {
        padding: 9px 5px;
        .entypo {
          cursor: pointer;
          color: lighten($black,75%);
          font-size: 17px;
          line-height: 17px;
        }
        opacity: 0;
      }

      .btn-group.aspect_membership_dropdown { margin: 5px 0; }
    }

    .pagination { text-align: center; }
  }
}
