.oembed {
  background: image-url("ajax-loader2.gif") no-repeat center center;
  margin: 10px auto;
  width: 100%;
  .thumb {
    @include video-overlay;
  }
  iframe, .thumb img {
    width: 100%;
    min-height: 60%;
  }
}
