.opengraph-container {
  width: 100%;
  display: block;
  text-decoration: none;
  font-style: normal;
  margin: 10px 0px 10px 0px;
  border: solid 1px #ddd;
  padding: 0px;
  overflow: hidden;
  border-radius: 3px;
  a {
    color: #000;
    .og-title {
      font-weight: bold;
    }
  }
  a:hover {
    color: $link-color;
  }

  .thumb {
    float: left;
    margin: 0px;
    margin-left: 0;
    max-width: 200px;
    padding-right: 5px;

    .video-overlay {
      cursor: pointer;
      height: 145px;
      width: 145px;
    }

    .overlay {
      background-color: rgba($black, .2);
      background-image: image-url('buttons/playbtn.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60px 60px;
      display: inline-block;
      height: 145px;
      position: relative;
      top: -145px;
      width: 145px;
    }
  }

  .og-description {
    color: $text-grey;
  }
}
