.opengraph {
  width: 100%;

  a {
    display: block;
    text-decoration: none;;
    color: #000;
    margin: 10px 0px 10px 0px;
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    padding: 10px 0px 5px 0px;
    overflow: hidden;

    img {
      margin: 0px 5px 5px 0px;
      float: left;
      max-width: 155px;
    }

    .og-title {
      margin-bottom: 5px;
    }
  }
}
