#people_search {
  #people_stream {
    .stream_element {
      border-bottom: 1px solid $border-grey;
      padding-right: 10px;
      .avatar {
        width: 50px;
        height: 50px;
      }
      .info { font-size: 11px; }
    }
  }
  #search_title {
    .term { font-weight: 700; }
    small { margin-left: 15px; }
  }
}
