@import 'new_styles/poll';

.poll_form {
  .pull-right {
    float: right;
  }
  label {
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    padding-left: 20px;

    input[type=radio] {
      float: left;
      margin-left: -20px;
    }
    &:HOVER {
      cursor: pointer;
    }
  }
  .progress {
    overflow: hidden;
    background-color: #f6f6f6;
    @include border-radius(4px);

    .bar {
      height: 100%;
      float: left;
    }
  }
}
