.popover {
  .close {
    @include opacity(0);
    @include transition(opacity, 0.2s);
    color: #000;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    right: -5px;
    top: -2px;

    &:hover {
      text-decoration: none;
    }

    img { margin-top: 10px; }
  }

  &:hover {
    .close {
      @include opacity(0.5);

      &:hover { @include opacity(1); }
    }
  }
}
body {
  .popover { z-index: 1000; }
}

