.popover {
  .close {
    @include opacity(0);
    @include transition(opacity, 0.2s);
    position: relative;
    top: 1px;
    right: -5px;
    float: right;
    .icons-deletelabel {
      height: 14px;
      width: 14px;
    }

    img { margin-top: 10px; }
  }

  &:hover {
    .close {
      @include opacity(0.5);

      &:hover { @include opacity(1); }
    }
  }
}
body {
  .popover { z-index: 1000; }
}

