
.profile_photo {
  img {
    height: auto;
    width: 200px;
  }
}

#profile {
  h3 { margin-bottom: 0; }
  ul {
    margin: 0;
    padding: 0;
  }

  ul#profile_information {
    margin: 1em 0;
    > li {
        margin-bottom: 2em;
        margin-right: 2em;
      h4 { font-weight: bold; }
      }
  }

  .image_list {
    .section {
      margin-bottom: 4px;
    }
    img {
      height: 45px;
      width: 45px;
    }
  }

  .blocked {
    background-color: rgb(244, 42, 42);
    .profile_button {
      width: 150px;
    }
  }
  .mutual {
    background-color: rgb(142, 222, 61);
    .profile_button {
      width: 50px;
    }
  }
  .only_sharing {
    background-color: rgb(142, 222, 61);
    .profile_button {
      width: 150px;
    }
  }
  .receiving {
    background-color: rgb(211, 211, 211);
    .profile_button {
      width: 75px;
    }
  }
  .not_sharing {
    background-color: rgb(211, 211, 211);
    .profile_button {
      width: 150px;
    }
  }

  #profile_buttons {
    width: 190px;
    padding-right: 10px;
    height: 28px;
    text-align: center;
    @include border-bottom-radius(8px);

    .sharing_message_container {
      float: left;
      padding: 5px 1px;
      @include opacity(0.3);
      background-color: white;
      @include border-bottom-left-radius(8px);
    }
    
    .profile_button {
      display: inline-block;
      text-align: center;
    }

    a { @include opacity(0.5); }
    a:hover { @include opacity(1); }
    
    .icons-check_yes_ok { 
      display: inline-block;
      height: 18px;
      width: 18px;
    }
    .icons-circle { 
      display: inline-block;
      height: 18px;
      width: 18px;
    }
    .icons-ignoreuser {
      display: inline-block;
      height: 14px;
      width: 14px;
      margin: 7px 0;
    }
    .icons-mention {
      display: inline-block;
      height: 18px;
      width: 19px;
      margin: 5px 0;
    }
    .icons-message {
      display: inline-block;
      height: 18px;
      width: 25px;
      margin: 5px 0;
    }
    .white_bar {
      display: inline-block;
      height: 18px;
      width: 1px;
      background-color: white;
      margin: 5px 0;
    }
  }
}
