#publisher {
  z-index: 1;
  color: $text-grey;
  margin: 0;

  &.closed {
    #button_container,
    #location_container,
    #hide_publisher,
    #photodropzone_container,
    .counter,
    .options_and_submit {
      display: none !important;
    }

    #publisher_textarea_wrapper { border: 1px solid $border-grey !important; }
  }

  .container-fluid{ padding: 0; }
  .mentions-autocomplete-list ul { width: 100% !important; }

  form {
    margin: 0;
    #fileInfo { display: none !important; }

    #publisher_spinner {
      margin: 20px;
      text-align: center;
    }

    .options_and_submit {
      padding: 10px 0;
      #publisher-service-icons {
        text-decoration: none;

        .entypo-cog, .service_icon {
          color: $text-grey;
          font-size: 16px;
          line-height: 16px;
        }
        .service_icon { padding: 6px 5px; }
        .btn.btn-link.question_mark:hover .entypo-cog { color: $black; }
        .dim { opacity: 0.3; }
        .social_media_logos-wordpress-16x16 {
          display: inline-block;
          height: 16px;
          width: 16px;
        }
      }

      @media(max-width: $screen-xs) {
        .btn-toolbar {
          width: 100%;
          display: flex;
          .btn, .aspect_dropdown{ flex-grow: 1; }
          .aspect_dropdown .btn { width: 100%; }
        }
        .btn-group:first-child { margin: 0; }
        .dropdown-menu.pull-right {
          left: 0;
          right: auto;
        }
      }
    }

    #publisher_textarea_wrapper {
      background-color: white;
      border-radius: 3px;
      border: 1px solid $border-dark-grey;

      input[type='text']#status_message_text {
        border: none;
        box-shadow: none;
        margin: 0;
      }

      textarea {
        border: none;
        margin: 0;
        box-shadow: none;
        resize: none;
        height: 50px;
      }

      &.active textarea {
        min-height: 70px;
      }

      .markdownIndications {
        line-height: 30px;
        padding-left: 10px;
        margin-bottom: 0;
        color: lighten($text-grey,20%);
        a { color: lighten($blue,20%); }
      }

      .mentions-input-box .mentions {
        line-height: $line-height-base !important;
      }

      &.with_attachments #photodropzone_container {
        border-top: 1px dashed $border-grey;
      }

      #poll_creator_container {
        display: none;
        border-top: 1px dashed $border-grey;
        padding:4px 6px 4px 6px;
        box-sizing: border-box;
        .remove-answer.entypo-cross {
          display: none;
          color: lighten($black,75%);
          &.active { display: block; }
          &:hover { color: $black; }
          line-height: 30px;
          font-size: 18px;
          cursor: pointer;
        }
      }

      &.with_location .loader {
        height: 20px;
        width: 20px;
      }
      &.with_location #location_container {
        height: 30px;
        margin-bottom: 0;
        border-top: 1px dashed $border-grey;
        input[type='text'] {
          border: none;
          color: $text-grey;
          height: 20px;
          margin-bottom: 0;
          padding: 0;
        }
      }
      &.active #button_container {
        border-top: 1px solid $border-grey;
      }

      #photodropzone {
        margin: 0;
        > li.publisher_photo {
          list-style: none;
          float: left;
          margin: 8px;
          height: 80px;
          width: 80px;
          overflow: hidden;
          line-height: 80px;
          vertical-align: middle;

          img {
            vertical-align: middle;
            width: 80px;
          }

          .x {
            display: none;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            text-align: center;
            background-color: white;
            color: black;
            font-size: 50px;
            line-height: 50px;
            font-weight: bold;
            position: absolute;
            z-index: 2;
            opacity: 0.85;
            cursor: pointer;
            top: 15px;
            left: 15px;

            &:before {
              content: '\2716';
              font-family: 'entypo';
            }
          }

          &:hover .x {
            display: inline-block;
          }

          .progress {
            width: 100%;
            height: 20px;
            margin: 30px 0;
          }

          .ajax-loader { display: none; }
        }
      }

      #upload_error {
        color: white;
        font-weight: bold;
        border-top: 1px solid white;
        background-color: $red;
        text-align: center;
      }

      #publisher-images {
        margin-right: 5px;
        #file-upload,
        #locator,
        #poll_creator,
        #hide_location {
          text-decoration: none !important;
          font-size: 16px;
          line-height: $line-height-computed;
          padding: 4px 2px;
          i {
            color: $text-grey;
          }
          &:hover{
            i { color: black; }
          }
          input[type='file'] {
            cursor: pointer;
            &::-webkit-file-upload-button {
              cursor: pointer;
            }
          }
        }
        #hide_location {
          display: none;
        }
      }
      &.with_location #publisher-images {
        #hide_location { display: inline-block; }
        #locator { display: none; }
      }

      .counter {
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 10px;
        bottom: -25px;
      }
      &.with_location .counter {
        bottom: -62px;
      }
      .warning {
        color: orange;
      }
      .exceeded {
        color: red;
      }
    }
  }

  .aspect_dropdown {
    .radio {
      min-height: 0;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
