#publisher {
  z-index: 1;
  color: $text-grey;
  
  &.closed {
    #button_container,
    #location_container,
    #hide_publisher,
    #photodropzone_container,
    .options_and_submit {
      display: none !important;
    }
    
    #publisher_textarea_wrapper { border: 1px solid $border-grey !important; }
  }
  
  .mentions-autocomplete-list ul { width: 100% !important; }
  
  form {
    margin: 0;
    #fileInfo { display: none !important; }
    #hide_publisher {
      margin-top: 10px;
    }
    
    #publisher_spinner {
      text-align: center;
    }
    
    .options_and_submit {
      #publisher_service_icons {
        .btn-link { text-decoration: none; }
        .btn-link.question_mark .entypo { color: $text-grey; }
        .btn-link.question_mark:hover .entypo { color: $black; }
        .btn-link.service_icon {
          padding-left: 5px;
          padding-right: 5px;
        }
        .dim { @include opacity(0.3); }
        .social_media_logos-wordpress-16x16 {
          display: inline-block;
          height: 16px;
          width: 16px;
        }
      }
    }
    
    #publisher_textarea_wrapper {
      background-color: white;
      border-radius: 3px;
      border: 1px solid $border-dark-grey;

      input[type='text']#status_message_text {
        border: none;
        box-shadow: none;
        margin: none;
      }

      textarea {
        border: none;
        margin: 0;
        box-shadow: none;
        resize: none;
        height: 50px;
      }

      &.active textarea {
        min-height: 70px;
      }
      
      .help-block {
        font-size: 13px;
        line-height: 30px;
        padding-left: 10px;
        margin-bottom: 0;
        color: lighten($text-grey,20%);
        a { color: lighten($blue,20%); }
      }
     
      .mentions-input-box .mentions {
        padding: 4px 6px !important;
        line-height: 20px !important;
        width: 100% !important;
      }

      &.with_attachments .row-fluid#photodropzone_container {
        border-top: 1px dashed $border-grey; 
      }

      .row-fluid#poll_creator_container {
        display: none;
        border-top: 1px dashed $border-grey;
        padding:4px 6px 4px 6px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .remove-answer.entypo.cross {
          display: none;
          color: lighten($black,75%);
          &.active { display: block; }
          &:hover { color: $black; }
          line-height: 30px;
          font-size: 18px;
          cursor: pointer;
        }
      }

      &.with_location .row-fluid#location_container {
        height: 30px;
        #hide_location { display: none !important; }
        border-top: 1px dashed $border-grey;
        input[type='text'] { 
          margin-bottom: 0;
          color: $text-grey;
        }
      }
      &.active .row-fluid#button_container { 
        border-top: 1px solid $border-grey;
      }

      #photodropzone {
        margin: 0;
        > li.publisher_photo {
          list-style: none;
          float: left;
          margin: 8px;
          height: 80px;
          width: 80px;
          overflow: hidden;
          line-height: 80px;
          vertical-align: middle;
            
          img {
            vertical-align: middle;
            width: 80px;
          }

          .x { 
            display: none;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            text-align: center;
            background-color: white;
            color: black;
            font-size: 50px;
            line-height: 50px;
            font-style: bold;
            position: absolute;
            z-index: 2;
            @include opacity(0.85);
            cursor: pointer;
            top: 15px;
            left: 15px;
            
            &:before {
              content: '\2716';
              font-family: 'entypo';
            }
          }

          &:hover .x {
            display: inline-block;
          }
          
          .progress { 
            width: 100%;
            height: 20px;
            margin: 30px 0;
          }
          
          .ajax-loader { display: none; }
        }
      }
      
      #upload_error {
        color: white;
        font-style: bold;
        border-top: 1px solid white;
        background-color: $red;
        text-align: center;
      }
      
      #publisher-images {
        margin-right: 5px;
        #file-upload,
        #locator,
        #poll_creator,
        #hide_location {
          text-decoration: none !important;
          font-size: 16px;
          padding: 4px 5px;
          i { 
            color: $text-grey;
          }
          &:hover{
            i { color: black; }
          }
          input[type='file'] { 
            cursor: pointer;
            &::-webkit-file-upload-button {
              cursor: pointer;
            }
          }
        }
        #hide_location {
          display: none;
        }
      }
      &.with_location #publisher-images {
        #hide_location { display: inline-block; }
        #locator { display: none; }
      }

      .counter {
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 70px;
        bottom: -31px;
        font-size: 13px;
      }
      &.with_location .counter {
        bottom: -62px;
      }
      .warning {
        color: orange;
      }
      .exceeded {
        color: red;
      }
    } 
  }

  .aspect_dropdown {
    .radio {
      min-height: 0px;
      padding-left: 0px;
    }
  }
}
