table.qrcode
  border-width: 0
  border-style: none
  border-color: #0000ff
  border-collapse: collapse
  tbody
    tr
      height: 4px
    td
      border-width: 0
      border-style: none
      border-color: #0000ff
      border-collapse: collapse
      padding: 0
      margin: 0
      width: 4px
      height: 4px
      &.white
        background-color: #fff
      &.black
        background-color: #000