#report {
  padding-top: 2em;
  span {
    display: block;
  }
  .content {
    float: left;
  }
  .options {
    float: right;
  }
  .clear {
    clear: both;
    border-bottom: 1px solid #808080;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}
