body {
  direction: rtl;
  text-align: right;
}

.stream-element .content {
  padding-right: 60px;
  padding-left: 0;
}

ul.as-selections li {
  float: right;
}

ul.as-selections li.as-selection-item a.as-close {
  float: left;
  margin: 0 0 0 3px;
}

ul.as-selections li.as-selection-item {
  padding: 3px 6px 3px 0;
}

#profile_photo_upload img {
  left: auto;
  right: 0;
}

#profile_photo_upload {
  padding-left: 0;
  padding-right: 120px;
}

label {
  right: 0.48em;
  left: auto;
}

ul, ol {
  margin: 0 0 1.5em 1.5em;
  padding-right: 3.333em;
}

.stream .stream-element time {
  right: auto;
  left: 20px;
}

.stream-element.conversation .message-count {
  right: auto;
  left: 10px;
}

.stream-element.conversation .timestamp {
  right: auto;
  left: 10px;
}

div.content span.rtl {
  display: block;
}
