#home_user_badge {
	min-height: 50px;
	margin-bottom: 20px;
	margin-left: 4px;

	img {
		float: left;
	}

	h4 {
		margin-left: 60px;
		padding-top: 15px;
		overflow: hidden;
		text-overflow: ellipsis;

		a {
			color: inherit;
			font-weight: bold;
		}
	}
}

#stream_selection {
	& > li {
		margin-bottom: 10px;
	}
}

#aspects_list {
	.icons-check_yes_ok {
		height:18px;
		width:18px;
		background: url('icons/check_yes_ok.png') no-repeat;
		float: left;
		visibility: hidden;
	}

	.selected {
		visibility: visible;
	}

	.selected + a {
		color: #333333;
	}
}

.modify_aspect {
	background: url("icons/pencil.png") no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
}

#tags_list {
	.delete_tag_following {
		background: url("icons/deletelabel.png") no-repeat;
	}

	/* ---- override app/stylesheets/vendor/autoSuggest.css ---- */
	.tag_input {
		width: 100%;
	}

	.as-result {
		margin-top: -1px;
		margin-left: 1px;
	}

	.as-list {
		em {
			background-color: #aabbcc;
			color: black;
			padding: 0px;
		}

		color: black;
		position: static; /* override absolute */
		margin: 0px;
		border-radius: 0px 0px 3px 3px;
		box-shadow: 0px 1px 1px #666;
	}

	.as-result-item.active {
		color: black;
		text-shadow: none;
		background-color: $background-blue;
		border-color: $background-blue;
	}
	/* ---- end override app/stylesheets/vendor/autoSuggest.css ---- */
}

.rightBar {

  padding-top: 20px;

  .section {
    margin-bottom: 20px;

    .title {
      position: relative;
      border-bottom: 1px solid $border-grey;
      padding-bottom: 2px;

      &.no_icon { padding-left: 8px; }

      .right {
        right: 4px;
        top: 3px;
        font-size: smaller;
        font-weight: bold;
        color: $text-dark-grey;
      }

      h5.title-header {
        margin-left: 5px;
      }

      h5 {
        font-size: 12px;
        margin: 0;
        color: $text-dark-grey;
        font-weight: bold;
      }
    }

    .content {
      padding: 8px;
      color: $text-grey;
      font-size: 11px;

      p, ul {
        margin: 5px 0px;
      }

      ul {
        padding-left: 0;

        li {
          list-style: none;
        }
      }

      & > #invite_code {
        width: 100%;
        box-sizing: border-box;
        font-size: 11px;
        height: 30px;
      }
    }
  }
}
