#single-post-container
  padding-top: 20px
#single-post-content
  #author
    .bd
      padding-left: 10px
  border-right: solid 1px #ccc
  padding-right: 10px
#single-post-interactions
  #likes, #reshares, #comments-meta
    padding-bottom: 5px
  .comment
    border-bottom: solid 1px #ccc
    padding-top: 10px
    padding-bottom: 10px

