#single-post-container {
  padding-top: 20px;
}

#single-post-content {
  border-right: solid 1px #cccccc;
  #head {
    padding-bottom: 10px;
    border-bottom: 1px solid $border-grey;
    #post-info {
      .author{ color: $grey; }
      .info {
        color: lighten($text-grey,10%);
        font-size: 12px;
        .post-time a { color: $text-grey; }
        .post_scope { margin-right: 5px; }
        .status-message-location {
          padding-top: 2px;
          line-height: $font-size-base;
        }
      }
      .bd {
        padding-left: 10px;
      }
    }
    .near-from {
      color: $text-grey;
      font-size: 12px;
      margin: 10px 20px 0px 15px;
    }
    .mapContainer {
      margin: 10px 20px 0px 15px;
    }
    .row.reshare {
      border-top: 1px solid lighten($border-grey,5%);
      padding-top: 10px;
      margin-top: 10px;
    }
    #reshare-info {
      line-height: 15px;
      i.entypo-reshare {
        color: $text-dark-grey;
        font-size: 28px;
        line-height: 30px;
        margin-left: 7px;
        margin-right: 7px;
      }
      .post-context {
        font-size: 12px;

        #single-post-moderation {
          margin-left: 5px;

          > div.control-icons {
            display: inline-block;
          }
        }
      }
      .post-time a {
        color: $text-grey;
        font-size: 12px;
      }
      .avatar {
        height: 30px;
        width: 30px;
      }
      .img { margin-right: 10px; }
    }
    #single-post-actions {
      i {
        font-size: 28px;
        line-height: 30px;
      }
      i.entypo-comment:hover {
        color: #424242;
      }
      .post_report i.gray:hover {
        color: $red;
      }
      i.entypo-heart.gray:hover {
        color: $red;
      }
      i.entypo-heart.red:hover {
        color: #f55f5a;
      }
      i.entypo-reshare:hover {
        color: #3f8fba;
      }
      time {
        float: right;
        margin-left: 3px;
      }
      a {
        margin: 0 0 0 6px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  #body {
    margin-left: 20px;
    padding-top: 20px;
    width: auto;

    #real-post-content div.reshare {
      border-left: 2px solid #DDD;
      padding-left: 10px;
    }

    .nsfw-off { display: none; }
    .nsfw-shield { display: none; }
    .oembed { width: 95%; }
    .photo_attachments {
      img.big_stream_photo { max-width: 90%; }
    }
  }
}

#single-post-interactions {
  border-left: 1px solid #cccccc;
  position: relative;
  left: -1px;
  margin-left: 0;
  padding-left: 15px;

  .comment.media .img {
    margin-left: 5px;
  }

  .no_comments {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $background-grey;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  a {
    color: $blue;
  }
  .count {
    i {
      display: inline-block;
      text-align: center;
      width: 25px;
      vertical-align: middle;
    }
    span {
      margin-left: -3px;
      width: 30px;
      display: inline-block;
      text-align: center;
    }
  }
  #reshares, #likes, #comments-meta {
    margin-left: 7px;
    margin-bottom: 8px;
    img{ display: inline; }
  }

}
