#main_stream .stream_element,
#main_stream > div > .photo {
  & > .media {
    margin: 0px;
  }
  &.deleting {
    > .media { opacity: 0.3; }
    .control-icons { display: none !important; }
  }
}

#main_stream > div > .photo {
  & > .media {
    overflow: visible;
    > .bd {
      position: relative;
      overflow: inherit;
      > .control-icons {
        border-radius: 4px;
        padding-left: 5px;
        position: absolute;
        right: 6px;
        text-align: center;
        top: 1px;
      }
    }
    &:hover > .bd > .control-icons { background: $white; }
  }
  .thumbnail {
    padding: 10px;
    margin: 0 0 15px;
    background: $white;
    border-radius: 0;
    box-shadow: $card-shadow;
    img.big_photo { max-height: 200px; }
  }
}

#main_stream .stream_element {
  padding: 10px;
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid $light-grey;
  box-shadow: $card-shadow;

  & > .media {
    &.shield-active .nsfw-hidden { display: none; }
    &:not(.shield-active) .nsfw-shield { display: none; }
    &:not(.shield-off) .nsfw-off { display: none; }
    & > .img > .avatar {
      margin-top: 5px;
      &.small {
        height: 50px;
        width: 50px;
      }
    }
    .author-name {
      font-weight: bold;
      margin-bottom: 4px;
      unicode-bidi: bidi-override;
    }
    a.author-name { color: $blue; }
    .feedback {
      margin-top: 5px;
      font-size: $font-size-small;
      line-height: $font-size-small;
    }
    .post-content p:last-of-type { margin-bottom: 0; }
    .nsfw-shield {
      color: $text-grey;
      padding: 5px 10px;
      background-color: $background-grey;
      border: 1px solid $border-grey;
      border-radius: 3px;
    }
  }

  .permalink {
    @include transition(opacity);
    opacity: 0;
  }

  &:hover .permalink {
    opacity: .8;
    &:hover { opacity: 1; }
  }

  div.reshare {
    border-left: 2px solid $border-grey;
    margin-top: 3px;

    & > .media .avatar {
      margin-top: 5px;
      height: 30px;
      width: 30px;
    }
  }

  .collapsible {
    overflow: hidden;
    position: relative;
    .markdown-content hr {
      width: 85%;
      margin: 0.8em auto;
      border-top: 1px solid $border-grey;
    }
    .expander {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      text-align: center;
      line-height: 48px;
      font-size: .8em;
      color: $grey;
      text-shadow: 0 0 7px #FFF;
      cursor: pointer;
      border-bottom: 2px solid $border-grey;
      border-radius: 0 0 3px 3px;
      @include linear-gradient(rgba(255,255,255,0) , #EEE, 0%, 95%);
      background-color: transparent;
    }
  }

  &.highlighted {
    padding-left: 8px;
    border-left: 3px solid $brand-primary;
  }

  &.post_preview {
    background-color: lighten($brand-primary,45%);
    border: 1px solid $brand-primary;
  }
}

.stream_element {
  .likes,
  .reshares {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;

    .author-name,
    .bd {
      display: inline-block;
    }

    .author-name { margin-right: 3px; }

    .entypo-heart,
    .entypo-reshare {
      display: inline-block;
      font-size: 16px;
      line-height: $line-height-computed;
      margin-right: 5px;
      vertical-align: top;
    }
  }

  .status-message-location {
    color: $text-grey;
    font-size: $font-size-small;
  }

  .leaflet-control-zoom {
    display: block;
  }
}
