.stream_container {
	border-left: 1px solid $border-grey;
	padding-left: 10px;
	padding-top: 20px;
	margin-left: -10px;
	margin-top: -20px;
  #publisher {
    margin-bottom: 15px;
  }
  .well#ignore-info { text-align: center; }
}
