body.page-streams, body.page-photos {
  background-color: $sidebars-sub-background;
}

.stream_container {
  #publisher {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .well#ignore-info { text-align: center; }
}