.tag {
  display: inline-block;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    background-color: lighten($blue, 47%);
  }
}

a.tag { color: $blue; }

h1.tag {
  border-bottom: 2px dotted $blue;
  &:hover { border-bottom: 2px dotted $blue; }
}

.info {
  .tag {
    background-color: #efefef;
    color: $text-grey;
    border-bottom: 1px dotted $border-dark-grey;
    &:hover { border-bottom: 1px solid $border-dark-grey; }
  }
}
.page-tags {
  background-color: $sidebars-background;
  #tags_show {
    #left-navbar-fixed-background { border-right: none; }
    .col-md-3 {
      h4 { margin: 25px 0 15px; }
      .side_stream #people_stream {
        .name { display: block; }
        .name, .diaspora_handle {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .col-md-7 {
      .tag-following-action {
        max-width: 100%;
        input[type="submit"] {
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }
}
