.tag {
  display: inline-block;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    background-color: lighten($blue, 47%);
  }
}

h1.tag {
  border-bottom: 2px dotted $blue;
  &:hover { border-bottom: 2px dotted $blue; }
}

.info {
  .tag {
    background-color: #efefef;
    color: $text-grey;
    border-bottom: 1px dotted $border-dark-grey;
    &:hover { border-bottom: 1px solid $border-dark-grey; }
  }
}
