.icon-checkbox {
  i {
    color: $medium-gray;
    cursor: pointer;
    font-size: 32px;
  }

  [type="checkbox"] {
    display: none;
  }

  [type="checkbox"]:checked ~ i {
    color: $black;
  }
}

.notification-text {
  margin-left: 16px;
}

.hidden-bell {
  color: transparent;
  font-size: 32px;
}

.email-prefs {
  align-items: center;
  display: grid;
  grid-template-columns: 60px 60px auto;

  .icon-cell {
    justify-self: center;
  }
}
