%p
  Today is the day that alpha invites for Diaspora are handed out.
  Chances are you were one of the first to support Diaspora.
%p
  We are elated to offer you a first glimpse of our Alpha release. 
  We know there still are bugs and missing features, but we are excited by the progress we made in these short months.
%p
  We would love your feedback, as it is the users of Diaspora which should drive what it becomes.
%p
  For suggestions, feature requests, or bug reports, please use the "Feedback" link found on the left side of the page.  
%p
  Find more details on what what we have released on our blog, http://blog.joindiaspora.com
