%p
  Hello #{@resource.email}!
%p
  #{(@resource.inviters.count == 1)? ( @resource.inviters.first.real_name + " has") : (@resource.inviters.map{|inv| inv.real_name}.join(",") + " have")} invited you to #{root_url}, you can accept it through the link below.
%p= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token)
%p
  If you don't want to accept the invitation, please ignore this email.
  %br/
  Your account won't be created until you access the link above and sign up.
