.settings_container.applications-page
  - content_for :page_title do
    = t('.edit_applications')

  = render 'shared/settings_nav'

  .container-fluid
    .row
      .col-md-12.applications-explenation
        = t('.applications_explanation')
      .col-md-12
        = render 'add_remove_applications'

