.container-fluid.settings_container.applications-page
  .row
    .col-lg-10.col-lg-offset-1
      - content_for :page_title do
        = t(".edit_applications")
      = render "shared/settings_nav"
  .row
    .col-md-12
      = render "add_remove_applications"
