---
layout: default
title: Blog Archives
---
%h2 Blog Archives

- posts = site.posts.group_by { |p| p.date.strftime("%Y") }
- posts.keys.each do |year|
  %h3= year
  %ul
    - posts[year].each do |post|
      %li(class="#{(post.data['link'] ? "link" : nil )}")
        = link_to(post.title, post.url)
        %span.pubdate= post.date.strftime("%d %b, %Y")