---
layout: page
title: Blog Archive
nometa: true
---
{% for post in site.posts reverse %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
  {% unless year == this_year %}
    {% unless forloop.first %}</ul>{% endunless %}
    {% assign year = this_year %}
    <h2>{{ year }}</h2>
    <ul class="blog_archives">
  {% endunless %}
  {% unless month == this_month %}
    {% assign month = this_month %}
    <li><h4>{{ month }}</h4></li>
  {% endunless %}
  <li>
    <time datetime="{{ post.date | datetime }}" pubdate>{{ post.date | date: "%d"}}</time>
    <a href="{{ post.url }}">{{post.title}}</a>
  </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
