---
layout: default
title: Typography Debug
---

%h1 Level 01 Heading
%h2 Level 02 Heading
%h3 Level 03 Heading
%h4 Level 04 Heading
%h5 Level 05 Heading
%h6 Level 06 Heading

%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sodales ligula sed urna. Aliquam posuere arcu
  viverra erat. Pellentesque et enim dapibus ante facilisis bibendum. Nam congue dapibus urna. Vestibulum consequat
  arcu at magna. Nunc faucibus mollis lacus. Nulla tempor luctus tellus. Donec blandit lobortis pede. Vestibulum
  vel pede ut urna eleifend lacinia.
%p
  Maecenas ligula nibh, imperdiet at, interdum eget, sagittis eu, enim. Vivamus vel urna. Donec fringilla
  ullamcorper sem. In risus arcu, pellentesque cursus, faucibus cursus, consequat quis, est. Aliquam id erat.
  Aliquam arcu. Phasellus vulputate. Integer sem diam, mattis vel, viverra ullamcorper, ultricies quis, nisl. Sed
  sollicitudin quam ut nisi. Vivamus velit sapien, volutpat eu, faucibus id, nonummy id, urna.
%p
  Praesent iaculis pellentesque est. Nulla facilisi. Etiam fringilla vehicula orci. Aliquam fermentum ipsum id
  nulla. Aliquam interdum laoreet leo. Cras accumsan. Nam pharetra diam id nunc. Integer blandit tellus vulputate
  felis. Cras aliquam, eros in euismod aliquam, enim nisl mollis metus, quis fringilla ipsum diam ut pede. Mauris a
  libero ac velit interdum pulvinar. Nunc ipsum mauris, semper rhoncus, feugiat ut, egestas id, diam. Nullam
  porttitor condimentum risus. Vivamus nec enim eget nisi commodo euismod. Ut turpis. Nullam malesuada rutrum
  neque. Nam sodales porta elit. Mauris mollis nisl vel augue.

%h3 Unordered lists
%ul
  %li Lorem ipsum dolor sit amet
  %li Consectetur adipisicing elit
  %li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
  %li Ut enim ad minim veniam

%h3 Ordered lists
%ol
  %li Consectetur adipisicing elit
  %li Sed do eiusmod tempor incididunt ut labore
  %li Et dolore magna aliqua
  
%h3 Blockquotes
%blockquote
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h3 Tables
%table
  %caption
    Jimi Hendrix - albums
    %thead
      %tr
        %th Album
        %th Year
        %th Price
    %tfoot
      %tr
        %td Album
        %td Year
        %td Price
    %tbody
      %tr
        %td Are You Experienced
        %td 1967
        %td $10.00
      %tr
        %td Axis: Bold as Love
        %td 1967
        %td $12.00
      %tr
        %td Electric Ladyland
        %td 1968
        %td $10.00
      %tr
        %td Band of Gypsys
        %td 1970
        %td $12.00
%p
  %a(href="#")Link
  %br/
  %strong &lt;strong&gt;
  %br/
  %del &lt;del&gt; deleted
  %br/
  %dfn &lt;dfn&gt; dfn
  %br/
  %em &lt;em&gt; emphasis
  %br/

%pre
  %code
    &lt;html&gt;
    &lt;head&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;div class = "main"&gt; &lt;div&gt;
    &lt;/body&gt;
    &lt;/html&gt;

%tt
  &lt;tt&gt;
  Pellentesque tempor, dui ut ultrices viverra, neque urna blandit nisi, id accumsan dolor est vitae risus.
%hr