@import "mixins";

#hovercard {
  @include border-radius(2px);
  @include box-shadow(0, 0, 5px, #666666);

  position: relative;
  background-color: $background;
  height: 70px;
  border: 1px solid #999999;

  .avatar {
    position: relative;
    height: 70px !important;
    width: 70px !important;
    top: 0 !important;

    margin: {
      right: 10px;
      left: 0;
    }
  }

  padding: 5px {
    bottom: 25px;
  };


  h4 {
    margin-bottom: 10px;
  }

  a {
    color: $blue;
    font-weight: bold !important;
  }

  .hovercard_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;

    width: 100%;
    min-height: 19px;

    font-size: smaller;

    border-top: 1px solid #cccccc;

    .footer_container {
      padding: 1px 5px;

      .hashtags {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      a {
        color: #999999;
        margin-right: 4px;
        font-weight: normal;
      }
    }
  }
}

#hovercard_container {
  position: absolute;
  display: none;
  z-index: 10;

  min-width: 250px;
  max-width: 300px;

  padding: 10px {
    top: 5px;
  }
}
