<ul id="aspects_list" class="sub_nav">
  <a class="toggle_selector" href="#">
    Select All o no
  </a>
  <li>
    <a class="new_aspect" href="/aspects/new" rel="facebox">t('.add_an_aspect')</a>
  </li>
</ul>
