<a href="/contacts?a_id={{id}}" class="action modify_aspect"></a>
{{#if selected}}
  <div class="icons-check_yes_ok selected"></div>
{{else}}
  <div class="icons-check_yes_ok"></div>
{{/if}}
<a href="/aspects/query" class="selectable" data-guid="{{id}}"> {{name}} </a>
