<div class="btn-group aspects_dropdown check-group">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="text"></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#" class="public" data-aspect-id="public" data-visibility="public"><i class='icon-ok'/><span>Public</span></a></li>
        <li><a href="#" class="all-aspects" data-aspect-id="all_aspects" data-visibility="all-aspects"><i class='icon-ok'/><span>All Aspects</span></a></li>

        <li class="divider"></li>
        {{#each current_user.aspects}}
            <li><a href="#" data-aspect-id="{{id}}"  data-visibility="custom"><i class='icon-ok'/><span>{{name}}</span></a></li>
        {{/each}}

    </ul>
</div>

<input type="hidden" class="aspect_ids"/>

