<a href="/aspects/{{id}}/edit" class="action modify_aspect" rel="facebox"></a>
{{#if selected}}
  <div class="icons-check_yes_ok selected"></div>
{{else}}
  <div class="icons-check_yes_ok"></div>
{{/if}}
<a href="/aspects/query" class="selectable" data-guid="{{id}}"> {{name}} </a>
