<div class="canvas-frame">
    <div class="content">
        <img src="https://joindiaspora.s3.amazonaws.com/uploads/images/scaled_full_bb076dd0d45f0caa4478.gif"/>
    </div>
    <div class="info">
        Daniel Grippi
    </div>
</div>

<div class="canvas-frame width x2">
    <div class="content">
        <p>
            Here, he discusses how globalisation has exacerbated income inequalities and the control over politics exerted by the rich, citing the Occupy movement which he describes as a 'public relations hazard not a health hazard'
        </p>

        <p>
            Echo park wolf kale chips sunt, dolor scenester deserunt ad cray leggings 3 wolf moon thundercats direct trade. Banksy placeat odd future et, ex gastropub elit whatever. Messenger bag eu fanny pack, pitchfork locavore four loko yr marfa forage. Mcsweeney's hoodie terry richardson exercitation, consectetur commodo banh mi ullamco laboris cliche raw denim salvia selvage in nulla. Lo-fi chambray culpa, dreamcatcher fugiat squid portland nihil high life. Quis VHS blog sunt sint, salvia wes anderson fingerstache portland eiusmod ex consectetur synth enim. Tattooed aliquip proident id, lomo aliqua qui pitchfork hella cosby sweater pariatur vero.        </p>

    </div>
    <div class="info">
        Dennis Collinson
    </div>
</div>

<div class="canvas-frame">
    <div class="content">
        <img src="https://joindiaspora.s3.amazonaws.com/uploads/images/scaled_full_7dbfea26846d99848aac.jpg"/>
    </div>
    <div class="info">
        Sarah Mei
    </div>
</div>


<div class="canvas-frame">
    <div class="content">
        <h1>
            sometimes, i say things loud.
        </h1>
    </div>
    <div class="info">
        Sean Tilley
    </div>
</div>

<div class="canvas-frame height x2">
<div class="content">
    <h1>
        this is a longish status but i don't have that much to say.  i guess i can keep on typing or something like that or make this a run-on sentance.
    </h1>
</div>
<div class="info">
    Daniel Grippi
</div>
</div>

<div class="canvas-frame width x2">
<div class="content">
    <p>
        Echo park wolf kale chips sunt, dolor scenester deserunt ad cray leggings 3 wolf moon thundercats direct trade. Banksy placeat odd future et, ex gastropub elit whatever. Messenger bag eu fanny pack, pitchfork locavore four loko yr marfa forage. Mcsweeney's hoodie terry richardson exercitation, consectetur commodo banh mi ullamco laboris cliche raw denim salvia selvage in nulla. Lo-fi chambray culpa, dreamcatcher fugiat squid portland nihil high life. Quis VHS blog sunt sint, salvia wes anderson fingerstache portland eiusmod ex consectetur synth enim. Tattooed aliquip proident id, lomo aliqua qui pitchfork hella cosby sweater pariatur vero.
    </p>

</div>
<div class="info">
    Dennis Collinson
</div>
</div>

<div class="canvas-frame height width x2">
<div class="content">
    <img src="http://24.media.tumblr.com/tumblr_lzwkez5ew31qzxz2so1_500.jpg"/>
</div>
<div class="info">
    Sarah Mei
</div>
</div>


<div class="canvas-frame">
<div class="content">
    <h1>
        #weinerjuice
    </h1>
</div>
<div class="info">
    Sean Tilley
</div>
</div>

<div class="canvas-frame width x2">
<div class="content">
    <img src="http://hipsteripsum.wpengine.netdna-cdn.com/wp-content/uploads/2011/08/cropped-asian_hipster.jpg"/>
</div>
<div class="info">
    Rosanna Yau
</div>
</div>

<div class="canvas-frame height x2">
<div class="content">
    <h3>
        Banksy placeat odd future et, ex gastropub elit whatever. Messenger bag eu fanny pack, pitchfork locavore four loko yr marfa forage. Mcsweeney's hoodie terry richardson exercitation, consectetur commodo banh mi ullamco laboris cliche raw denim salvia selvage
        Banksy placeat odd future et, ex gastropub elit whatever. Messenger bag eu fanny pack, pitchfork.
    </h3>
</div>
<div class="info">
    Sarah Mei
</div>
</div>

<div class="canvas-frame width height x2">
    <div class="content">
        <img src="http://28.media.tumblr.com/tumblr_m02dfqdQT31qfzxa7o1_500.jpg"/>
    </div>
    <div class="info">
        Daniel Grippi
    </div>
</div>


<div class="canvas-frame">
    <div class="content">
        <p>
            Banksy placeat odd future et, ex gastropub elit whatever. Messenger bag eu fanny pack, pitchfork locavore four loko yr marfa forage. Mcsweeney's hoodie terry richardson exercitation, consectetur commodo banh mi ullamco laboris cliche raw denim salvia selvage
        </p>
    </div>
    <div class="info">
        Daniel Grippi
    </div>
</div>




<div class="canvas-frame">
    <div class="content">
        <h1>
            skribblex.
        </h1>
    </div>
    <div class="info">
        Rosanna Yau
    </div>
</div>

<div class="canvas-frame height x2">
    <div class="content">
        <img src="http://28.media.tumblr.com/tumblr_ln5654hJrs1qd33kzo1_1280.jpg"/>
    </div>
    <div class="info">
        Sarah Mei
    </div>
</div>

<div class="canvas-frame">
    <div class="content">
        hey there kids!
    </div>
    <div class="info">
        Daniel Grippi
    </div>
</div>


<div class="canvas-frame width x2">
    <div class="content">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1821180&show_artwork=true"></iframe>
    </div>
    <div class="info">
        Rosanna Yau
    </div>
</div>

