<div class="event-name control-group">
  <input class="input-block-level" placeholder="{{t 'publisher.set_event_name'}}" type="text" name="event_name">
</div>
<div class="event-date control-group">
  <input class="input-block-level" placeholder="{{t 'publisher.set_event_date'}}" type="text" name="event_date">
</div>
<div class="event-location control-group">
  <input class="input-block-level" placeholder="{{t 'publisher.set_event_location'}}" type="text" name="event_location">
</div>
