{{#if event}}
  <div class="event-block">
    <div class="row-fluid event-heading">
      <h5><strong>{{event.event_name}}</strong></h5>
    </div>
    <div class="row-fluid event-body">
      <p>{{event.event_location}}</p>
      <p>{{event.event_date}}</p>
    </div>
  </div>
{{/if}}
