<div id="framer">
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <div class="row">
                    <div class="span4 offset1">
                        <h3>
                            Make something!
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="flow-content"/>
                </div>
                <div class="row">
                    <div class="flow-controls">
                        <div class="controls"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

