<div id="framer">
    <div class="container">
        <div class="row">
            <div class="span8 offset2">
                <div class="row">
                    <div class="flow-content"/>
                </div>
                <div class="row">
                    <div class="span8">
                        <div class="flow-controls">
                            <div class="controls"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

