<div class="preview"> </div>

<div class='template-picker'>
    {{#each templates}}
    <input id='frame_name_{{name}}' name="frame_name" type="radio" class="mood" value={{name}} {{#if checked}}checked=checked{{/if}} />
    <label for='frame_name_{{name}}'>{{name}}</label>
    {{/each}}
</div>
