<div class="framer-controls">
    <div class="controls">
        <button class="done btn-primary">done</button>
        <div class='template-picker'></div>
    </div>
</div>
<div class="post-view"></div>