
<div id="section_header">
  <h2 class="help_header">Help</h2>
</div>
<div class="span-5">
  <div id='faq_nav'>
    <ul>
      <li><a href="" class="faq-link-getting-help" data-section="getting_help" data-items="">Getting help</a></li>
      <li><a href="" class="faq-link" data-section="account_and_data_management" data-items="move_pods download_data close_account data_visible_to_podmin data_other_podmins">Account and data management</a></li>
      <li><a href="#" class="faq-link" data-section="aspects" data-items="what_is_an_aspect who_sees_post restrict_posts_i_see contacts_know_aspect contacts_visible remove_notification rename_aspect change_aspect_of_post post_multiple_aspects person_multiple_aspects delete_aspect">Aspects</a></li>
      <li><a href="#" class="faq-link" data-section="mentions" data-items="what_is_a_mention how_to_mention mention_in_comment see_mentions">Mentions</a></li>
      <li><a href="#" class="faq-link" data-section="pods" data-items="what_is_a_pod find_people use_search_box">Pods</a></li>
      <li><a href="#" class="faq-link-posts-and-posting" data-section="posts_and_posting" data-items="hide_posts format_text insert_images">Posts and posting</a></li>
      <li><a href="#" class="faq-link" data-section="private_posts" data-items="who_sees_post can_comment can_reshare see_comment">Private posts</a></li>
      <li><a href="#" class="faq-link" data-section="private_profiles" data-items="who_sees_profile whats_in_profile who_sees_updates">Private profiles</a></li>
      <li><a href="#" class="faq-link" data-section="public_posts" data-items="who_sees_post find_public_post can_comment_reshare_like see_comment_reshare_like deselect_aspect_posting">Public posts</a></li>
      <li><a href="#" class="faq-link" data-section="public_profiles" data-items="who_sees_profile whats_in_profile who_sees_updates what_do_tags_do">Public profiles</a></li>
      <li><a href="#" class="faq-link" data-section="resharing_posts" data-items="reshare_public_post_aspects reshare_private_post_aspects">Resharing posts</a></li>
      <li><a href="#" class="faq-link-sharing" data-section="sharing" data-items="">Sharing</a></li>
      <li><a href="#" class="faq-link" data-section="tags" data-items="what_are_tags_for tags_in_comments followed_tags people_tag_page filter_tags">Tags</a></li>
      <li><a href="#" class="faq-link" data-section="miscellaneous" data-items="back_to_top photo_albums subscribe_feed diaspora_app">Miscellaneous</a></li>
    </ul>
  </div>
</div>

<div class="span-19 last" id=faq>
</div>