<div id="hovercard">
  <a class='person_avatar'>
    <img class="avatar"></a>
    <h4><a class="person"></a></h4>

    <div class="handle"></div>
    
    <ul style="width: 100%;">
      <li><div id="hovercard_dropdown_container"></div></li>

      <li style="width: 45px; float:right">
      
        
        <a class = "mention">
          <span id="mention_button" class="profile-header-icon" title="{{t 'people.mention'}}" data-placement="bottom" data-toggle="modal" data-target="showMentionModal">@</span>
        </a>
        
       
      
        <a class="message">
          <i id="message_button" class="entypo-mail profile-header-icon" title="{{t 'people.message'}}" data-placement="bottom" data-toggle="modal" data-target="showMessageModal"></i>
        </a>
      
      
      </li>

    </ul>
   
  <div class="card-footer">
    <div class="footer-container">
      <div class="hashtags"></div>
    </div>
  </div>
</div>
