<div id="hovercard">
  <img class="avatar">
  <h4>
    <a class="person"></a>
  </h4>
  <div class="handle"></div>
  <div id="hovercard_dropdown_container"></div>
  <div class="hovercard_footer">
    <div class="footer_container">
      <div class="hashtags"></div>
    </div>
  </div>
</div>
