{{#if likesCount}}
  <div class="comment">
    <div class="media">
      <i class="entypo-heart"></i>

      <div class="bd">
        {{#unless displayAvatars}}
          <a href="#" class="expand-likes gray">
            {{t "stream.likes" count=likesCount}}
          </a>

        {{else}}

          {{#each likes}}
            {{#linkToAuthor author}}
              {{{personImage this 'small' 'micro'}}}
            {{/linkToAuthor}}
          {{/each}}
        {{/unless}}
      </div>
    </div>
  </div>
{{/if}}
