<div class="container">
<div class='post-header'> </div>
    <!--Temp hacks-->
    {{#if o_embed_cache}}
        {{#if o_embed_cache.data}}
            {{{o_embed_cache.data.html}}}
        {{/if}}
    {{/if}}

    <header>{{{headline}}}</header>
    <section class="body">{{{body}}}</section>
    <section class="photo_viewer"></section>
    <div id="post-interactions"> </div>
</div>