{{#if open_graph_cache}}
  <a href="{{open_graph_cache.url}}" target="_blank">
    <div>
      <h3>{{open_graph_cache.title}}</h3>
      <img src="{{open_graph_cache.image}}" />
      <p>{{open_graph_cache.description}}</p>
      <br />
    </div>
  </a>
{{/if}}
