{{#unless o_embed_cache}}
  {{#if open_graph_cache}}
    <a href="{{open_graph_cache.url}}" target="_blank">
      <div>
        <img src="{{open_graph_cache.image}}" />
        <strong>{{open_graph_cache.title}}</strong>
        <p>{{open_graph_cache.description}}</p>
      </div>
    </a>
  {{/if}}
{{/unless}}
