<div class="poll-question control-group">
  <div class="controls">
    <input class="span12" placeholder="{{t 'publisher.question' }}" type="text" name="poll_question">
  </div>
</div>
<div class="poll-answers">
  <div class="poll-answer control-group">
    <div class="controls">
      <input type="text" name="poll_answers[]" placeholder="{{t 'publisher.option' }}">
      <div class="remove-answer icons-deletelabel"></div>
    </div>
  </div>
  <div class="poll-answer control-group">
    <div class="controls">
      <input type="text" name="poll_answers[]" placeholder="{{t 'publisher.option' }}">
      <div class="remove-answer icons-deletelabel"></div>
    </div>
  </div>
</div>

