<div class="poll-question control-group">
  <input class="input-block-level" placeholder="{{t 'publisher.question' }}" type="text" name="poll_question">
</div>
<div class="poll-answers">
  <div class="poll-answer row-fluid">
    <div class="span11">
      <input type="text" class="input-block-level" name="poll_answers[]" placeholder="{{t 'publisher.option' }}">
    </div>
    <div class="span1">
      <i class="remove-answer entypo cross"></i>
    </div>
  </div>
  <div class="poll-answer row-fluid">
    <div class="span11">
      <input type="text" class="input-block-level" name="poll_answers[]" placeholder="{{t 'publisher.option' }}">
    </div>
    <div class="span1">
      <i class="remove-answer entypo cross"></i>
    </div>
  </div>
</div>
