<h3 class="span8">
    Make something!
</h3>

<div class="span8 new_picture"/>

<div class='span8'>
    <form class="new-post">
        <fieldset>
            <textarea name="text" id='post_text' class="text span8" placeholder="Add Text">{{text}}</textarea>
            <textarea id="text_with_markup" style="display:none;"/>
        </fieldset>
    </form>
</div>
