<div class="new_picture"/>

<form class="new-post">
    <fieldset>
        <textarea name="text" id='post_text' class="text span8" placeholder="Add Text">{{text}}</textarea>
        <textarea id="text_with_markup" style="display:none;"/>
    </fieldset>
</form>
