<div class="container">
    <div id="new-post" class="row">
        <div class='span8 offset2 new-post-section'>
            <form class="new-post">
                <fieldset>
                    <legend>
                        New Post
                    </legend>
                    <textarea name="text" class="text span8"/>
                    <textarea id="text_with_markup" style="display:none;"/>
                </fieldset>
            </form>

            <div class="new_picture"/>
        </div>
    </div>
</div>
