<div class='span5'>
    <form class="new-post">
        <fieldset>
            <legend>
                Make Something!
            </legend>
            <textarea name="text" id='post_text' class="text span8" placeholder="Add Text"/>
            <textarea id="text_with_markup" style="display:none;"/>
        </fieldset>
    </form>
</div>

<div class="span3 new_picture"/>
