<div id="author-info"></div>

<div id="top-right-nav">
    <a href="/" id="home-button">
        <span class="label label-inverse">
            <i class="icon-home icon-white"></i>
            <span>
                {{t "viewer.home"}}
            </span>
        </span>
    </a>
</div>

<div id="post-content"> </div>
<div id="post-nav"> </div>
<div id="post-interactions"> </div>
