<div id="edit-controls">
    editing...
</div>

<section id="profile-info"/>

<a href="/posts/new">COMPOSE</a> |
<a href="#" id="edit-mode-toggle">EDIT</a>

<section id="canvas">

</section>

<div id=paginate><span class="loader hidden"/></div>
