<section id="profile_info">
    <h1>{{full_name}}</h1>
    <div>
        Gender: {{gender}}
    </div>
    <div>
        Bio: {{bio}}
    </div>
    <div>
        Birthday: {{birthday}}
    </div>
</section>
<section id="canvas">

</section>
