<div id="top-right-nav">

    {{#unless isOwnProfile}}
        <a href="#" onClick="alert('Not yet implemented!')" id="follow-button">
            <span class="label label-inverse">
                <i class="icon-plus icon-white"></i>
                <span>
                    FOLLOW
                </span>
            </span>
        </a>
    {{/unless}}

    <a href="/" id="home-button">
        <span class="label label-inverse">
            <i class="icon-home icon-white"></i>
            <span>
                HOME
            </span>
        </span>
    </a>
</div>


<section id="profile-info"/>

<div id="composer" style="display:none;">
    <iframe src="/posts/new" height=500 width=700 style="border:none;"></iframe>
</div>

<section id="profile-controls">
    {{#if isOwnProfile}}
        <a href="#composer" class="control small" rel="facebox">
            <img src='{{imageUrl "buttons/pub@2x.png"}}' title="New Post" rel="tooltip"/>
        </a>
        <a href="#" id="edit-mode-toggle" class="control small">
            <img src='{{imageUrl "buttons/edit@2x.png"}}' title="Edit Posts" rel="tooltip"/>
        </a>
    {{/if}}
</section>

<section id="canvas"/>

<div id="paginate"><span class="loader hidden"/></div>