<div id="edit-controls">
    editing...
</div>

<section id="profile-info"/>

<section id="profile-controls">
    {{#if isOwnProfile}}
        <a href="/posts/new"  class="control">
            <img src='{{imageUrl "buttons/add_post.jpg"}}' />
        </a>
        <a href="#" id="edit-mode-toggle" class="control">
            <img src='{{imageUrl "buttons/edit_canvas.png"}}' />
        </a>
    {{/if}}
</section>

<section id="canvas">

</section>

<div id=paginate><span class="loader hidden"/></div>
