<div id="top-right-nav">
    {{#if showFollowButton}}
        <a href="#" onClick="alert('Not yet implemented!')" id="follow-button">
            <span class="label label-inverse">
                <i class="icon-plus icon-white"></i>
                <span>
                    FOLLOW
                </span>
            </span>
        </a>
    {{/if}}

    {{#if current_user.guid}}
        <a href="/" id="home-button">
            <span class="label label-inverse">
                <i class="icon-home icon-white"></i>
                <span>
                    HOME
                </span>
            </span>
        </a>
    {{else}}
        <a href="/" id="home-button">
            <span class="label label-inverse">
                <span>
                    DIASPORA
                </span>
            </span>
        </a>
    {{/if}}

    {{#if isOwnProfile}}
        <a href="/users/sign_out" title="Log out" id="logout-button">
            <span class="label label-inverse">
                <i class="icon-off icon-white"></i>
            </span>
        </a>
    {{/if}}
</div>

<section id="profile-info"/>

<div id="composer" style="display:none;">
    <iframe src="/posts/new" height=500 width=700 style="border:none;"></iframe>
</div>

<section id="profile-controls">
    {{#if isOwnProfile}}
        <a href="#composer" id="composer-button" class="control small" rel="facebox">
            <img src='{{imageUrl "buttons/pub@2x.png"}}' title="New Post" rel="tooltip"/>
        </a>
        <a href="#" id="edit-mode-toggle" class="control small">
            <img src='{{imageUrl "buttons/edit@2x.png"}}' title="Edit Posts" rel="tooltip"/>
        </a>
    {{/if}}
</section>

<section id="canvas"></section>

<div id="paginate"><span class="loader hidden"/></div>