<div id='single-post-container' class='container-fluid'>
  <div class='row-fluid'>
    <div id='single-post-content' class='span6'>
    </div>
    <div id='single-post-interactions' class='span6'>
    </div>
  </div>
</div>
