<div class="content">

    {{#if photos}}
        <div class="image-set">
            {{#each photos}}
                <div class="image-container">
                    <img src="{{sizes.large}}" />
                </div>
            {{/each}}
        </div>
    {{/if}}

    <div class="text-content">
        {{text}}
    </div>
</div>
<div class="info">
</div>
