<div id="stream">
    <div class="container">
        <div class="row">
            <section id="stream-content" class="span4 offset1"/>

            <!--Since stream-interactions is fixed, we need a double span5 declaration here :(-->
            <div class="span6">
                <section id="stream-interactions" class="span6"/>
            </div>
        </div>
    </div>
</div>