<div class="media author">
    {{#linkToPerson author}}
        <div class="img">
            <div class="profile-image-container smaller" style="background-image : url('{{avatar.large}}')"></div>
        </div>
    {{/linkToPerson}}

    <div class="bd">
        {{#linkToPerson author}}
            {{name}}
        {{/linkToPerson}}
    </div>
</div>

<div class="small-frame"></div>
