<div id="stream">
    <div class="container">
        <div class="row">
            <div class="span5">
                <section id="stream-content"/>
            </div>
        </div>
    </div>
</div>