<a class="tag_selector" href="/tags/{{name}}">
  #{{ name }}
</a>

<div class="unfollow_icon hidden">
  <a href="#" id="unfollow_{{name}}" rel="nofollow" class="delete tag_following_delete" title="{{t "delete"}}">
    <div alt="Deletelabel" class="icons-deletelabel"></div>
  <a/>
</div>
