<div class="photo-fill" data-img-src="{{backgroundUrl}}" style="background-image: url({{backgroundUrl}})">
  <div class="darken">
    <div class="darken-content">
      <header>{{{headline}}}</header>
      <section class="body">{{{body}}}</section>
    </div>
  </div>
</div>
