<form accept-charset="UTF-8" action="/upload_wallpaper" class="new_photo" data-remote="true" enctype="multipart/form-data" method="post" style="position:absolute; left:10px; top: 10px; opacity:0.4;">
    <input name="authenticity_token" type="hidden"/>
    <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓"/>
    </div>

    <div id='photo_upload_button'>
        <a href="#" class='label label-inverse'>
            <i class="icon-picture icon-white" style="margin-right:4px;"></i>CHANGE WALLPAPER
        </a>
        <input name="photo[user_file]" type="file"/>
    </div>
</form>
