%footer.footer
  .container
    .powered-by-diaspora.pull-left
      = link_to t("layouts.application.powered_by"), "https://diasporafoundation.org"
    %ul#footer_nav.pull-right
      = render partial: "shared/links"
