-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%header
  - unless current_user
    .dark-header
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .row
            .col-md-12
              .navbar-header
                %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar-collapse"}}
                  %span.sr-only
                    = t("layouts.header.toggle_navigation")
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                = link_to AppConfig.settings.pod_name, root_path, class: "navbar-brand"

              .collapse.navbar-collapse#navbar-collapse
                = render "layouts/header_not_connected"
