.not-connected-menu
  .navbar-header.navbar-left
    .hidden-xs
      = link_to AppConfig.settings.pod_name, root_path, class: "navbar-brand"
    .visible-xs#header-title
      = link_to(image_tag("branding/logos/asterisk_white_mobile.png", class: "img-responsive"),
          root_path, class: "navbar-brand")

  %ul.nav.navbar-nav.navbar-right
    - if AppConfig.settings.enable_registrations? && !current_page?(controller: "/registrations", action: :new)
      %li= link_to t("devise.shared.links.sign_up"), new_user_registration_path, class: "login"
    %li= link_to t("devise.shared.links.sign_in"), new_user_session_path, class: "login"
