body > nav {
  > div > div {
    float: right;
    position: relative;
    padding: .45em 0 0 0;
    a {
      float: right;
      @include replace-text-with-dimensions('rss.png');
    }
    form {
      margin: 0; padding: 0;
      @include background-clip(padding-box);
      input[type='text']{
        margin: 0;
        @include border-radius(1em);
        float: left;
        border: 1px solid #ccc;
        color: #888;
        background: image-url('search.png') no-repeat .5em .4em #f6f6f6;
        padding: .4em .8em .1em 1.8em;
        line-height: 1.35em;
        font-size: .85em;
        &:focus {
          color: #444;
          border-color: #80b1df;
          @include box-shadow(#80b1df 0 0 4px, #80b1df 0 0 3px inset);
          background-color: #fff;
          outline: none;
        }
      }
    }
  }
  @extend .group;
  position: relative;
  z-index: 1;
  background-color: $nav-bg;
  @include background-image(linear-gradient(#fcfcfc, #f4f4f4 0.3, #dddddd));
  border: {
    top: 1px solid $nav-border-top;
    bottom: 1px solid $nav-border-bottom; };
  ul {
    position: relative;
    @include horizontal-list;
    margin: 0 auto;
    padding: .5em 0;
  }
  ul li {
    padding: 0 1em;
    margin: 0;
    border-left: 1px solid $nav-border-left;
    border-right: 1px solid $nav-border-right;
    &:first-child {
      border-left: none;
      padding-left: 0; }
    &:last-child {
      border-right: 0; }
    a {
      display: inline-block;
      color: $nav-color;
      line-height: 150%;
      text-decoration: none;
      &:hover {
        color: $nav-color-hover;
      }
    }
  }
}
