#articles + aside {
  section {
    @extend .sans-font;
    font-size: .8em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  ul {
    margin-bottom: 0.5em;
  }
  li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
