#tweets {
  a {
    color: #666;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  li:hover a[href*='status']{
    color: #666;
  }
  p {
    position: relative;
    padding-right: 1.4em;
  }
  a[href*='status']{
    color: #ccc;
    position: absolute;
    top: 0;
    right: -.5em;
    text-decoration: none;
    padding: 0 .5em .1em;
    text-shadow: #fff 0 1px;
    span:last-child {
      display: none;
      font-size: .7em;
    }
    span:first-child {
      font-size: 1.1em;
    }
    &:hover {
      span:first-child{ display: none; }
      span:last-child{ display: inline-block; }
      background: #e5e5e5;
      @include box-shadow($sidebar-bg -2px 2px 8px 8px);
      @include border-radius(1em);
      text-decoration: none;
      line-height: 1.2em;
      span:last-child {
        color: #444;
        //text-shadow: #eee 0 1px;
      }
    }
  }
  a[href*='twitter.com/search']{
    @extend .aside-alt-link;
    &:hover {
      text-decoration: underline;
    }
  }
}
